
@font-face {
    font-family: 'myriad_set_pro';
    src: url('../fonts/myriad-set-pro_bold-webfont.eot');
    src: url('../fonts/myriad-set-pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriad-set-pro_bold-webfont.woff2') format('woff2'),
         url('../fonts/myriad-set-pro_bold-webfont.woff') format('woff'),
         url('../fonts/myriad-set-pro_bold-webfont.svg#../fonts/myriad_set_probold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'myriad_set_pro';
    src: url('../fonts/myriad-set-pro_semibold-webfont.eot');
    src: url('../fonts/myriad-set-pro_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriad-set-pro_semibold-webfont.woff2') format('woff2'),
         url('../fonts/myriad-set-pro_semibold-webfont.woff') format('woff'),
         url('../fonts/myriad-set-pro_semibold-webfont.svg#../fonts/myriad_set_prosemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
  font-family: 'myriad_set_pro';
  src: url("../fonts/myriad-set-pro_medium-webfont.eot");
  src: url("../fonts/myriad-set-pro_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/myriad-set-pro_medium-webfont.woff2") format("woff2"), url("../fonts/myriad-set-pro_medium-webfont.woff") format("woff"), url("../fonts/myriad-set-pro_medium-webfont.svg#../fonts/myriad_set_promedium") format("svg");
  font-weight: 500;
  font-style: normal; 
}  
@font-face {
    font-family: 'myriad_set_pro';
    src: url('../fonts/myriad-set-pro_text-webfont.eot');
    src: url('../fonts/myriad-set-pro_text-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriad-set-pro_text-webfont.woff2') format('woff2'),
         url('../fonts/myriad-set-pro_text-webfont.woff') format('woff'),
         url('../fonts/myriad-set-pro_text-webfont.svg#../fonts/myriad_set_protext') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'clear_sans';
    src: url('../fonts/ClearSans-Thin-webfont.eot');
    src: url('../fonts/ClearSans-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Thin-webfont.woff') format('woff'),
         url('../fonts/ClearSans-Thin-webfont.ttf') format('truetype'),
         url('../fonts/ClearSans-Thin-webfont.svg#clear_sans_thinregular') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'myriad_set_pro';
    src: url('../fonts/myriad-set-pro_ultralight-webfont.eot');
    src: url('../fonts/myriad-set-pro_ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriad-set-pro_ultralight-webfont.woff2') format('woff2'),
         url('../fonts/myriad-set-pro_ultralight-webfont.woff') format('woff'),
         url('../fonts/myriad-set-pro_ultralight-webfont.svg#../fonts/myriad_set_proultralight') format('svg');
    font-weight: 100;
    font-style: normal;
}