.body,html{
    font-size: 16px;
    margin: 0px; 
    padding: 0px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
}
body{
  overflow-x: hidden;
}
a{
  outline: none;
}
.wrap{
  flex: 1;
}

.fsi{
  position: relative;
  top: 80px;
  opacity: 0;
  transition: .7s;
}
.fsi_active{
  top: 0px;
  opacity: 1;
}
.fi{
  opacity: 0;
  transition: .7s;
}
.fi_active{
  opacity: 1;
}
.slideUp{
  position: relative;
  top: 80px;
  transition: .7s;
}
.slideUp_active{
  top: 0px;
}
@media only screen and (max-width: 768px){
  body, html{
    font-size: 14px;
    min-height: 100vh;
    color: #232323;
  }
}

*{
    box-sizing: border-box;
}
.container{
    width: 92%;
    margin: 0 auto;

    &_small{
      width: (985%/1280 *100);
    }
}
h1,h2,h3{
  font-weight: 400;
  margin: 10px 0;
}

.title-subtext{
    font-size: (20em/16);
    display: block;
    text-align: center;
    width: 65%;
    font-weight: 200;
    margin: 15px auto 0;
    font-family: 'Open Sans', sans-serif;
}
.slide-hover{
  position: relative;
  transition: .3s;
  overflow: hidden;

  .hover{
    width: 100%;
    bottom: 0;
    position: absolute;
    left: 0;
  }
  span{
    position: relative;
    z-index: 2;
  }
}
.title{
  text-align: center;
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: (36em/16);
}
.link-button{
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  position: relative;
  font-size: (12em/16);
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  text-decoration: none;
  padding: 16px 45px;
  text-align: center;
  min-width: 284px;
  display: inline-block;
  margin-top: 30px;
  overflow: hidden;
  transition: .3s;

  .hover{
      background: white;
      z-index: 1;
      bottom: -100%;
  }

  &_blue{
    border-color: #0095ff;
    color: #0095ff;

    .hover{
      background: #0095ff;
    }
  }
}
@media only screen and (max-width: 768px){
  .container{
    width: 95%;
  }
}
@media only screen and (max-width: 425px){
  body, html{
    font-size: 13px;
  }
  .not-for-mobile{
    display: none;
  }
  .title-subtext{
    width: 80%;
  }
}
.slick-track{
  display: flex !important;
  align-items: stretch;
}
.slick-slide{
  height: auto !important;
}
.box{
  overflow: hidden;
}