.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr_next {
	font-size:(45/10)*1rem;
	width:(17/45)*1em;
}
.icon-arr_prev {
	font-size:(45/10)*1rem;
	width:(17/45)*1em;
}
.icon-arr_prev_white {
	font-size:(46/10)*1rem;
	width:(18/46)*1em;
}
.icon-arr_right {
	font-size:(5/10)*1rem;
	width:(15/5)*1em;
}
.icon-briefcase {
	font-size:(46/10)*1rem;
	width:(60/46)*1em;
}
.icon-calendar {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-check {
	font-size:(34/10)*1rem;
	width:(38/34)*1em;
}
.icon-earth {
	font-size:(63/10)*1rem;
	width:(61/63)*1em;
}
.icon-eye {
	font-size:(10/10)*1rem;
	width:(16/10)*1em;
}
.icon-fb {
	font-size:(18/10)*1rem;
	width:(10/18)*1em;
}
.icon-fb_sh {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-hands {
	font-size:(57/10)*1rem;
	width:(71/57)*1em;
}
.icon-info {
	font-size:(16/10)*1rem;
	width:(5/16)*1em;
}
.icon-inst {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-lock_bottom {
	font-size:(10/10)*1rem;
	width:(14/10)*1em;
}
.icon-lock_top {
	font-size:(13/10)*1rem;
	width:(10/13)*1em;
}
.icon-mark {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-ok {
	font-size:(25/10)*1rem;
	width:(14/25)*1em;
}
.icon-play {
	font-size:(58/10)*1rem;
	width:(60/58)*1em;
}
.icon-portmane {
	font-size:(63/10)*1rem;
	width:(56/63)*1em;
}
.icon-power {
	font-size:(51/10)*1rem;
	width:(46/51)*1em;
}
.icon-purse {
	font-size:(56/10)*1rem;
	width:(56/56)*1em;
}
.icon-ru {
	font-size:(15/10)*1rem;
	width:(22/15)*1em;
}
.icon-search {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-settings {
	font-size:(55/10)*1rem;
	width:(55/55)*1em;
}
.icon-star {
	font-size:(13/10)*1rem;
	width:(14/13)*1em;
}
.icon-star_in_star {
	font-size:(62/10)*1rem;
	width:(62/62)*1em;
}
.icon-start_stop {
	font-size:(10/10)*1rem;
	width:(18/10)*1em;
}
.icon-telegram {
	font-size:(21/10)*1rem;
	width:(23/21)*1em;
}
.icon-timeline {
	font-size:(120/10)*1rem;
	width:(1186/120)*1em;
}
.icon-tooltip {
	font-size:(12/10)*1rem;
	width:(14/12)*1em;
}
.icon-tooltipArr {
	font-size:(30/10)*1rem;
	width:(40/30)*1em;
}
.icon-vk {
	font-size:(15/10)*1rem;
	width:(27/15)*1em;
}
.icon-vk_sh {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-youtube {
	font-size:(16/10)*1rem;
	width:(23/16)*1em;
}
 