.flag {
    background-image: url(../pictures/flags.png);
    background-repeat: no-repeat;
    display: block;
}

.flag-cz {
    width: 22px;
    height: 15px;
    background-position: -5px -5px;
}

.flag-de {
    width: 22px;
    height: 15px;
    background-position: -5px -30px;
}

.flag-en {
    width: 22px;
    height: 15px;
    background-position: -5px -55px;
}

.flag-es {
    width: 22px;
    height: 15px;
    background-position: -5px -80px;
}

.flag-et {
    width: 22px;
    height: 15px;
    background-position: -5px -105px;
}

.flag-fr {
    width: 22px;
    height: 15px;
    background-position: -5px -130px;
}

.flag-hu {
    width: 22px;
    height: 15px;
    background-position: -5px -155px;
}

.flag-lt {
    width: 22px;
    height: 15px;
    background-position: -5px -180px;
}

.flag-lv {
    width: 22px;
    height: 15px;
    background-position: -5px -205px;
}

.flag-pl {
    width: 22px;
    height: 15px;
    background-position: -5px -230px;
}

.flag-ru {
    width: 22px;
    height: 15px;
    background-position: -5px -255px;
}

.flag-sk {
    width: 22px;
    height: 15px;
    background-position: -5px -280px;
}
