include templates/mPage-title
<!DOCTYPE html>
html(lang="ru")
    include templates/head
    body
        include templates/header
        include templates/page_preloader
        script.
              document.getElementsByClassName('header')[0].classList.add('header_about');
        +pageTitle('SkyWay Capital','С нами любой может стать совладельцем транспортной компании будущего','about')
        include templates/named_icons
        include templates/about_block
        include templates/team
        include templates/how_it_works
        include templates/graphics
        include templates/news_block_small
        -   
            var title = 'Представители в 100 странах Мира'
            var subtext = 'Более 2500 официальных партнеров в 100 странах мира! Вы можете связаться с ними и получить подробную консультацию.'
        include templates/map
        section.last.last_about
            .container
                h1.fi.title Станьте частью SkyWay
                span.fi.title-subtext Любой может стать частью нашей большой корпорации
                a(href="#").fi.last__link.link-button.slide-hover
                    span СТАТЬ ПАРТНЕРОМ
                    .hover
                br
                a(href="#").fi.last__link.last__link_sublink ВАКАНСИИ КОМПАНИИ

        include templates/footer
        include templates/scripts_include
        