<!DOCTYPE html>
html(lang="ru")
    include templates/head
    body
        include templates/header
        include templates/page_preloader
        script.
          document.getElementsByClassName('header')[0].style.backgroundImage = 'url(pictures/news_header_bg_1280.jpg)';
        section.article
          .container
            h1.title Заголовок очень интересной новости!
            span.article__date 13.03.17
            ul.article__attrs
              -var item = {'calendar': 'СОБЫТИЕ','tooltip': 'ВЕБИНАР', 'eye': '9998'}
              each text, icon in item
                li.article__attr
                  +icon(icon, '')
                  | #{text}
            .article__content
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur optio maxime, beatae debitis earum inventore aut illum error, eum culpa sit non esse cum consequuntur sed corporis maiores laboriosam nihil cupiditate qui! Dolor cum facere et possimus iusto, maiores a adipisci reprehenderit voluptate velit voluptatibus, fugiat ut aperiam id nam!
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur optio maxime, beatae debitis earum inventore aut illum error, eum culpa sit non esse cum consequuntur sed corporis maiores laboriosam nihil cupiditate qui! Dolor cum facere et possimus iusto, maiores a adipisci reprehenderit voluptate velit voluptatibus, fugiat ut aperiam id nam!
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur optio maxime, beatae debitis earum inventore aut illum error, eum culpa sit non esse cum consequuntur sed corporis maiores laboriosam nihil cupiditate qui! Dolor cum facere et possimus iusto, maiores a adipisci reprehenderit voluptate velit voluptatibus, fugiat ut aperiam id nam!
              img(src="img/slide1.jpg", alt="эта картинка задается с админки, и выводится в вместе с контентом поста")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, quibusdam, deleniti. Alias possimus quidem sunt voluptate blanditiis magnam quibusdam deleniti placeat quisquam mollitia rem quia voluptas ullam aperiam facilis, incidunt maiores modi asperiores praesentium voluptatum ea dignissimos perferendis. Quaerat consequatur quod nulla repellat voluptate at temporibus, ipsam beatae eos excepturi quo sed ullam similique est eveniet voluptates ipsum magnam suscipit perferendis labore cupiditate, harum quia perspiciatis. Ratione voluptas, laboriosam? Est vel quo magni harum maxime placeat enim quos cum cupiditate, perspiciatis illo minima dignissimos quis, neque repellat atque. Dolore suscipit, enim corrupti dignissimos eum unde quaerat quos assumenda quam. Totam.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime fugiat perferendis quae, enim dolores veritatis corporis veniam? Aliquid sunt, laboriosam atque earum nihil repellat recusandae voluptates praesentium provident tempore sapiente eum optio voluptatem quaerat rem maxime eius culpa, amet dolores.
            .article__share
              span.article__share__span Поделиться:
              .a2a_kit.a2a_kit_size_32.a2a_default_style
                a.a2a_button_vk
                a.a2a_button_odnoklassniki
                a.a2a_button_google_plus
                a.a2a_button_twitter
                a.a2a_button_facebook
                a.a2a_button_blogger_post
                a.a2a_button_digg
                a.a2a_button_livejournal
                a.a2a_button_tumblr
                a.a2a_button_reddit
                a.a2a_button_pinterest
                a.a2a_button_linkedin
              script(async="", src="https://static.addtoany.com/menu/page.js")
            .tabs.tabs_social-comments
              script.
                (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.10&appId=1751062881816348";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
              .dots
                ul.dots__list
                  li.dots__item
                    a(href="#").dots__link
                      +icon("vk_sh",'')
                      span Вконтакте
                  li.dots__item
                    a(href="#").dots__link
                      +icon("fb_sh",'')
                      span Facebook
              ul.tabs__list
                li.tabs__item.tabs__item_active
                  #vk_comments(style="height: 190px;")
                  script( src="//vk.com/js/api/openapi.js?146")
                  script.
                    VK.init({apiId: 6124116, onlyWidgets: true});
                    VK.Widgets.Comments("vk_comments", {limit: 20, attach: "*"});
                li.tabs__item.tabs__item_active
                  .fb-comments(data-href="https://developers.facebook.com/docs/plugins/comments#configurator", data-width='100%' data-numposts="2")
        include templates/footer
        include templates/scripts_include
        