include templates/mPage-title
<!DOCTYPE html>
html(lang="ru")
    include templates/head
    body
        include templates/header
        include templates/page_preloader
        script.
          document.getElementsByClassName('header')[0].classList.add('header_contacts');
        +pageTitle('Контакты','','contacts')
        section.representative-office
            h1.title Представительство в России
            .representative-office__wrap
                .representative-office__img-wrap      
                    img(src="/img/office@2x.jpg", alt="office in Russia").representative-office__img
                .representative-office__contacts
                    span.representative-office__text Адрес:
                    span.representative-office__text_big Россия, Москва, ул. Щипок, д. 22, с. 1
                    span.representative-office__text Телефон:
                    a(href="tel:74954190456", title="Позвоните нам").representative-office__link +7 (495) 419-04-56
                    span.representative-office__text Электронная почта:
                    a(href="mailto:support@skyway.capital", title="Напишите нам").representative-office__link support@skyway.capital
                    .socials.socials_blue
                        ul.socials__list
                            - items = ['vk','fb','inst','ok','youtube','telegram']
                            each item in items 
                                li.socials__item
                                    a(href="#" target="_blank").socials__link 
                                        +icon(item,'')
        include templates/representatives
        include templates/footer
        include templates/scripts_include