include templates/mPage-title
<!DOCTYPE html>
html(lang="ru")
    include templates/head
    body
        include templates/header
        include templates/page_preloader
        script.
          document.getElementsByClassName('header')[0].classList.add('header_partners');
        +pageTitle('Партнёрам','Партнерская программа это инвестиция своего времени, котороее значительно вознаграждается в будущем','partners')
        include templates/checks
        section.named-icons.named-icons_box.named-icons_bottom-neg-marg100
          h1.title.fsi Присоединяйтесь к команде
          ul.named-icons__list
            - var items = [['hands','140 000','инветоров'],['purse','5000','активных партнеров'],['settings','100 стран','7000 городов']]
            each item in items
              li.named-icons__item
                +icon(item[0],'')
                span=item[1]
                span=item[2]
        div.last.last_partners
          .container
            .last__text.last__text_big.fi
              p Специально для новых партнеров мы подготовили полное и прозрачное руководство.
              p Так же вы там найдете варианты привлечения людей и расчеты вашего заработка.
            a(href="#").last__link.link-button.slide-hover.fi  
                span Скачать маркетинг-план
                .hover
        include templates/footer
        include templates/scripts_include