include templates/mPage-title
<!DOCTYPE html>
html(lang="ru")
    include templates/head
    body
        include templates/header
        include templates/page_preloader
        script.
          document.getElementsByClassName('header')[0].classList.add('header_investors');
        -
          var title = 'Инвестиции в SkyWay'
          var titleSubtext = 'Инвестиции в Sky Way сегодня — уникальный шанс стать совладельцем революционной транспортной технологии выходящей на мировой рынок и получать прибыль со всех ее адресных проектов более 100 лет.'
        section.page-title.page-title_investors
          h1.title.page-title__title= title
          span.title-subtext=titleSubtext
          .link-button.slide-hover
            span СТАТЬ ИНВЕСТОРОМ 
            .hover
        include templates/checks
        .sticky-bg
          i.sticky-bg__canvas
          section.named-icons.named-icons_box
            h1.title Любой может быть инвестором
            span.title-subtext Проект финансируется по модели краудинвестинга и это даёт возможность каждому из вас, независимо от финансовых возможностей, стать совладельцем компании и технологии на начальной стадии внедрения в мировой рынок. Абсолютно любой человек может стать инвестором и партнером проекта SkyWay.
            ul.named-icons__list
              - var items = [['briefcase','140 000','инветоров'],['hands','5000','активных партнеров'],['earth','100 стран','7000 городов']]
              each item in items
                li.named-icons__item
                  +icon(item[0],'')
                  span=item[1]
                  span=item[2]
          include templates/course
        section.named-photos
          .container
            h1.title Гарантии и надёжность проекта
            ul.named-photos__list
              - var items = ['Реальное подтверждение технологии в Экотехнопарке','Подписаны соглашение и предзаказы с Индией и Австралией','Получен сертификат международного стандарта в РФ','Стабильный рост за все время существования проекта']
              each item, index in items
                li.named-photos__item
                  figure.named-photos__figure
                    img(src=`img/garants${index+1}.jpg`, alt=item).named-photos__img
                    figcaption.named-photos__caption=item
        section.named-icons.named-icons_box
          h1.title Любой может быть инвестором
          ul.named-icons__list
            - var items = [['power','от 25$','стартовый пакет<br> для старта работы'],['portmane','от 150$','пакет с постоянным <br> пополнением'],['star_in_star','от 1000$','пакет для профи с <br> большими бонусами']]
            each item in items
              li.named-icons__item
                +icon(item[0],'')
                span=item[1]
                span!= item[2]
          span.named-icons__text и еще более 50 вариантов инвестиций индивидуально для Вас
          br
          a(href="#").link-button.link-button_blue.slide-hover 
            span ПЕРЕЙТИ В ЛИЧНЫЙ КАБИНЕТ
            .hover
        section.last.last_investors
          .container
            .fi
                h1.title.last__title Вместе мы строим будущее
            .fi
                .last__text
                  blockquote.last__blockquote
                    p «Я посвятил этому проекту более 40 лет.  
                      br
                      | Это уникальная технология, которая изменит мир рано или поздно! 
                      br
                      | Вместе мы сможет это сделать еще быстрее» 
                  span.last__text_small Юницкий  Анатолий Эдуардович <br> генеральный директор
            a(href="#").last__link.link-button.slide-hover.fi  
                span СТАТЬ ИНВЕСТОРОМ
                .hover
        include templates/footer
        include templates/scripts_include