<!DOCTYPE html>
html(lang="ru")
    include templates/head
    body
        include templates/header
        include templates/page_preloader
        div.preview
            .slider.slider_big-img.slider_big
                -
                    var data = [
                        {
                            title: 'Инвестируйте в надежное будущее со SkyWay',
                            subtext: 'Ваши вложения окупяться в десятки раз за несколько лет'
                        },
                        {
                            title: 'Инновационная разработка российского ученого',
                            subtext: 'Новый вид транспорта не имеет аналогов по своей безопасности и экологичности'
                        },
                        {
                            title: 'Производство SkyWay уже стартовало',
                            subtext: 'Мы начали малое производство для ЭкоТехноПарка и в любой момент готовы перейти к большим масштабам.'
                        }
                    ]
                ul.slider__slides-list
                    -for(i=0;i<3;i++)
                        li(class=`${i==0? 'slider__slide_active':''}`).slider__slide
                            div.container.stickyFade
                                h2.preview__title= data[i].title
                                span.title-subtext= data[i].subtext
                                a(href="#").preview__link ПОДРОБНЕЕ 
                                    +icon('arr_right','')
                .slider__controls
                    a(href="#").slider__prev
                        +icon('arr_prev_white','')
                    span.slider__controls-data 1/4
                    a(href="#").slider__next
                        +icon('arr_prev_white','')
        include templates/video
        -
            var title = 'Технология SkyWay';
            var subtext = `SkyWay - проект будущего. Вы уже наблюдаете как идет транспортная революция в нашем мире. Компания показала себя как лучшего новатора и уверенного партнера. Так же мы привлекли большие инвестиции со всего мира.`
        include templates/products
        include templates/progress
        include templates/news_block
        - 
            var title = 'Получите консультацию в вашем городе'
            var subtext = 'Более 2500 официальных партнеров в 100 странах мира! Вы можете связаться с ними и получить подробную консультацию.'
        include templates/map
        include templates/last
        include templates/footer
        include templates/scripts_include
