<!DOCTYPE html>
html(lang="ru")
    include templates/head
    body
        include templates/header
        include templates/page_preloader
        .container.container_small
          section.news_page
            script.
              document.getElementsByClassName('header')[0].style.backgroundImage = 'url(pictures/news_header_bg_1280.jpg)';
            h1.title Новости SkyWay
            form(action="#").news__form
              label.news__form__label.news__form__label_text
                input(type="text" placeholder="Поиск по новостям").news__input
                +icon('search','')
              .news__form__row
                .news__form__row__cell
                  label.news__form__label.news__form__label_check
                    input(type="checkbox" name="top")
                    span.news__label__span
                      +icon('star')
                      | ТОП
                  label.news__form__label.news__form__label_check
                    input(type="checkbox" name='video')
                    span.news__label__span
                      +icon('start_stop')
                      | ВИДЕО
                  label.news__form__label.news__form__label_check
                    input(type="checkbox" name='event')
                    span.news__label__span
                      +icon('calendar')
                      | СОБЫТИЕ
                  label.news__form__label.news__form__label_check
                    input(type="checkbox" name='webinar')
                    span.news__label__span
                      +icon('tooltip')
                      | ВЕБИНАР
                .news__form__row__cell.news__form__row__cell_h31
                  .news__form__radio-group
                    -var items = ['ЗА ВСЕ ВРЕМЯ',"ЗА ГОД", "ЗА ПОЛГОДА","ЗА МЕСЯЦ","ЗА НЕДЕЛЮ"]
                    each item,index in items
                      label.news__form__label.news__form__label_radio
                        if index == 0 
                          input(type="radio" checked name="period")
                        else 
                          input(type="radio" name="period")                      
                        span.news__label__span=item

            .news__row
              article.news__article.news__article_big
                a(href="article.html").news__link 
                  .news__img-wrap
                    img(src="img/news1.jpg", alt="Event title").news__img
                    .news__img-cover
                      +icon('play','')
                  .news__data
                    h1 Заголoвок новости
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam facilis dolorum debitis, repellendus veniam? Cupiditate, dignissimos recusandae sint vel cum.
                    p Lorem ipsum dolor sit amet.
                  .news__article__footer
                    .news__article__footer__left
                      span 13.03.17
                    .news__article__footer__right
                      ul.news__article__attrs
                        -var data = ['star','start_stop','calendar','tooltip']
                        each item in data
                          li.news__article__attr
                            +icon(item,'')
              .slick.banner
                -for(i=1; i<4; i++)
                  .banner__item
                    img(src="img/banner.jpg", alt="look at me pls").banner__img
                    .banner__item__text
                      h2 Баннер №#{i}
                      p Здесь текс для баннера 
            .news__articles.news__articles_col4
              -for(i=12; i; i--)
                article.news__article.news__article_small.slideUp
                  a(href="article.html").news__link 
                    .news__img-wrap
                      img(src="img/news1.jpg", alt="Event title").news__img
                      .news__img-cover
                        +icon('play','')
                    .news__data
                      h1 Заголoвок новости
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam facilis dolorum debitis, repellendus veniam? Cupiditate, dignissimos recusandae sint vel cum.
                      p Lorem ipsum dolor sit amet.
                    .news__article__footer
                      .news__article__footer__left
                        span 13.03.17
                      .news__article__footer__right
                        ul.news__article__attrs
                          -var data = ['star','start_stop','calendar','tooltip']
                          each item in data
                            li.news__article__attr
                              +icon(item,'')
        .preloader
          img(src="pictures/preloader.gif", alt="loading...")
        include templates/footer
        include templates/scripts_include
        