<!DOCTYPE html>
html(lang="ru")
    include templates/head
    body
        include templates/header
        include templates/page_preloader
        script.
            document.getElementsByClassName('header')[0].classList.add('header_technology');
        section.video.video_tech
          h1.title.video__title Технология будущего
          span.title-subtext SkyWay — наземная высокоэффективная транспортная технология не имеющая аналогов в мире! В качестве транспортных средств в нём используются электромобили на стальных колёсах, передвигающиеся по специальным струнным рельсам.
          .video__wrap
            div(data-width="1280" data-height="720" data-key="JSqGUtbBosc").iframe#frame 
            .video__cover
        include templates/tooltips
        -
            var title = 'Виды транспорта'
        include templates/products
        include templates/documents
        section.news.news_big-thumb
            .container
            .fsi
                h1.news__title.title Новости SkyWay
            .news__articles
                -for(var i=4; i; i--)
                    article.news__article.news__article_big.slideUp
                      a(href="article.html").news__link
                        .news__img-wrap
                            img(src="img/news1.jpg", alt="Event title").news__img
                            .news__img-cover
                                +icon('play','')
                        .news__data
                            h1 Заголoвок новости
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam facilis dolorum debitis, repellendus veniam? Cupiditate, dignissimos recusandae sint vel cum.
                            p Lorem ipsum dolor sit amet.
                        .news__article__footer
                            .news__article__footer__left
                                span 13.03.17
                            .news__article__footer__right
                                ul.news__article__attrs
                                    -var data = ['star','start_stop','calendar','tooltip']
                                    each item in data
                                        li.news__article__attr
                                            +icon(item,'')
        include templates/progress
        include templates/park
        section.team.team_cells
            .container
                .fsi
                    h1.title.team__title Команда SkyWay Capital
                    span.title-subtext Создатели и разработчики уникальной технологии
                .team__wrap.slideUp
                    figure.team__main-img-fig
                        .team__main-img-fig__wrap 
                            img(src="img/boss.jpg", alt="Юницкий Анатолий Эдуардович")
                        .team__main-img-fig__data
                            figcaption.team__main-img-fig__caption Юницкий Анатолий Эдуардович
                            span.team__main-img-fig__text Генеральный директор — генеральный конструктор
                    .tooltip
                        .tooltip__icon-wrap
                            +icon('info','')
                        .tooltip__body
                            +icon('tooltipArr','')
                            h2 Возможно заголовок
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, ipsa.
                ul(data-show-start='6').team__list
                    -for(var i=9; i--; i)
                        li.team__item.slideUp
                            figure.team__figure
                                .team__figure__top
                                    .team__img-wrap
                                        img(src="img/team1.jpg" alt="Our Team!").team__img
                                .team__figure__data
                                    figcaption.team__name Евгений  Кудряшов
                                    span.team__position Директор инвестиционной компании SkyWay Capital
                            .tooltip
                                .tooltip__icon-wrap
                                    +icon('info','')
                                .tooltip__body
                                    +icon('tooltipArr','')
                                    h2 Возможно заголовок
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, ipsa.
        section.last.last_webinar
            .container
                .fi
                    h1.title.last__title Узнайте больше
                .fi
                    .last__text
                        p Онлайн вебинар на тему инвестиций в прект SkyWay. Будет выступать Евгений Петров - главный партнер в Москве. На мероприятии мы рассмотрим модель работы инвестиций. Приходите!
                a(href="#").last__link.link-button.slide-hover  
                    span СКАЧАТЬ КНИГУ
                    .hover
                br
                a(href="#").last__link_sublink ПОСМОТРЕТЬ ФИЛЬМ
        include templates/footer
        include templates/scripts_include
        