.article{
  margin-top: 150px;
  padding-bottom: 40px;

  .title{
    text-align: left;
  }
  .container{
    width: (784%/1280 *100)
  }
  &__content{
    margin: 40px 0;
    img{
      max-width: 100%;
    }
  }
  &__attrs{
    display: flex;
    padding: 0px;
    margin: 20px 0 0;
  }
  &__attr{
    list-style: none;
    font-size: (12em/16);
    justify-content: center;
    position: relative;
    padding: 8px 8px 8px 25px;
    background-color: #f2f2f2;
    border-radius: 3px;
    margin-right: 10px;
    flex-basis: 100px;
    text-align: center;

    .icon{
      font-size: 12px;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      &-eye{
        font-size: 10px;
      }
      &-calendar{
        top: 48%;
      }
    }
  }
  &__share{
    border-style: solid;
    border-width: 2px 0 2px;
    border-color: #eee;
    padding: 10px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .a2a_kit{
    max-width: 100%;
    overflow-x: hidden;
    margin-top: -7px;
    margin-left: 12px;
  }
  .a2a_kit a{
    margin: 7px 0 0 7px;
    display: inline-block;
  }
}
@media only screen and (max-width: 768px){
  .article{
    margin-top: 120px;

    &__content{
      margin: 30px 0;
    }
    .container{
      width: 80%;
    }
    .a2a_kit{
      max-width: 100%;
      overflow-x: hidden;
      margin-top: -7px;
      margin-left: 12px;
    }
    .a2a_kit a{
      margin: 7px 0 0 4px;
      display: inline-block;
      border-radius: 3px;
      overflow: hidden;
    }
  }
}
@media only screen and (max-width: 425px){
  .article{
    margin-top: 100px;

    &__content{
      font-size: 1.2em;
    }

    .container{
      width: 90%;
    }
  }
}
@media only screen and (max-width: 375px){
  .article{
    .container{
      min-width: 300px;
    }
    
    .a2a_kit{
      margin: -7px auto 0;
    }
    &__share__span{
      display: none;
    }
  }
}
