.banner{
  position: relative;
  overflow: hidden;
  
  &__img{
    width: 100%;
    display: block;
    object-fit: cover;
  }
  &__item{
    position: relative;
    height: 100%;
  }
  &__item__text{
    position: absolute; 
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
    color: white;
  }
  &__dots{
    position: absolute;
    bottom: 10%;
    display: flex;
    margin: 0px;
    padding: 0px;
    left: 10%;

    li {
      list-style: none;
      margin: 10px;

      &.slick-active{
        button{
          background: white;
        }
      }

      button{
        transition: .5s;
        border-radius: 50%;
        font-size: 0px;
        border: 2px solid white;
        width: 18px;
        height: 18px;
        background: transparent;
        outline: none;
      }
    }
  }
}