.carousel{
  width: 100%;
  position: relative;

  &__item{
    transition: .5s;
  }
  &__item_opacity{
    opacity: .2;
  }
  &__wrap{
    overflow: hidden;
    padding-top: 10px;
  }

  &__next, &__prev{
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 10px;
    z-index: 2;
    display: flex;
    transform-origin: 50% 50%;

    &:hover{
      .icon{
        transform: scale(1.1);
      }
    }
    .icon{
      margin: auto;
    }
  }
  &__next{
    right: 0;
    transform: rotateZ(180deg);
  }
  &__prev{
    left: 0;
  }
  &__next, &__prev{
    .icon{
      font-size: 50px;
    }
  }
  &__items{
    position: relative;
    &>*{
      float: left;
    }
  }
  &__item{
    float: left;
    margin: 0;
    margin-left: 10px;

    &:first-child{
      margin-left: 0;
    }
  }
}
.carousel-progress{
  height: 8px;
  width: 80%;
  margin: 40px auto 0;
  position: relative;

  &__progress-icon{
    width: 33%;
    background-image: linear-gradient(180deg, #3caeff 0%, #0095ff 100%);
    border-radius: 20px;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  &:after{
    content: '';
    top: 50%;
    position: absolute;
    width: 100%;
    height: 2px;
    transform: translateY(-1px);
    background: #ececec;
  }
}
@media only screen and (max-width: 1200px){
  .carousel{
    margin-left: -30px;
    margin-right: -30px; 
    width: auto;
    
    &__next, &__prev{
      .icon{
        font-size: 55px;
        margin-right: 30%;
      }
    }
    &_small{
      .carousel__next, .carousel__prev{
        .icon{
          margin-right: 25%;  
        }
      }
    }
  }
  .carousel__item{
    margin-left: 10px;
  }

}
@media only screen and (max-width: 768px){
  .carousel{

    &__next, &__prev{
      .icon{
        font-size: 40px;
        margin-right: 30%;
      }
    }
  }
}

@media only screen and (max-width: 425px){
  .carousel{
    width: auto;
    margin: 0 -80px;

    &__next, &__prev{
      .icon{
        margin-right: 4.5vw;
      }
    }
    &_small{
      margin: 0 -40px;
      .carousel__next, .carousel__prev{
        .icon{
          margin-right: 1.5vw;
        }
      }
    }
  }
}
@media only screen and (max-width: 375px){
  .carousel{

    &_small{
      margin: 0 -80px;
    }
  }
}