.checks{
  padding: 60px 0;
  &__list{
    padding: 0px;
    width: 60%;
    margin: auto;
  }
  &__item{
    margin-top: 24px;
    list-style: none;
    padding-left: 50px;
    font-weight: 300;
    position: relative;
    font-size: (18em/16);

    &__name{
      font-size: (16em/18);
      font-weight: 500;
      margin-bottom: 4px;
      display: inline-block;
    }
    p{
      margin: 0px;
    }
    .icon{
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 32px;
    }
  }
}
@media only screen and (max-width: 768px){
  .checks{
    padding-bottom: 10px; 
    
    &__list{
      width: 90%;
    }
  }
}