.course{
  color: white;
  padding: 100px 0;

  &__wrap{
    background: #fff;
    color: #232323;
    width: 80%;
    padding: 40px 100px;
    margin: auto;
    text-align: center;
    margin-top: 60px;
  }
  &__img{
    display: block;
    width: 100%;
    margin-top: 10px;
  }

  &__figure{
    margin: 0px;

    &__legend{
      display: flex;
      justify-content: space-between;
    }
    span{
      display: flex;
      align-items: center;
    }
    &__icon{
      width: 20px;
      position: relative;
      top: 1px;
      height: 4px;
      border-radius: 2px;
      margin-right: 5px;

      &_green{
        background: #7ed321;
      }
      &_blue{
        background: #4990e2;
      }
    }
  }

}
@media only screen and (max-width: 1024px){
  .course{
    &__wrap{
      width: 95%;
      padding: 20px 30px 0;
    }
    &__figure__legend{
      text-align: left;

      span{
        flex: 1;
      }
    }
  }
}
@media only screen and (max-width: 768px){
  .course{
    padding-top: 60px;
  }
}
@media only screen and (max-width: 650px){
  .course{
    padding-top: 40px;
    padding-bottom: 40px;

    &__wrap{
      margin-top: 30px;
    }
  }
}
@media only screen and (max-width: 425px){
  .course{

    &__wrap{
      padding: 10px;
      width: 98%;
      p{
        margin: 5px;
      }
    }
    &__figure__legend{
      margin-top: 10px;
    }
  }
}