.documents{
    padding: 40px 0 30px;
  &__img{
    width: 100%;
    position: relative;
    transition: .5s;
    cursor: pointer;
      &:hover{
          transform: translateY(-10px);
          box-shadow: 0 25px 30px -20px rgba(0,0,0,.4);
      }
  }
  overflow: hidden;
  .carousel{
    margin-bottom: 40px;
    margin-top: 50px;
    &__wrap{
      padding-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 768px){
  .documents{ 
    .carousel{
      margin-top: 20px; 
      margin-bottom: 0px;
    }
    .carousel-progress{
      margin-top: 20px;
    }
  }
}
@media only screen and (max-width: 425px){
  .documents{
    padding-bottom: 10px;

  }
}