.dots{

  &__list{
    display: flex;
    align-content: center;
    padding: 0px;
    justify-content: center;
    margin: 0px;
    margin-top: 30px;
  }
  &__item{
    list-style: none;
    margin: 0 5px;
    flex-basis: 20%;
  }
  &__link{
        white-space: nowrap;
        text-decoration: none;
        color: #0095ff;
        padding: 17px 6px;
        
        letter-spacing: 1px;
        border: 1px solid #0095ff;
        border-radius: 3px;
        align-items: center;
        font-size: (12em/16);
        display: flex;
        justify-content: center;

        .hover{
            background: #0095ff;
            bottom: -100%;
        }
        &_active{
            .hover{
                opacity: 0;
                transition: opacity 0s .4s;
            }
            border: 1px solid #ececec;
            cursor: default;
            color: #000;
        }
    }
    &_countrys{
        .dots__list{
            flex-wrap: wrap;
        }
        .dots__link{
            border: 1px solid #ececec;
            padding: 10px;
            font-size: 1em;

            &:not(.dots__link_active){
                background-color: #f2f2f2;
            }
            &_active{
                color: #bdbdbd;
            }
            .flag{
                margin-right: 10px;
            }
        }
        .dots__item{
            margin-top: 10px;
            flex-basis: auto;
        }
    }
}
@media only screen and (max-width: 768px){
    .dots__list{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .dots__item{
        flex-basis: 50%;
        margin: 0 2px;
    }
}