.footer{

  z-index: 2;
  bottom: 0px;
  height: 128px;

  .lk-link{
    margin-right: 0px;
  }

  &__top, &__bottom{
    .container{
      align-items: center;
      justify-content: space-between;
      display: flex;
    }
  }
  &__bottom-bottom{
    background: #0e0e0e;
    color: #7f7f7f;
    font-size: (12em/16);
    a{
      color: #7f7f7f;      
    }
    .container{
      justify-content: flex-end;
      display: flex;
      padding: 10px 0;
    }
  }
  &__top{
    background-color: rgba(0, 0, 0, 0.4);
    
    background-image: url('../pictures/footer_bg_top_1280.jpg');
    background-size: cover;

    &__cell{
      display: flex;
      align-items: center;  
    }
  }
  &__bottom{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    font-size: (12em/16);
    
    background-image: url('../pictures/footer_bg_bottom_1280.jpg');
    background-size: cover;

    .container{
      justify-content: space-between;
      align-items: center;

    }
  }
  &__link{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
  }
}
.contacts{
  font-size: (14em/16);
  margin: 0 20px;

  &__link{
    color: white;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;

    &:hover{
      text-decoration: underline;
    }
    
    &:not(:last-child){
      margin-right: 20px;
    }
  }
}
.last_webinar + .footer{
    background-image: url('../pictures/home_footer_bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    .footer__top, .footer__bottom{
      background-image: none;
    }
}
.last_about + .footer{
    background-image: url('../pictures/about_footer_bg_1920.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
        
    .footer__top, .footer__bottom{
      background-image: none;
    }
}
.last_investors + .footer{
    background-image: url('../pictures/investors_footer_bg_1280.jpg');
    background-repeat: no-repeat;
    background-position: 72% top;
    background-size: cover;
    .footer__top{
      background-color: rgba(0, 0, 0, 0.1);
    }
    .footer__bottom{
      background-color: rgba(0, 0, 0, 0.4);
    }
    .footer__top, .footer__bottom{
      background-color: none;
      background-image: none;
    }
}
@media only screen and (max-width: 1440px){
  .last_about + .footer{
    background-image: url('../pictures/about_footer_bg_1440.png')
  }
}
@media only screen and (max-width: 1280px){

  .last_webinar + .footer{
    background-image: url('../pictures/home_footer_bg_1280.png')
  }
  .last_about + .footer{
    background-image: url('../pictures/about_footer_bg_1280.png')
  }
}
@media only screen and (max-width: 1285px){
  .footer{
    height: 112px;

    &__top{
      padding: 17px 0;
    }
  }
}
@media only screen and (max-width: 768px){
  .footer{
    height: 114px;
    &__top{
      padding: 17px 0;
    }
    .contacts{
      text-align: center;
      &__link{
        margin: 3px 0;
      }
    }
  }
}
@media only screen and (max-width: 750px){
  .last_investors + .footer{
    background-position: 15% top;
  }  
}
@media only screen and (max-width: 425px){

  .footer{
    height: 143px;

    .contacts{
      font-size: 12px;
    }
    &__link{
      display: none;
    }
    &__copy{
      position: absolute;
      bottom: 10px;
      left: 10px;
    }
    &__bottom .container{
      justify-content: center;
    }
  }
}