.header{
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
	top: 0px;
	// background-color: rgba(1, 59, 125, 0.25);
	height: 82px;
	background-size: cover;
	background-position: top;

	&__logo{
		margin-right: 30px;

		img{
			max-height: 100%;
			max-width: 100%;
		}
	}
	.container{
		display: flex;
		align-items:  center;
		justify-content: space-between;
		height: 100%;
		flex-wrap: wrap;
	}

	&_about{
		background-image: url('../pictures/about_header_bg_1280.jpg');
	}
	&_technology{
		background-image: url('../pictures/technology_header_bg_1280.jpg');
	}
	&_partners{
		background-image: url("../pictures/partners_header_bg_1280.jpg");
	}
	&_investors{
		background-image: url("../pictures/investors_header_bg_1280.jpg");
	}
	&_contacts{
		background-image: url("../pictures/contacts_header_bg_1280.jpg");
	}
}

@media only screen and (max-width: 768px){
	.header{
		height: 68px;

		&_about{
			background-image: url('../pictures/about_header_bg_768.jpg');
		}
	}
}
@media only screen and (max-width: 425px){
	.header{
		height: 58px;

		&__logo{
			height: 19px;
		}
		.lk-link{
			margin: 0 15px;
		}

		&_about{
			background-image: url('../pictures/about_header_bg_320.jpg');
		}
	}
}