.how-it-works{
  margin: 130px 0 0;
  overflow: hidden;
  &__wrap{
    max-width: 900px;
    margin: auto;
    position: relative;
    width: 100%;
  }
  &__img{
    position: relative;
    max-width: 100%;
    object-position: center;

    &_rotate{
      position: absolute;
      top: 0px;
      left: 0px;
      transform-origin: 50% 50%;
    }
  }
  &__img-wrap_center{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 236px;
      height: 236px;
      max-width: 28vw;
      max-height: 28vw;
      border-radius: 50%;
      border: 2px solid #04d4e2;
      background-color: #ffffff;

      img{
        max-width: 80%;
      }
  }
}
@media only screen and (max-width: 600px){
  .how-it-works__wrap{
    margin: 0px -100px;
    width: auto;
  }
  .how-it-works__img-wrap_center{
      max-width: 35vw;
      max-height: 35vw;
    }
}
@media only screen and (max-width: 475px){
  .how-it-works{
    margin-top: 83px;

    .container{
      position: relative;
      z-index: 1;
    }
  }
  .how-it-works__wrap{
    position: relative;
    margin: -60px -70px;
    width: auto;

    &:after{
      content: '';
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      top: 0px;
      background: linear-gradient(to top, rgba(255,255,255,0) 80%, #fff 85%, #fff 100%), 
                  linear-gradient(to bottom, rgba(255,255,255,0) 80%, #fff 85%, #fff 100%);
    }
  }
}