.last{
  text-align: center;
  position: relative;
  padding: 100px 0 70px;
  color: white;
  background: linear-gradient(to bottom, #506e90, transparent 10%), url('../pictures/webinar_bg_fhd.jpg');
  background-position: center top;
  background-size: cover;

  .container{
    position: relative; 
    z-index: 1;
  }
  &__text{
    margin: 30px auto 0;
    font-weight: 200;
    width: 55%;
    min-width: 300px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

    &_big{
      font-size: (20em/16);

      p{
        margin: 0px;
      }
    }
  }
  &__blockquote{
    font-size: (20em/16);
    margin: 20px 0 0;

    p{
      margin-bottom: 10px;
    }
  }
  &__link{
    margin-top: 30px;

    &_sublink{
      display: inline-block;
      margin-top: 30px;
      color: white;
      text-decoration: none;
      font-weight: 500;
      font-size: (12em/16);
      position: relative;
      padding: 5px 0;
      
      &:after{
        position: absolute;
        content: '';
        bottom: 0;
        height: 1px;
        left: 0;
        background: white;
        width: 100%;
        transform-origin: 0%;
        transform: rotateY(90deg);
        transition: .3s;
      }
      &:hover{

        &:after{
          transform: rotateY(0);
        }
      }
    }
  }
  &__img-wrap{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 35px auto 0;
    border: 4px solid white;
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_investors{
    background: url('../pictures/investors_bg_bottom.jpg');
    background-size: cover;
    background-position: 72% bottom;
    min-height: 750px;
  }
  &_partners{
    background: url('../pictures/partners_bottom_bg_1280.jpg');
    min-height: 610px;
    padding-top: 200px;
    background-size: cover;
    background-position: bottom;
  }
  &_about{
    background: linear-gradient(to bottom, #506e90 30%, transparent);
    min-height: 683px;
    position: relative;
    
    &::after{
      content: '';
      position: absolute;
      bottom: 0px;
      width: 100%;
      left: 0px;
      background: linear-gradient(to bottom, #506e90 30%, rgba(80,110,144,0)) ,url('../pictures/about_bottom_bg_1280.jpg');
      background-size: cover;
      height: 482px;
      background-position: bottom;
    }
  }
}
@media only screen and (max-width: 1640px){
  .last_investors{
    min-height: 600px;
  }
}
@media only screen and (max-width: 1440px){
  .last_investors{
    min-height: 500px;
  }
  .last_webinar{
    background-image: linear-gradient(to bottom, #506e90 0%, rgba(80,110,144,0) 10%), url('../pictures/webinar_bg.jpg');
  }
}
@media only screen and (max-width: 750px){
  .last_investors{
    background-position: 15% bottom;
  }  
}
@media only screen and (max-width: 650px){
  .last__blockquote{
    br{
      display: none;
    }
  }
}
