.lk-link{
	padding: 10px 18px;
	padding-left: 43px;
	margin: 0 18px;
	letter-spacing: 0px;
	white-space: nowrap;
	border: 1px solid white;
	border-radius: 3px;
	color: white;
	position: relative;
  font-weight: 500;
	text-decoration: none;
	font-size: (14em/16);

	&:hover{
		.icon-lock_top{
			top: 6px;
		}
	}
	&:active{
		.icon-lock_bottom{
			left: 11px;
		}
		.icon-lock_top{
			top: 6px;
			left: 21px;
			transform-origin: 0 100%;
		}
	}
	.icon{
		transition: .2s;
		font-size: 10px;
		position: absolute;
		left: 14px;
		top: 10px;

		&-lock_top{
			font-size: 13px;
		}
		&-lock_bottom{
			top: 16px;
			left: 12px;
		}
	}
}
@media only screen and (max-width: 767px){
	.lk-link{
		font-size: 0px;
		display: block;
		padding: 19px;
	}
}
@media only screen and (max-width: 425px){
	.lk-link{
		padding: 18px;
		&:hover{
			.icon-lock_top{
				top: 5px;
			}
		}
		&:active{
			.icon-lock_bottom{
				left: 10px;
			}
			.icon-lock_top{
				top: 5px;
				left: 20px;
				transform-origin: 0 100%;
			}
		}
		.icon{
			left: 13px;
			top: 9px;

			&-lock_top{
				font-size: 13px;
			}
			&-lock_bottom{
				top: 16px;
				left: 11px;
			}
		}
	}
}