.localization{
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    width: 100%;

    .container{
        display: block;
    }

    &__list{
        margin: 0;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__item{
        display: flex;
        transform: scale(0);
        margin: 0px 5px;
        transition: .3s;

        &_active{
            transform: scale(1);
            padding: 10px 0px;
        }
    }
    &__text{
        display: block;
    }
    &_opened{

        .localization__item{
            transform: scale(1);
        }
    }
    &__link{
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        padding: 10px;
        font-weight: 500;
        
        .flag{
            height: 15px;
            margin-right: 9px;
        }
    }
}
@media only screen and (max-width: 1070px){
    .localization .container{
        width: 580px;
    }
}
@media only screen and (max-width: 600px){
    .localization .container{
        width: 95%;
    }
    .localization{
        background: rgba(24, 73, 122, .9);
    }
}
@media only screen and (max-width: 425px){
    .localization__item{
        &_active{
            padding: 0px;
            margin: 0px;
        }
    }
}