.map{
  padding: 70px 0 20px;
  background: linear-gradient(to bottom, white 70%, #506e90 70%);

  .gmap{
    margin-top: 60px;
    height: 450px;
    max-height: 100vh;
    box-shadow: 0 13px 17px -11px rgba(0, 0, 0, 0.3);
  }
}
@media only screen and (max-width: 768px){
  .map{
    padding-top: 60px;
  }
}
@media only screen and (max-width: 425px){
  .map{

    .gmap{
      margin-top: 30px;
    }
  }
}