.named-photos{
  &__list{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 40px auto 0;
    justify-content: center;
    align-items: baseline;
  }
  &__item{
    list-style: none;
    flex-basis: 25%;
    max-width: 270px;
    flex: 1;
    margin: 8px;
    text-align: center;
  }
  &__figure{
    margin: 0px;
  }
  &__caption{
    margin-top: 14px;
    padding: 0 10px;
  }
  &__img{
    width: 100%;
    display: block;
  }

}
@media only screen and (max-width: 768px){
  .named-photos{
    
    &__item{
      flex-basis: 50%;
    }
  }  
}
@media only screen and (max-width: 601px){
  .named-photos{

    &__item{
      max-width: 90%;
    }
  }
}
