.named-icons{
  padding: 65px 0 10px;

  &__list{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
    margin: 0px auto;
    width: 70%;
  }
  &__item{
    text-align: center;
    list-style: none;
    animation: fadeSlideIn 1s;
    animation-fill-mode: forwards;
    
    span{
      display: block;

      &:first-of-type{
        font-weight: 400;
      }
      &:last-of-type{
        font-weight: 300;
      }
    }
    .icon{
      font-size: 60px;
      display: block;
      margin: auto;
      margin-bottom: 15px;

      &-briefcase{
        font-size: 45px;
      }
    }
  }
  &__text{
    display: block;
    margin-top: 40px;
  }
}
.named-icons_box{
  
  text-align: center;
  z-index: 100;
  background: #fff;
  border-radius: 1px;
  position: relative;
  width: 80%;
  padding: 35px 5px;
  margin: 60px auto 0px;
  box-shadow: 0 10px 10px -10px rgba(15, 13, 19, 0.5);

  .title-subtext{
    width: 100%;
  }
  .named-icons{
    &__list{
      margin-top: 35px;

      .icon{
        font-size: 62px;
      }
    }
  }
  .link-button{
    margin-bottom: 65px;
  }
}
.named-icons_bottom-neg-marg100{
  margin-bottom: -100px;
}
@media only screen and (max-width: 768px){
  .named-icons{

    &__list{
      width: 90%;
    }
    .link-button{
      margin-bottom: 0;
      margin-top: 20px;
    }
  }
}
@media only screen and (max-width: 610px){
  .named-icons_box{
    width: 95%;
    margin-top: 60px;
  }
}
@media only screen and (max-width: 425px){

  .named-icons_box{
    width: 98%;
  }
}
@media only screen and (max-width: 375px){
  
  .named-icons{
    padding: 0px;
  }
  // .named-icons__list{
  // }
  .named-icons__item{
    margin-top: 44px;
    // .icon{
    //   font-size: 50px;
    // }
  }
  .named-icons__list{
    flex-direction: column;
    align-items: center;
  }
  .named-icons_box{
    width: 98%;
    padding-bottom: 30px;

    .named-icons__list{
      margin-top: 0px;
    }

    .named-icons__item{
      padding: 3px;
      margin-top: 20px;

      .icon{
        margin-bottom: 10px;
        font-size: 80px;
      }
    }
  }
}