.named-photo{
  img{
    display: block;
    width: 100%;
  }
  &:hover{
    color: #0099de;

      .named-photo__img-wrap{
        transform: translateY(-10px);
        box-shadow: 0 25px 30px -20px rgba(0,0,0,.4);
      }
  }

  &__img-wrap{
    width: 100%;
    position: relative;
    transition: .5s;

    &:after{
      opacity: 0;
      transition: .5s;
      position: absolute;
      content: '';
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      background: rgba(255,255,255,.5);
    }
  }
  &__text{
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  &_fade{
    .named-photo__img-wrap:after{
      opacity: 1;
    }
  }
}