.nav{
    display: flex;
    flex: 1;
    height: 100%;

    &__list{
        display: flex;
        align-items: stretch;
        margin: 0px;
        flex: 1;
        padding: 0px;
        height: 100%;
    }
    &__cover{
        background: rgba(255,255,255,.5);
    }
    &__item{
        list-style: none;
        display: flex;
        flex: 1;
        height: 100%;
        align-items: stretch;
    }
    &__link{
        flex: 1;
        justify-content: center;
        display: flex;
        height: 100%;
        opacity: .8;
        align-items: center;
        padding: 10px;
        color: white;
        font-weight: 500;
        text-decoration: none;
        position: relative;
        
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 30%;
            width: 40%;
            transform: rotateY(90deg);
            transform-origin: 50% 50%;
            transition: .3s;
            background: white;
            height: 3px;
        }
        &:hover{
            opacity: 1;

            &:before, &:after{
                transform: rotateY(0);
            }
        }
    }
}
.nav_footer{
	font-size: (14em/16);
	margin: 0 0 0 35px;
    flex: none;

    .nav__link{
        white-space: nowrap;
        padding: 35px 15px;
    }
	.nav__item:not(:first-child){
		position: relative;

		.nav__link{
			&::before{
				height: 2px;
			}
		}

		&:after{
			content: '';
			position: absolute;
			top: 30%;
			left: 0px;
			height: 40%;
			transform: none;
			background: rgba(255,255,255,.5);
			width: 1px;
		}
	}
}
@media only screen and (max-width: 1285px){
    .nav_footer{
        display: none;
    }
    .nav{
        &__burger-link{
            z-index: 101;
            display: block;
            height: 36px;
            width: 36px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 22px;

            &__icon{
                transition: all .3s, top .7s;
                width: 30px;
                left: 3px;
                height: 2px;
                border-radius: 1px;
                background: white;
                position: absolute;

                &:nth-child(1){
                    top: 5px;
                }
                &:nth-child(2){
                    top: 17px;
                }
                &:nth-child(3){
                    top: 30px;
                }
            }
        }

        &__list{
            z-index: 9;
            height: auto;
            position: fixed;
        }
        &__item{
            height: auto;
            white-space: nowrap;
            &:not(:firts-child){
                margin-top: 10px;
            }
        }
        &__link{
            opacity: 1;
            font-size: 16px;
            &:before{
                bottom: 5px;
                top: auto;
                height: 1px;
            }
        }

        .nav__cover{
            display: none;
            position: fixed;
            opacity: 1;
            z-index: 100;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        &_opened .nav__burger-link{
            position: fixed;
            z-index: 102;
        }
        &_opened .nav__burger-link__icon{
            left: 3px;                
            transition: all .7s, top .3s;
            background: #134473;
            &:nth-child(1){
                transform-origin: 50% 50%;
                transform: rotateZ(45deg);
                top: 17px;
            }
            &:nth-child(3){
                transform: rotateZ(-45deg);
                transform-origin: 50% 50%;
                top: 17px;
            }
            &:nth-child(2){
                opacity: 0;
            }
        }
        .nav__list{
            z-index: 101;
            font-size: 1.2em;
            transition: .8s;
            display: none;
            padding: 60px 20px;
            top: 30px;
            left: 50%;
            transform: translate3d(-50%, -50%, 0) scale(0);
            border-radius: 1px;
            width: 350px;
            max-width: 95%;
            background-color: #134473;
        }
        &_opened .nav__list{
            max-height: 100vh;
            top: 50%;
            margin-top: -180px;
            transform: translate3d(-50%, 0, 0) scale(1);
        }

    }
}
@media only screen and (max-width: 768px){
    .nav__burger-link{
        top: 25px;
        width: 22px;
        height: 22px;

        &__icon{
            width: 20px;
            left: 1px;
            
            &:nth-child(1){
                top: 0px;
            }
            &:nth-child(2){
                top: 9px;
            }
            &:nth-child(3){
                top: 18px;
            }
        }
    }
    .nav_opened{
        .nav__burger-link__icon{
            &:nth-child(1){
                left: 1px;
                top: 9px;
            }
            &:nth-child(3){
                top: 9px;
                left: 1px;
            }
        }
    }
}
@media only screen and (max-width: 425px){
    .nav__burger-link{
        top: 19px;
    }
}