.news{
  font-family: 'Open Sans',Arial, Helvetica, sans-serif;
  padding: 80px 0 20px;
  overflow: hidden;

  &__link{
    color: #232323;
    text-decoration: none;
  }
  &_big-thumb{
    .news__articles{
      padding: 0 12%;
    }
  }
  &__articles{
    justify-content: center;
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    padding: 0px 7.3%;
    &_col4{
      padding: 0px;

      .news__article{
        flex-basis: 22%;
      }
    }
  }
  &__img-wrap{
    position: relative;
    cursor: pointer;
    max-height: 260px;
  }
  &__img{
    max-height: 260px;
    object-fit: cover;
    object-position: center top;
  }
  &__img-cover{
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: rgba(0,0,0,.3);
    display: flex;

    .icon{
      font-size: 58px;
      margin: auto;
    }
    &:hover{
      opacity: 1;
    }
  }
  &__article{

    margin: 20px;
    border: 1px solid #ececec;
    border-radius: 3px;
    overflow: hidden;
    min-width: 300px;
    box-shadow: 0 0 25px -25px rgba(80,80,80,.1);
    transition: .5s;

    h1{
      font-size: (20em/16);
      margin: 0 0 10px 0;
    }
    p{
      margin: 0px;
    }
    &:hover{
      transform: translateY(-10px);
      box-shadow: 0 15px 10px -10px rgba(80,80,80,.1);
      h1{
        color: #0095ff;
      }
    }
    &_big{
      flex: 1;
      flex-basis: 45%;      
      margin: 24px 0 0;
      margin-top: 10px;
      
      &:nth-child(2n){
        margin-left: 24px;
      }
    }
    &_small{
      width: 250px;
      flex: 1;
      margin: 8px;
      cursor: pointer;
      min-width: auto;
      box-shadow: 0 0px 10px -10px rgba(80,80,80,.1);
      min-width: 180px;
      &:hover{
        box-shadow:  0 20px 15px -15px rgba(80,80,80,.1);
      }
      .news__article__attr{
        margin: 5px;
      }
      .news__img{
        height: 126px;
      }
      .news__img-cover{
        .icon{
          font-size: 40px;
          display: block;
        }
      }
    }
  }

    &__data{
      padding: 10px;
    }
    &__img{
      width: 100%;
      display: block;
      object-fit: cover;
    }
    &__article__footer{
      display: flex;
      padding: 10px;
      color: #c7c7c7;
      justify-content: space-between;

      &__left{
        display: flex;
        align-items: center;
      }
    }
    &__article__attrs{
      display: flex;
      align-items: center;
      margin: 0px;
      padding: 0px;
    }
    &__article__attr{
      margin: 8px;
      list-style: none;
      align-items: center;

      .icon{
        font-size: 12px;
      }
    }
    .carousel{
      margin-top: 22px;
    }
    .carousel__wrap{
      padding: 10px 0 10px;
    }
    .carousel__item{
      margin-left: 24px;
    }
  &_small{
    .news__articles{
      margin-top: 40px;
    }
    .news__article{
      flex: 0;
      flex-basis: 22%;
    }
  }
  &__form{
    animation: fadeIn 1s;
    margin-top: 50px;

    &__row{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;

      &__cell{
        display: flex;
        flex-wrap: wrap;

        &_h31{
          height: 31px;
        }
      }
    }
    &__radio-group{
      height: 31px;
      border-radius: 4px;
      border: 1px solid #ececec;
      background-color: #ffffff;
      position: relative;
      z-index: 2;
      overflow: hidden;
      transition: .5s linear;
      &.active{
        span{
          &::before, &::after{
            transform: none;
            margin-top: -2px;
            height: 2px;
            width: 10px;
          }
        }
      }
      .wrap{
        transition: .5s linear;
      }
      
      .news__form__label{
        display: block;
        width: 100%;
      }
      &:hover{
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
      }
    }
    &__label{
      flex-basis: 25%;
      flex-grow: 1;
      width: 25%;
      margin: 3px;

      input:not([type="text"]){
        position: absolute;
        left: -9999px;
        
      }
      input[type="text"]{
        -webkit-appearance: none;
        outline: none;
        width: 100%;
        border: 1px solid #ececec;
        border-radius: 3px;
        background-color: #f8f8f8;
        padding: 18px 45px;
        &:focus{
          border-color: #e0e0e0;
          background: #fefefe;
        }
      }
      span{
        cursor: pointer;
        border: 1px solid #0095ff;
        color: #0095ff;
        border-radius: 3px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;

        .icon{
          font-size: 12px;
          margin-right: 5px;
        }
      }
      &_text{
        position: relative;

        .icon{
          position: absolute;
          right: 22px;
          top: 50%;
          transform: translateY(-50%);
          color: #232323;
          font-size: 22px;
        }
      }
      &_check{
        width: 100px;
        flex-basis: 100px;
        
        &:nth-child(2){
          span{
            padding-left: 33px;
          }
        }
        &:nth-child(3){
          span{
            padding-left: 25px;

          }
        }
        &:nth-child(4){
          span{
            padding-left: 25px;
            .icon{
              top: 50%;
            }
          }
        }
        input:checked + span:hover, input:checked + span{
          background: #0095ff;
          color: white;
          transform: none;
        }
        span:hover{
          box-shadow: 0 8px 15px -4px rgba(0, 0, 0, 0.05);
          transform: translateY(-3px);
        }
        span{
          transition: .3s;
          position: relative;
          padding-left: 20px;
          .icon{
            position: absolute;
            top: 49%;
            left: 9px;
            transform: translateY(-50%);
          }
        }
      }
      &_radio{
        margin: 0;

        &:hover{
          span{
            background-color: #f8f8f8;
            border: 1px solid #ececec;
          }
        }
        span{
          border-radius: 0px;
          border: 1px solid #fff;
          padding: 8px 15px;
          padding-right: 30px;
          justify-content: flex-end;
          position: relative;
           &::before, &::after{
            content: '';
            transition: .5s;
            position: absolute;
            right: 10px;
            opacity: 0;
            transform-origin: 50% 50%;
            top: 50%;
            margin-top: 1px;
            background: #0095ff;
            transform: rotateZ(-40deg) translateX(3.4px);
            z-index: 1;
            width: 7px;
            height: 1px;
          }
          &::before{
            transform: rotateZ(40deg) translateX(-3.4px);
          }
        }
        
        input:checked + span::after, input:checked + span::before,{
          opacity: .8;
        }
      }
    }
  }
  &__row{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

    .news__article{
      margin: 0px;
      margin-right: 10px;
      flex: 1;
      flex-basis: 45%;
      width: 48%;
    }
    .banner{
      max-height: 450px;
      flex: 1;
      flex-basis: 45%;
      width: 48%;

      img{
        height: 100%;
        object-fit: cover;
      }
      .slick-list, .slick-track{
        height: 100%;
      }
    }
  }
  &_page{
    margin-top: 150px;
    margin-bottom: 40px;

    .title{
      animation: fadeSlideIn 1s;
    }
  }
}
@media only screen and (max-width: 1440px){
  .news{

    .carousel__item{
      margin-left: 18px;
    }
    &__article{
      margin-top: 18px;
      &_big{
        &:nth-child(2n){
          margin-left: 18px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px){
  .news{
 
    &__articles{
      padding: 0 5%;
    }
    &__article_big:nth-child(2n){
      margin-left: 10px;
    }
    .carousel{
      margin: 22px -30px 0; 
      width: auto;
    }
    .carousel__item{
      margin-left: 10px;
    }

  }
}

@media only screen and (max-width: 1024px){
  .news__article{
    margin: 5px;
  }
  .news{
    margin-top: 40px;
    padding-top: 20px;

    .carousel{
       margin: 22px -110px 0;
       width: auto;

       &__next, &__prev{
          .icon{
            margin-right: 15%;
          }
       }
    }

    .carousel__item{
      margin-left: 10px;
    }
    &_small{
      .news__article{
        flex-basis: 45%;
      }
    }
  }
  .news__article_big{
    margin: 5px;

    &:nth-child(2n){
      margin-left: 5px;
    }
  }

}
@media only screen and (max-width: 900px){
   .news{
    .carousel{

       &__next, &__prev{
          .icon{
            margin-right: 10%;
            font-size: 40px;
          }
       }
    }
   }
}
@media only screen and (max-width: 750px){
  .news__article_big{
    margin: 0px;
    flex-basis: 100%;
    margin-top: 10px;

    &:nth-child(2n){
      margin-left: 0px;
    }
  }
  .news{
     .carousel{
        width: auto;

        &__next, &__prev{
          justify-content: flex-end;
          align-items: center;
          .icon{
            margin-right: 5%;

            font-size: 40px;
          }
        }
    }
  }
}
@media only screen and (max-width: 720px){
  .news .carousel__item{
    margin-left: 5px;
  }
  .news .carousel{
    margin: 22px -105px;
  }
  .news__articles{
    flex-wrap: wrap;

    &_col4{
      .news__article{
        flex-basis: 45%;
      }
    }
  }
}
@media only screen and (max-width: 660px){
 .news .carousel{
   margin: 22px -90px 0;
 }
}
@media only screen and (max-width: 570px){
 .news .carousel{
   margin: 22px -80px 0;
 }
}
@media only screen and (max-width: 500px){
 .news .carousel{
   margin: 22px -140px 0;
 }
}
@media only screen and (max-width: 630px){
  .news__row{
    .news__article{
      margin: 5px;
      flex-basis: 100%;
    }
    .banner{
      margin: 10px 5px 0;
      flex-basis: 100%;
      width: 100%;
    }
  }
  .news_page .news__articles{
    padding: 0px;
  }
}
@media only screen and (max-width: 600px){
  .news__form__row{
    margin-top: 0px;
    &__cell{
      margin-top: 10px;
      max-width: 56%;
    }
  }
}
@media only screen and (max-width: 550px){
  .news__articles{
    &_col4{
      .news__article{
        flex-basis: 100%;
      }
    }
  }
}

@media only screen and (max-width: 425px){
  .carousel__next, .carousel__prev{
    .icon{
      font-size: 32px;
    }
  }
  .news{
    &__articles{
      padding: 0px 32px;
      margin-top: 20px;
    }
    &__article{
      margin: 10px 0 0 0;
    }

    &_small{
      .news__articles{
        margin-top: 8px;
      }
      .news__article{
        flex-basis: 100%;
        margin-top: 22px;
      }
    }
  }
  .news .carousel{
      margin: 0 -22%;

      &__next, &__prev{
        .icon{
          margin-right: 6%;
        }
      }
  }
  .news_page{
    margin-top: 100px;
  }
  .news__form{
    margin-top: 30px;

    &__row__cell{
      max-width: 100%;
    }
    &__label_check{
      max-width: 50%;
      flex-basis: 45%;
    }
  }
}