.page-title{
  padding-top: 82px;
  height: 386px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: url('../pictures/about_top_bg_1280.jpg');
  background-size: cover;
  background-position: top;
  flex-direction: column;
  
  &:after{
    content: '';
    left: 0;
    opacity: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
    position: absolute;
    background: linear-gradient(180deg, rgba(82, 113, 147, 0.3) 10%, #527193 100%);
  }
  h1,span,div{
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
    position: relative;
    z-index: 1;
  }
}
.page-title_contacts{
  background-image: url('../pictures/contacts_top_bg_1280.jpg');
}
.page-title_investors{
  background-image: url('../pictures/investors_top_bg_1280.jpg');
  height: 500px;
}
.page-title_partners{
  background-image: url('../pictures/partners_top_bg_1280.jpg');
  height: 386px;
}

@media only screen and (max-width: 768px){  
  .page-title_about{
    height: 309px;
  }
  .page-title_investors{
    height: 410px;
    &:after{
      background: linear-gradient(180deg, rgba(82, 113, 147, 0.5) 10%, #527193  );      
    }
  }
}
@media only screen and (max-width: 425px){
  .page-title_about{
    height: 247px;
  }
  .page-title_investors{
    height: 350px;

    .link-button{
      margin-top: 15px;
    }
    .title-subtext{
      margin-top: 5px;
    }
  }
}