.park{
  padding: 60px 0 10px;
  text-align: center;

  &__wrap{
    width: (984%/1280 *100);
    margin: 40px auto 0;
    position: relative;
  }
  &__img{
    width: 100%;
  }
  &__item{
    position: absolute;
    list-style: none;
    
    &:hover, &_active{
      .park__tooltip, .icon-tooltipArr{
        opacity: 1;
        transform: rotateX(0deg);
        transition: opacity .5s, transform 0s 0s;
        
      }
      .icon-tooltipArr{
        transform: rotateZ(180deg);
        transition: opacity .5s, transform 0s 0s;
      }
    }

    .icon-mark{
      position: relative;
      font-size: 18px;
      cursor: pointer;
    }
    .icon-tooltipArr{
      transition: opacity .5s, transform 0s .5s;
      opacity: 0;
      position: absolute;
      transform: rotateZ(180deg) rotateX(90deg);
      bottom: 110%;
      left: -1.5px;
      font-size: 16px;
    }
    
    &:nth-child(1){
      left: (267%/984 * 100);
      top: (240%/554 * 100);
    }
    &:nth-child(2){
      left: (379%/984 * 100);
      top: (374%/554 * 100);
    }
    &:nth-child(3){
      left: (475%/984 * 100);
      top: (315%/554 * 100);
    }
    &:nth-child(4){
      left: (526%/984 * 100);
      top: (204%/554 * 100);
    }
    &:nth-child(5){
      left: (580%/984 * 100);
      top: (113%/554 * 100);
    }
    &:nth-child(6){
      left: (693%/984 * 100);
      top: (126%/554 * 100);
    }
    &:nth-child(7){
      left: (740%/984 * 100);
      top: (70%/554 * 100);
    }
  }
  &__tooltip{
    z-index: 1;
    transition: opacity .5s, transform 0s .5s;    
    opacity: 0;
    transform: rotateX(90deg);
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 280px;
    left: -130px;
    position: absolute;
    bottom: 166%;

    &__img{
      width: 100%;
      display: block;
    }
    &__text{
      order: 1;
      display: block;
      padding: 5px;
    }
  }
  &__link{
    margin-top: 10px;
  }
}
@media only screen and (max-width: 768px){
  .park{
    margin-top: 20px;
    padding-top: 20px;
    &__wrap{
      width: 95%;
    }
    &__tooltip{
      bottom: 180%;
    }
    .icon-mark{
      font-size: 12px;
    }
    .icon-tooltipArr{
      left: -4.5px;
    }
  }
}
@media only screen and (max-width: 600px){
  .park__item{

    &:nth-child(1){
      .park__tooltip{
        left: -90px;
      }
    }
    &:nth-child(6){
      .park__tooltip{
        left: -190px;
      }
    }
    &:nth-child(7){
      .park__tooltip{
        left: -190px;
      }
    }
  }
}
@media only screen and (max-width: 425px){
  .park__item{

    &:nth-child(5){
      .park__tooltip{
        left: -160px;
      }
    }
  }
}