.preloader{
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%);
  margin-top: -100px;
  position: relative;
  z-index: 2;

  img{
    height: 50px;
    margin-top: 40px;
  }
}