.preview{
    .container{
        position: fixed;
        margin-left: 11.5%;
        z-index: 1; 
        width: 600px;
        max-width: 73%;
        top: 150px;
        color: white;
    }
    &__title{
        font-size: (48em/16);
        font-weight: 200;
        margin: 28px 0 0;
    }
    .title-subtext{
        font-size: (26em/16);
        display: block;
        margin: 10px 0 0;
        font-weight: 200;
        text-align: left;
    }
    &__link{
        display: inline-block;
        margin-top: 32px;
        color: #0095ff;
        font-size: (12em/16);
        letter-spacing: 1px;
        background: white;
        border-radius: 3px;
        padding: 18px 60px 18px 55px;
        text-decoration: none;
        position: relative;
        box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.13);
        transition: box-shadow .3s;

        .icon{
            position: absolute;
            right: 25px;
            top: 21px;
            transition: .5s;
            font-size: 4px;
            margin-top: 1px;
            transform: rotateZ(90deg);
        }
        &:hover{
            .icon{
                right: 20px;
            }
        }
        &:active{
            .icon{
                right: 25px;
            }
            box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.13);
        }
    }
    .slider{
        height: 924px;

        &__slide{
            background-image: url('../img/slide1.jpg');
            background-size: cover;
            background-position: 8% top;
            background-repeat: no-repeat;
            height: 100%;
        

            &:nth-child(2){
                background-image: url('../img/slide2.png');
            }
            &:nth-child(3){
                background-image: url('../img/slide3.png');
                background-position: 60% top;
            }
        }
        &__controls{
            display: flex;
            position: fixed;
            width: 100px;
            top: 80%;
            z-index: 2;
            left: 11.5%;
            transition: .5s;
            &-data{
                text-align: center;
                color: white;
                margin: auto;
                display: block;
                font-size: 1.25em;
            }
        }
        &__next, &__prev{
            position: static;
            transform: translateY(0);
            &:hover{
                transform: translateX(-5px);
            }
            .icon{
                color: white;
            }
        }
        &__next{
            transform: rotateZ(180deg);
        }
        &__next:hover{
            transform: translateX(5px) rotateZ(180deg);
        }
    }
}
@media only screen and (max-height: 450px){
    .preview .container{
        top: 70px;
        .preview__link{
            margin-top: 10px;
        }
    }
}
@media only screen and (max-height: 570px){
    .preview .slider__controls{
        left: auto;
        right: 5%;
    }
}

@media only screen and (max-width: 1280px){
    .preview{

        .slider__slide:nth-child(1){
            background-image: url('../img/slide1_1280.jpg');
            background-position: 8%;
        }
        .slider__slide:nth-child(2){
            background-image: url('../img/slide2_1280.png');
            background-position: 8%;
        }
        .slider__slide:nth-child(3){
            background-image: url('../img/slide3_1280.png');
            background-position: 8%;
        }
    }
}
@media only screen and (max-width: 1024px){
    .preview{

        .slider__slide{
            height: 924px;
            background-image: url('../img/slide1.jpg');
            background-size: cover;
            background-position: 8%;

        }
    }
}
@media only screen and (max-width: 768px){
    .preview{
        .slider__slide{
            
            &:nth-child(1){
                background-image: url('../img/slide1_768.jpg');
                background-position: 90% top;
            }
            &:nth-child(2){
                background-image: url('../img/slide2_768.png');
                background-position: 90% top;
            }
            &:nth-child(3){
                background-image: url('../img/slide3_768.png');
                background-position: 90% top;
            }
        }
        .slider__img{
            object-position: 40%;
        }


    }
}
@media only screen and (max-width: 600px){
    .preview{
        &__title{
            font-size: 30px;
        }
        .title-subtext{
            font-size: 22px;
        }
        .container{
            max-width: 80%;
            maring-left: 10%;
            top: 70px;
        }
        .slider{
            height: 120vh;            
            .slider__img{
                height: 120vh;
            }
        }
    }
}
@media only screen and (max-width: 425px){
    .preview{
        .slider__slide{
            height: 646px;

            background-size: auto 790px;
        }
        .container{
            text-align: center;
        }
        .title-subtext{
            text-align: center;
            margin: 10px auto;
        }
    }
    .preview .slider__controls{
        left: 50%;
        transform: translateX(-50%);
        top: 90%;
    }
}
@media only screen and (min-height: 900px){
    .preview{
        .slider__controls{
            top: 630px;
        }
    }
}