.progress{
    padding: 90px 0px 20px;

    &__progress-bar{
        margin-top: 50px;
        position: relative;

        i.time-line{
            content: ' ';
            display: block;
            position: absolute;
            top: 18px;
            border: 1px solid #ccc;
            border-radius: 3px 3px 0 0;
            border-width: 1px 1px 0 1px;
            width: 66.08%;
            height: 58%;
        }
    }
    &__legend{
        
        &__top{
            display: flex;
            justify-content: space-between;
            padding-bottom: 80px;

            span{
                position: relative;
                z-index: 2;
                display: block;
                font-size: (14em/16);
                padding-top: 10px;
                font-family: 'Open Sans', Arial, Helvetica, sans-serif;
                text-align: center;

                &:nth-child(2){
                    padding: 10px;
                    background: white;
                }
            }
        }
        &__bottom{
            justify-content: space-between;
            width: 100%;
            position: relative;

            span{
                position: absolute;
                bottom: 10px;
            }
            span:nth-child(1){
                left: 1%;
            }
            span:nth-child(2){
                left: 15.5%;
            }
            span:nth-child(3){
                left: 81.8%;
            }
        }
    }

    &__items{
        width: 100%;
        display: flex;
        position: absolute; 
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
    }
    .slider__wrap{
        margin-top: 30px;
    }
    &__list{
        border-radius: 3px;
        display: flex;
        flex: 9;
        padding: 0px;
        margin: 0px;
        border-width: 1px 1px 1px 0px;
    }
            
    &__bar__item{
                
        &:nth-child(1){
            color: white;
            border-radius: 3px 0 0 3px;
            background-image: linear-gradient(to right, #00aef3 0%, #00b9ec 100%);
        }
        &:nth-child(2){
            background-image: linear-gradient(to right, #00b9ec 0%, #00bdeb 100%);   
            color: white;
        }
        &:nth-child(3){
            background-image: linear-gradient(91deg, #00bcea 0%, #00bfe9 100%);
            color: white;
        }
        &:nth-child(4){
            background-image: linear-gradient(to right, #00bfe9 0%, #00c2e7 100%);
            color: white;
        }
        &:nth-child(5){
            background-image: linear-gradient(to right, #00c2e7 0%, #00c5e6 100%);
            color: white;
        }
        &:nth-child(6){
            background-image: linear-gradient(to right, #00c6e6 0%, #00c8e4 100%);
            color: white;
        }
        &:nth-child(8){
            background-image: linear-gradient(to right, #00cbe2 0%, #00cee0  100%);
            color: white;
        }
        &:nth-child(7){
            background-image: linear-gradient(to right, #00cbe2 0%, #00cee1  100%);
            color: white;
        }
        &:nth-child(9){
            background-image: linear-gradient(to right, #00cfe1 0%, #00d1df 100%);
            color: white;
        }
        &:nth-child(10){
            background-image: linear-gradient(to right, #00c8e4 0%, #00cbe2 100%);
            color: white;
        }

    }

    &__bar__item{
        font-size: 14px;
        list-style: none;
        padding: 3px 10px;
        flex-grow: 1;
        background-color: white;
        margin: -1px;
        border: 1px solid #0095ff;
        border-width: 1px;
        text-align: center;
        transition: .1s;
        cursor: pointer;

        &:hover{
            transform: scale(1.1);
            border-radius: 3px;
        }

        &_big{
            min-width: 120px;
            flex-grow: 9;
            border-radius: 0 3px 3px 0;
        }
        &_active{
            background-color: #0095ff;
            background-image: none !important;
            color: white;
        }
    }
    &__slide{
        position: relative;
        min-height: 500px;
        padding: 40px 150px; 
        align-items: flex-start;
        display: flex;
        &.slider__slide_active{
        }
    }
    &__img{
        width: 100%;
        height: 100%;
        display: block;
        left: 0px;
        top: 0px;
        object-fit: cover;
        position: absolute;
    }
    &__text{
        width: 60%;
        position: relative; 
        z-index: 1;
        padding: 10px 20px;
        background: white;
        border-radius: 3px;
    }
    .slider__prev{
        z-index: 1;
        left: 40px;
    }
    .slider__next{
        z-index: 1;
        right: 40px;
    }
}
@media only screen and (max-width: 1024px){
    .progress__legend__top{
        span{
            max-width: 120px;
        }
    }
    .progress__text{
        width: 80%;
    }
}
@media only screen and (max-width: 900px){
    .progress__text{
        width: 100%;
    }
}
@media only screen and (max-width: 768px){
    .progress{
        padding-top: 70px;

        &__legend__top span{
            font-size: 1em;
        }
        &__slide{
            align-items: center;
            padding: 40px 70px;
        }
        &__text{
            margin: auto;
            width: 100%;
        }
        .slider__prev{
            left: 20px;
        }
        .slider__next{
            right: 20px;
        }
    }
}
@media only screen and (max-width: 767px){
    .progress__bar__item{
        font-size: 0px;
        padding: 5px;

        &_big{
            flex-grow: 3;
            min-width: 100px;
        }
    }
}
@media only screen and (max-width: 425px){
    .progress__items{
        top: 55%;
    }
    .progress .slider__wrap{
        margin-top: 14px;
    }
    .progress__progress-bar{
        i.time-line{
            height: 48px;
            top: 30px;
        }
    }
    .progress__bar__item{

        &_big{
            min-width: 50px;
            flex-grow: 1;
        }
    }
    .progress__legend__top{
        padding-bottom: 60px;
        span{
            font-size: (13em/14);
            &:nth-child(1){
                max-width: 100px;
                position: relative;
                top: -25px;
            }
            &:nth-child(3){
                max-width: 100px;
                position: relative;
                top: -25px;
            }
        }
    }
     .progress{
        padding-top: 40px;

        &__legend__top span{
            font-size: 1em;
        }
        &__slide{
            align-items: center;
            padding: 30px;
        }
        &__text{
            margin: auto;
            width: 95%;
            padding: 10px;
            text-align: justify;

            h2{
                text-align: left;
            }
        }
        .slider__prev{
            left: 2.5%;
        }
        .slider__next{
            right: 2.5%;
        }
    }
}