.products{
    padding: 90px 0px 20px;
    background-image: linear-gradient(180deg, #ffffff 0%, #f9f9f9 100%);
    
    &__title{
        text-align: center;
        margin-top: 0px;
    }
    .title-subtext{
        width: 80%;
        margin-left: auto;
    }
    &__slide{
        align-items: center;

        &__right{
            margin-left: 100px;
            margin-bottom: 50px;
        }
        &__attr-list{
            padding: 0px;
        }
        &__attr-item{
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;            
            list-style: none;
        }
        &__attr-title{
            display: block;
            margin-top: 20px;
        }
        &__attr-val{
            font-size: (20em/16);
        }
    }
    .slider{
        &__slide{
            display: block;
        }
        &__slides{
            width: 100%;
            display: flex;
        }
    }
    &__product{
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0px 40px;
    }
}
.products__slider{
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    &__img{
        max-width: 50%;
    }
    &__wrap{
        order: 2;
        box-shadow: inset 5px 0 5px -5px white, inset -5px 0 5px -5px white;
    }
    &__dots-list{
        order: 1;
        padding: 0px 10px;
        display: flex;
        width: 850px;
        max-width: 100%;
        margin: auto;
    }
    &__dots-item{
        list-style: none;
        flex: 1;
        margin: 0 7.5px;
        width: 25%;
        flex-grow: 1;

        &_active{
            border: 1px solid #ececec;
        }
    }

    &__dots-link{
        text-decoration: none;
        color: #0095ff;
        padding: 14px 6px;
        letter-spacing: 1px;
        border: 1px solid #0095ff;
        border-radius: 3px;
        font-size: (12em/16);
        display: flex;
        justify-content: center;

        .hover{
            background: #0095ff;
            bottom: -100%;
        }
        &_active{
            .hover{
                opacity: 0;
                transition: opacity 0s .4s;
            }
            border: 1px solid #ececec;
            cursor: default;
            color: #000;
        }
    }
    &__wrap{
        display: flex;
        margin-top: 40px;
        align-items: center;
        justify-content: space-between;
    }
    &__slide{
        display: flex !important;
    }
    .slider__next{
        right: 30px;
    }
    .slider__prev{
        left: 30px;
    }
}

.gallery{
    margin-top: 20px;
    
    .gallery__list{
        list-style: none;
        padding: 0px;
        display: flex;
    }
    &__item{
        width: 84px;
        height: 84px;
        display: block;
        cursor: pointer;
        
        &:hover{
            transform: scale(1.05);
        }

        &:not(:first-child){
            margin-left: 15px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}
@media only screen and (max-width: 1024px){
    .products{
        &__slider{
            .slider__next{
                right: 20px;
            }
            .slider__prev{
                left: 20px;
            }
        }
        &__slide{
            justify-content: space-between;

            &__right{
                margin-left: 20px;
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .products{
        padding-top: 40px;
        
        &__slider{
            .slider__next{
                right: 15px;
            }
            .slider__prev{
                left: 15px;
            }
        }
    }
    .gallery{
        &__item{
            width: 50px;
            height: 50px;

            &:not(:first-child){
                margin-left: 10px;
            }
        }
    }
}
@media only screen and (max-width: 767px){
    .products{
        &__slider{

            &__dots-list{
                flex-wrap: wrap;
            }
            &__dots-item{
                margin: 5px;
                width: 50%;
                flex: 1;
                flex-basis: 33%;
            }
        }
    }
}
@media only screen and (max-width: 600px){
    .products__slider{
        &__img{
            max-width: 100%;
        }
        .slider__next, .slider__prev{
            top: 60%;
        }
        .slider__next{
            right: 10px;
        }
        .slider__prev{
            left: 10px;
        }
    }
    .products{
        padding-bottom: 15px;
    }
    .products__slide__right{
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .products__product{
        flex-direction: column;
    }
}
@media only screen and (max-width: 425px){
    .products{
        &__slider{
            margin-top: 22px;
            &__dots-item{
                margin: 2px;
            }
        }
    }
}