.representatives{
    &__list{
      padding: 0px;
      justify-content: flex-start;
      margin: 0px;
      margin-left: -1%;
      text-align: left;
    }
    &__item{
      list-style: none;
      min-width: 250px;
      text-align: left;
      margin-left: .8%;
      width: 19%;
      border: 1px solid #ececec;
      margin-top: 20px;
      background-color: #fafafa;
      display: inline-block;

      &__title{
        font-size: (20em/16);
      }
      &__text_small{
        margin-bottom: 10px;

      }
      &__data{

        a{
          color: #0095ff;
          text-decoration: none;
        }
        padding: 15px;
        background: white;

        span{
          display: block;
          line-height: 1.3em;
        }
      }
    }
    &__img-wrap{
      border-radius: 50%;
      overflow: hidden;
      width: 184px;
      height: 184px;
      margin: 20px auto;
    }
}
@media only screen and (max-width: 1800px){
  .representatives{

    &__list{
      width: 1400px;
      margin: auto;
    }
    &__item{
      width: 24%;
      margin-left: .6%;
      margin-top: 14px;
    }
  }
}
@media only screen and (max-width: 1500px){
  .representatives{

    &__list{
      width: auto;
    }
  }
}
@media only screen and (max-width: 1180px){
  .representatives{

    &__item{
      width: 32%;
      margin-left: 1%;
      margin-top: 16px;
    }
  }
}
@media only screen and (max-width: 920px){
  .representatives{
    &__list{
      width: 90%;
    }
    &__item{
      width: 48%;
      margin-left: 1.3%;
      margin-top: 13px;
    }
  }
}
@media only screen and (max-width: 625px){
  .representatives{
    &__list{
      width: 100%;
      text-align: center;
    }
    &__item{
      max-width: 300px;
      width: 95%;
      margin: 10px auto 0;

    }
  }
}