.representative-office{
  padding: 40px 0 0;

  &__img-wrap{
    width: 60%;
  }
  &__wrap{
    margin-top: 25px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
  }
  .title{
    animation: fadeSlideIn 1s;
  }
  &__img{
    max-width: 100%;
    object-fit: cover;
    animation: slideFromLeft 1.5s;
    display: block;
  }
  &__contacts{
    animation: fadeIn 1.5s;
    margin-left: 30px;
  }
  &__text{
    display: block;
    margin: 30px 0 5px 0;

    &:first-child{
      margin-top: 0px;
    }
    &_big{
      font-size: (20em/16);
    }
  }
  .socials{
    margin-top: 30px;
  }
  &__link{
    text-decoration: none;
    color: #0095ff;
    font-size: (20em/16);
    &:hover{
      text-decoration: underline;
    }
  }
}
@media only screen and (max-width: 950px){
  .representative-office{

    &__wrap{
      flex-direction: column;
      align-items: center;
    }
    &__img-wrap{
      width: auto;
      max-width: 90%;
    }
    &__contacts{
      margin: 0px;
      margin-top: 20px;
    }
    &__text{
      font-size: 0px;
      margin-top: 20px;
    }
    .socials{
      margin: 20px auto 0;
      
      &__list{
        margin: auto;
        display: inline-flex;
      }
    }
    text-align: center;
  }
}