.slider{
    &__slides-list{
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        position: relative;
        height: 100%;
    }
    &__controls{
        position: relative;
    }
    &__slide{
        position: relative;
        display: none;

        &_active{
            display: block;
        }
    }
    &__slides{
        margin: auto;
        padding: 0px;
    }
    &_big-img{

        .slider__img{
            display: block;
            width: 100%;
            object-fit: cover;
        }
        .slider__slide{
            position: absolute;
            top: 0px;
            width: 100%;

            &:after{
                content: '';
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                height: 50%;
                background: linear-gradient(0deg, #527193, transparent)
            }
        }
        .container{
            animation: slideUp .8s linear;
        }
    }
    &__wrap{
        position: relative;
    }
    &__prev, &__next{
        z-index: 1;
        padding: 5px;
        display: block;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #232323;
        transform-origin: 50% 50%;
        transition: .4s;

        .icon{
            font-size: 44px;
            display: block;
        }
        
        &:hover{
            transform: scale(1.1) translateY(-50%);
        }
    }
    &__next{
        right: 0;
        left: auto;
        transform: rotateZ(180deg) translateY(50%);
        &:hover{
            transform: scale(1.1) rotateZ(180deg) translateY(50%);
        }
    }

}
@keyframes slideUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@media only screen and (max-width: 600px){
    .slider_big-img{
        .slider__slide{
            &:after{
                height: 100%;
            }
        }
    }
}
@media only screen and (max-width: 425px){
    .slider{

        &__prev, &__next{
            .icon{
                font-size: 32px;
            }
        }
    }
}