.socials{
  
  &__list{
    margin: 0px;
    padding: 0px;
    display: flex;
  }
  &__item{
    list-style: none;
    margin: 10px;
  }
  &__link{
    color: #fff;
    opacity: .7;
    .icon{
      font-size: 18px;
    }
    &:hover{
      opacity: 1;
    }
  }
  &_blue{
    .socials__link{
      color: #0095ff;
      border: 1px solid #0095ff;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      .icon{
        &-vk{
          font-size: 14px;
        }
        &-fb{
          font-size: 18px;
        }
        &-ok{
          font-size: 24px;
        }
        &-youtube{
          font-size: 14px;
        }
        &-telegram{
          font-size: 20.5px;
        }
      }
    }
    .socials__item{
      margin: 3px;
    }
  }
}
@media only screen and (min-width: 1281px){
  .socials__item{
    margin: 11px;
  }
}