.sticky-bg{
  position: relative;

  *{
    position: relative;
    z-index: 1;
  }
  &__canvas{
    z-index: 1;
    top: 200px;
    min-height: 600px;
    position: absolute;
    width: 100%;
    height: (614vw/1280 * 100);
    background: url('../pictures/investors__center_bg_1280.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
}
@media only screen and (max-width: 425px){
  .sticky-bg{

    &__canvas{
      top: 330px;
    }
  }
}
@media only screen and (max-width: 375px){
  .sticky-bg{

    &__canvas{
      top: 450px;
    }
  }
}