.tabs{
  margin: 90px 0 0;

  &__figure{
    margin: 0px;
    figcaption{
      text-align: center;
      font-weight: 600;
      font-size: 1.1em;
    }
  }
  .title-subtext{
    margin-top: 24px;
    width: 95%;
  }

  &__list{
    padding: 0px;
    position: relative;
    margin: 32px 0 0 0;
    overflow: hidden;
  }
  &__item{
    margin: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    position: absolute;
    &_active{
      position: relative;
    }
  }
  &__img{
    display: block;
    margin: auto;
    width: 90%;
    max-width: 1600px;
    margin-top: 20px;
  }
  .dots__link{
    flex-basis: 184px;
    background-color: #fafbfc; 
  }
  &_social-comments{
    margin-top: 60px;
    .dots__list{
      margin: 0px;
      justify-content: flex-start;
      z-index: 5;
      border-radius: 5px 5px 0 0;
      position: relative;
      border: 1px solid #e0e4eb;
      border-bottom-width: 0px;
      display: inline-flex;
      overflow: hidden;
    }
    .dots__link{
      color: #222;
      font-size: 1em;
      border-radius: 0px;
      border: none;
      letter-spacing: 0px;
      z-index: 3;
      padding: 17px 13px;
      border-bottom: 1px solid #e0e4eb;

      &_active{
        background: white;
        border-bottom-color: white;
      }
      .icon{
        font-size: 32px;
        margin-right: 10px;
      }
    }
    .dots__item{
      margin: 0px;
      border: none;

      &:not(:first-child){
        border-left: 1px solid #e0e4eb;
      }
    }
    .tabs__list{
      border: 1px solid #e0e4eb;
      margin-top: -1px;
      overflow: hidden;
    }
  }
}

@media only screen and (max-width: 1440px){
  .tabs__img{
    max-width: 800px;
  }
}
@media only screen and (max-width: 768px){
  .tabs{
    padding-top: 10px;
    margin-top: 50px;
    

    &_social-comments{
      .dots__list{
        width: auto;
      }
    }
    .carousel{
      &_small{
        .carousel__next, .carousel__prev{
          .icon{
            font-size: 40px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 425px){
  .tabs{
    padding-top: 10px;
    margin-top: 50px;
    &_social-comments{
      .dots__list{
        width: 100%;
      }
    }
    .title-subtext{
      width: 90%;
    }
  }
}
@media only screen and (max-width: 375px){
  .carousel{
    &__next, &__prev{
      .icon{
        margin-right: 1.5vw;
      }
    }
  }
}
@media only screen and (min-width: 375px){
  .tabs{

    &_social-comments{
      .tabs__item{
        padding: 10px;
      }
    }
  }
}