.team{
  margin-top: 60px;
  padding: 40px 0; 
  background-image: linear-gradient(180deg, #ffffff 0%, #f9f9f9 100%);
  position: relative;

  &__wrap{
    position: relative;
    margin: 40px auto 0;
    width: 80%;
  }
  &__list{
    padding: 0px;
    margin: 0px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
  }
  &__item{
    list-style: none;
    flex: 1;
    flex-basis: 25%;
    min-width: 250px;
    max-width: 320px;
    margin: 55px 20px 0 20px;
    text-align: center;
    position: relative;
  }
  &__figure{
    margin: 0px;
  }
  &__img-wrap{
    border-radius: 50%;
    width: 185px;
    height: 185px;
    overflow: hidden;
    margin: auto;
  }
  &__img{
    width: 100%;
    object-fit: cover;
  }
  &__name{
    font-size: (20em/16);
    margin-top: 10px;
  }
  &__position{ 
    display: block;
    margin-top: 5px;
  }
  &__more-button{
    box-shadow: 0 15px 20px -20px rgba(0,0,0,.3);
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate3d(-50%, 50%, 0);
    cursor: pointer;
    z-index: 1;
    color: #0099de;
    font-size: 12px;
    padding: 15px;
    border: 1px solid #ececec;
    min-width: 280px;
    border-radius: 3px;
    background-color: #ffffff;
  }
  &__main-img-fig{
    margin: 0px;
    &__wrap{
      background-color: #191c21;
      text-align: center;
      position: relative;

      img{
        max-width: 100%;
        object-fit: cover;
      }
    }
    &__data{
      padding: 15px;
      text-align: center;
      color: #232323;
    }
    &__caption{
      font-size: (20em/16);
    }
  }
  .tooltip{
    position: absolute;
    top: 10px;
    right: 10px;

    &__icon-wrap{
      border: 1px solid #0095ff;
      border-radius: 50%;
      width: 26px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .icon-info{
      position: relative;
      left: 1px;
      top: -1px;
      color: #0095ff;
      border-radius: 50%;
      font-size: 16px;
    }
  }
}
.team_cells{
  .team{
    &__list{
      width: 82%;
      margin: 30px auto 0;
      overflow: visible;
    }
    &__item{
      margin: 10px;
    }
    &__figure{
      background: #fafafa;
      border: 1px solid #ececec;
      
      &__top{
        padding: 20px;
      }
      &__data{
        background-color: #ffffff;
        padding: 20px;
        border-top: 1px solid #ececec;
      }
    }
    &__name{
      margin-top: 0;
    }
  }
}
@media only screen and (max-width: 1100px){
  .team_cells .team{

    &__item{
      margin: 5px;
    }
  }
}
@media only screen and (max-width: 1024px){
  .team_cells .tooltip{
    &__body{
      transform: translateX(-90%);
      
      .icon-tooltipArr{
        left: 91%;
      }
    }
  }
}
@media only screen and (max-width: 982px){
  .team_cells{
    margin-top: 20px;
  }
  .team_cells .team{
    &__item{
      max-width: 48%;
      flex: 1;
      flex-basis: 50%;
    }
  }
}
@media only screen and (max-width: 768px){
  .team{
    margin-top: 40px;

    &__item{
      margin-top: 40px;
      flex-basis: 40%;
    }
  }
}
@media only screen and (max-width: 630px){
  .team_cells .team{
    &__list{
      width: 95%;
    }
    .tooltip__body{
      padding: 8px;
    }
  }
  .team__item{
    flex-basis: 40%;
  }
}
@media only screen and (max-width: 530px){
  .team_cells .team{
    &__item{
      max-width: 100%;
      width: 100%;
    }
  }
}
@media only screen and (max-width: 530px){
  .team_cells{
    padding-top: 20px;
  }
}
@media only screen and (max-width: 425px){
  .team{
    margin-top: 20px;

    &__wrap{
      width: 90%;
    }
    &__item{
      margin-top: 30px;
      flex-basis: 100%;
    }
  }
}