.tooltip{


  &:hover{

    .tooltip__body{
      display: block;
    }
  }
  &__body{
    display: none;
    text-align: left;
    padding: 20px;
    z-index: 2;
    background: #fff;
    position: absolute;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    border: 1px solid #ececec;
    bottom: 165%;

    h2{
      margin-top: 0px;
      margin-bottom: 10px;
      font-size: (20em/16);
    }
    p{
      margin: 0px;
    }
    .icon-tooltipArr{
      bottom: -15px;
      transform: rotateZ(180deg) translateX(50%);
      left: 50%;
      transform-origin: 50% 50%;
      font-size: 20px;
      position: absolute;
    }
  }
}