.tooltips{
  padding: 60px 0 10px;

  .dots__list{
    flex-wrap: wrap;
  }

  &__img{
    width: 100%;
  }
  &__wrap{
    position: relative;
    margin-top: 40px;
  }

  &__item{
    position: absolute;
    list-style: none;
    
    .icon{
      font-size: 22px;
      cursor: pointer;
    }
    .icon-tooltipArr{
      position: absolute;
      display: none;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      z-index: 2;
    }

    &:nth-child(1){
      top: 58%;
      left: 20%;
    } 
    &:nth-child(2){
      top: 34%;
      left: 54%;
    }
    &:nth-child(3){
      top: 10%;
      left: 80%;
    }
    &_active{
      .tooltips__tooltip{
        display: block;
      }
      .icon-tooltipArr{
        display: block;
        cursor: default;
      }
    } 

  }
  &__tooltip{
    display: none;
    background: white;
    padding: 10px;
    width: 500px;
    max-width: 95vw;
    top: 40px;
    border-radius: 4px;
    border: 1px solid #ececec;
    position: absolute;
    z-index: 1;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    left: -240px;
  }
}

@media only screen and (max-width: 1350px){
  .tooltips{

    &__item{

      &:nth-child(1){
        .tooltips__tooltip{
          left: -100px;
        }
      }
      &:nth-child(3){
        .tooltips__tooltip{
          right: -100px;
          left: auto;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px){
  .tooltips .dots__item{
    flex-basis: 30%;
  }
}
@media only screen and (max-width: 750px){
  .tooltips{
    .dots__item{
      flex-basis: 30%;
    }
    &__item{
      .icon-mark{
        font-size: 16px;  
      }
      .tooltips__tooltip{
        top: 30px;
      }      
      .icon-tooltipArr{
        font-size: 17.5px;
      }
      &:nth-child(2){
        top: 31%;
      }
      &:nth-child(1){
        top: 55%;
        .tooltips__tooltip{
          left: -50px;
        }
      }
      &:nth-child(3){
        .tooltips__tooltip{
          right: -50px;
          left: auto;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px){
  .tooltips{

    &__item{
      .tooltips__tooltip{
        width: 400px;
      }
      &:nth-child(1){
        .tooltips__tooltip{
          left: -50px;
        }
      }
      &:nth-child(2){
        .tooltips__tooltip{
          right: -200px;
          left: auto;
        }
      }      
      &:nth-child(3){
        .tooltips__tooltip{
          right: -50px;
          left: auto;
        }
      }
    }
  }
}
@media only screen and (max-width: 520px){
  .tooltips{
    .dots__item{
      flex-basis: 45%;
    }
    .dots__item:nth-child(2){
      order: 1;
      margin-top: 10px;
      flex-basis: 50%;
    }
    &__item{

      &:nth-child(1){
        .tooltips__tooltip{
          left: -50px;
        }
      }
      &:nth-child(2){
        .tooltips__tooltip{
          right: -150px;
          left: auto;
        }
      }      
      &:nth-child(3){
        .tooltips__tooltip{
          right: -50px;
          left: auto;
        }
      }
    }
  }
}
@media only screen and (max-width: 425px){
  .tooltips{

    &__item{
      .tooltips__tooltip{
        width: 300px;
      }
      &:nth-child(1){
        .tooltips__tooltip{
          left: -55px;
        }
      }
      &:nth-child(2){
        .tooltips__tooltip{
          right: -115px;
          left: auto;
        }
      }      
      &:nth-child(3){
        .tooltips__tooltip{
          right: -30px;
          left: auto;
        }
      }
    }
  }
}