.video{
    color: white;
    background: linear-gradient(0deg, white 30%, #527193 30%);
    padding-bottom: 10px;
    text-align: center;

    .container{
        margin-top: -100px;
        z-index: 3;
        position: relative;
    }

    &__wrap{
        margin: auto;
        margin-top: 50px;
        box-shadow: 0px 24px 25px -15px rgba(15, 13, 19, 0.2);
        width: (984vw/1280 * 100);
        height: (553vw/1280 * 100);
        position: relative;
        z-index: 1;
    }
    &__cover{
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    &__title{
        margin-top: 0px;
        font-size: (36em/16);
    }
    .iframe{
        width: 100%;
        height: 100%;
        border: none;
    }
    &__link{
        letter-spacing: 1px;
        border: 1px solid white;
        border-radius: 3px;
        color: white;
        position: relative;
        font-size: (12em/16);
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
        text-decoration: none;
        padding: 16px 45px;
        display: inline-block;
        margin-top: 30px;
        overflow: hidden;
        transition: .3s;

        .hover{
            background: white;
            z-index: 1;
            bottom: -100%;
        }
    }
}
@media only screen and (max-width: 768px){
    .video{
        &__wrap{
            width: (710vw/768 * 100);
            height: (400vw/768 * 100);
        }
    }

} 
@media only screen and (max-width: 768px){
    .video{
        .container{
            margin-top: -80px;
        }
    }
}

.video_tech{
    padding-top: 200px;
    padding-bottom: 25px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    
    .title, .title-subtext, .video__wrap{
        animation: fadeSlideIn 1s;
        animation-fill-mode: forwards;
    }


    *{
        position: relative;
        z-index: 1;
    }
    .video__cover{
        position: absolute;
    }
    &::before{
        content: '';
        left: 0;
        opacity: 0;
        right: 0;
        top: 0;
        height: 770px;
        animation: fadeIn 1s;
        animation-fill-mode: forwards;
        position: absolute;
        background: url('../pictures/technology_top_bg_1280.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &::after{
        content: '';
        left: 0;
        opacity: 0;
        right: 0;
        top: 0;
        height: 770px;
        animation: fadeIn 1s;
        animation-fill-mode: forwards;
        position: absolute;
        background: linear-gradient(180deg, transparent, #527193 50%);
        animation: fadeIn 2s;
        animation-fill-mode: forwards;
    }
}
@media only screen and (max-width: 768px){
    .video_tech{

        &::before{
            height: 630px;
        }
    }
}
@media only screen and (max-width: 425px){
    .video_tech{

        &::before{
            height: 550px;
        }
    }
}
