extends tabs
block header
  h1.tabs__title.title О фонде
  span.title-subtext Sky Way Capital — это крупнейший инвестиционный фонд. Наша основная задача — финансирование проекта  Sky Way для скорейшего вывода инновационной транспортной системы на мировой рынок. Мы выбрали самый оптимальный способ финансовой поддержки проекта — краудинвестинг, или народное финансирование, которое даёт возможность каждому из вас, стать совладельцем компании будущего.
block prepend dots 
  -var dots = ['ФОТО С МЕРОПРИЯТИЙ','ДОКУМЕНТЫ'];
block tabs
  ul.tabs__list
    li.tabs__item.tabs__item_active
      -var slides = ['Работа по созданию путевой структуры SkyWay','Установка анкерных структур на фундамент',"Процесс строительства грузовой струнной эстакады"];
      div(data-margin-left="15").carousel.slideUp.named-photos.carousel_small
        a(href="#").carousel__prev
          +icon('arr_prev','')
        .carousel__wrap
          .carousel__items
            -for(var i=3; i; i--)
              each slide in slides
                figure.named-photo.carousel__item
                  .named-photo__img-wrap
                    img(src="img/photo1.jpg", alt=slide).named-photo__img
                  figcaption.named-photo__text= slide
        a(href="#").carousel__next
          +icon('arr_prev','')
      .carousel-progress
        .carousel-progress__progress-icon
    li.tabs__item
      div(data-margin-left="15").carousel.slideUp.carousel_small.documents
        a(href="#").carousel__prev
          +icon('arr_prev','')
        .carousel__wrap
          .carousel__items
            -for(j=3; j; j--)
              -for(var i=5; i; i--)
                .carousel__item
                  img(src=`img/doc${i}.jpg`, alt=slide).documents__img
        a(href="#").carousel__next
          +icon('arr_prev','')
      .carousel-progress
        .carousel-progress__progress-icon