section.checks
  h1.title Чем обусловлена прибыль?
  ul.checks__list
    -
      var items = {
        'Новый вид транспорта': 'Рынок транспорта один из самых больших и востребованных в мире.В нем не было принципиальных изменений и обновлений более 60 лет.',
        'Прямой разработчик': 'Компания является разработчиком и владельцем технологии.Все патенты и документы находятся в открытом доступе.',
        'Надежная технология': 'Эффективная и инновационная технология одобрена МинТрансом и научным сообществом.',
        'Предзаказы со всего мира':'Технология востребована и уже имеет предзаказы со всего мира.Это гарантирует окупаемость вложенных средств.',
        'Действующий протоип': 'Технология имеет действующий прототип (Экотехнопарк) для демонстрации работы.'
      }
    each val, title in items 
      li.checks__item
        +icon('check','')
        span.checks__item__name=title
        p=val