section.course
  h1.title Почему выгодно инвестировать сейчас?
  span.title-subtext Сейчас инвестиции позволяют получить долю в компании с дисконтом. Дисконт — это венчурная прибыль за риск входа на ранней стадии развития компании.
  .course__wrap
    p Например: при инвестиции 10 00$ дисконт составит 120.
    p Это значит, что вы получаете акции номинальной стоимостью 120 000$ и в дальнейшем можете их продать или получать дивиденты.
    figure.course__figure
      .course__figure__legend
        span 
          i.course__figure__icon.course__figure__icon_blue
          | текущая стоимость акций
        span
          i.course__figure__icon.course__figure__icon_green
          | прогнозируемая стоимость после выхода на IPO
      svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 784 375', style='enable-background:new 0 0 784 375;', xml:space='preserve').course__img
        style(type='text/css').
          .st0{fill:#232323;}
          .st1{fill:none;stroke:#ECECEC;}
          .st2{fill:#4A90E2;fill-opacity:0.2;}
          .st3{fill:none;stroke:#4990E2;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;}
          .st4{fill:#7ED321;fill-opacity:0.2;}
          .st5{fill:none;stroke:#7ED321;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;}
        title graphic
        desc Created with Sketch.
        path#_x32_014.st0(d='M94.2,374h-6.4v-0.8l1.1-1.1c0.7-0.7,1.3-1.4,1.8-1.9c0.5-0.5,0.8-1,1.1-1.3c0.7-0.9,1-1.7,1-2.5\
        c0-1.4-0.7-2.1-2.1-2.1c-0.7,0-1.5,0.3-2.2,0.9l-0.4-0.8c0.8-0.7,1.7-1,2.8-1c0.4,0,0.9,0.1,1.2,0.2c0.4,0.1,0.7,0.3,1,0.6\
        c0.3,0.3,0.5,0.6,0.6,0.9c0.1,0.4,0.2,0.8,0.2,1.2c0,0.9-0.3,1.8-1,2.8c-0.2,0.3-0.6,0.8-1,1.3c-0.4,0.5-1,1.1-1.6,1.7l-0.8,0.8v0\
        h4.7V374z M102.4,368.7c0,1.8-0.3,3.1-0.9,4.1c-0.6,0.9-1.5,1.4-2.6,1.4c-0.5,0-1-0.1-1.4-0.4c-0.4-0.3-0.8-0.6-1-1.1\
        c-0.3-0.5-0.5-1-0.7-1.7c-0.1-0.7-0.2-1.4-0.2-2.2s0.1-1.5,0.2-2.2c0.2-0.7,0.4-1.2,0.7-1.7c0.3-0.5,0.7-0.9,1.1-1.1\
        c0.4-0.3,0.9-0.4,1.5-0.4c0.5,0,1,0.1,1.4,0.4s0.8,0.6,1,1.1c0.3,0.5,0.5,1,0.6,1.7C102.4,367.1,102.4,367.9,102.4,368.7z\
        M101.2,368.8c0-2.9-0.7-4.4-2.2-4.4c-0.3,0-0.6,0.1-0.9,0.3c-0.3,0.2-0.5,0.5-0.7,0.9c-0.2,0.4-0.3,0.9-0.4,1.4s-0.2,1.1-0.2,1.8\
        c0,0.6,0,1.2,0.1,1.8s0.2,1,0.4,1.4s0.4,0.7,0.7,0.9c0.3,0.2,0.6,0.3,0.9,0.3c0.7,0,1.2-0.4,1.6-1.2S101.2,370.2,101.2,368.8z\
        M107.9,374h-1.2v-9.2l-1.8,1l-0.2-0.9l2.2-1.2h1.1V374z M118.6,371.1h-1.5v2.9H116v-2.9h-4.8v-0.8l4.7-6.7h1.3v6.5h1.5V371.1z\
        M116,364.9c-0.1,0.2-0.2,0.4-0.3,0.6c-0.1,0.3-0.3,0.5-0.5,0.9l-2.7,3.7h3.5v-3.6c0-0.3,0-0.5,0-0.8S116,365.1,116,364.9L116,364.9\
        z')
        path#_x32_017.st0(d='M385.2,374h-6.4v-0.8l1.1-1.1c0.7-0.7,1.3-1.4,1.8-1.9c0.5-0.5,0.8-1,1.1-1.3\
        c0.7-0.9,1-1.7,1-2.5c0-1.4-0.7-2.1-2.1-2.1c-0.7,0-1.5,0.3-2.2,0.9l-0.4-0.8c0.8-0.7,1.7-1,2.8-1c0.4,0,0.9,0.1,1.2,0.2\
        c0.4,0.1,0.7,0.3,1,0.6c0.3,0.3,0.5,0.6,0.6,0.9c0.1,0.4,0.2,0.8,0.2,1.2c0,0.9-0.3,1.8-1,2.8c-0.2,0.3-0.6,0.8-1,1.3\
        c-0.4,0.5-1,1.1-1.6,1.7l-0.8,0.8v0h4.7V374z M393.4,368.7c0,1.8-0.3,3.1-0.9,4.1c-0.6,0.9-1.5,1.4-2.6,1.4c-0.5,0-1-0.1-1.4-0.4\
        c-0.4-0.3-0.8-0.6-1-1.1c-0.3-0.5-0.5-1-0.7-1.7s-0.2-1.4-0.2-2.2s0.1-1.5,0.2-2.2c0.2-0.7,0.4-1.2,0.7-1.7c0.3-0.5,0.7-0.9,1.1-1.1\
        c0.4-0.3,0.9-0.4,1.5-0.4c0.5,0,1,0.1,1.4,0.4c0.4,0.2,0.8,0.6,1,1.1c0.3,0.5,0.5,1,0.6,1.7C393.4,367.1,393.4,367.9,393.4,368.7z\
        M392.2,368.8c0-2.9-0.7-4.4-2.2-4.4c-0.3,0-0.6,0.1-0.9,0.3c-0.3,0.2-0.5,0.5-0.7,0.9c-0.2,0.4-0.3,0.9-0.4,1.4\
        c-0.1,0.5-0.2,1.1-0.2,1.8c0,0.6,0,1.2,0.1,1.8c0.1,0.5,0.2,1,0.4,1.4s0.4,0.7,0.7,0.9c0.3,0.2,0.6,0.3,0.9,0.3\
        c0.7,0,1.2-0.4,1.6-1.2S392.2,370.2,392.2,368.8z M398.9,374h-1.2v-9.2l-1.8,1l-0.2-0.9l2.2-1.2h1.1V374z M409.2,364.4l-4.5,9.6\
        h-1.2l4.4-9.4h-5v-1h6.3V364.4z')
        path#_x32_020.st0(d='M675.2,374h-6.4v-0.8l1.1-1.1c0.7-0.7,1.3-1.4,1.8-1.9c0.5-0.5,0.8-1,1.1-1.3\
        c0.7-0.9,1-1.7,1-2.5c0-1.4-0.7-2.1-2.1-2.1c-0.7,0-1.5,0.3-2.2,0.9l-0.4-0.8c0.8-0.7,1.7-1,2.8-1c0.4,0,0.9,0.1,1.2,0.2\
        c0.4,0.1,0.7,0.3,1,0.6c0.3,0.3,0.5,0.6,0.6,0.9c0.1,0.4,0.2,0.8,0.2,1.2c0,0.9-0.3,1.8-1,2.8c-0.2,0.3-0.6,0.8-1,1.3\
        c-0.4,0.5-1,1.1-1.6,1.7l-0.8,0.8v0h4.7V374z M683.4,368.7c0,1.8-0.3,3.1-0.9,4.1c-0.6,0.9-1.5,1.4-2.6,1.4c-0.5,0-1-0.1-1.4-0.4\
        c-0.4-0.3-0.8-0.6-1-1.1c-0.3-0.5-0.5-1-0.7-1.7c-0.1-0.7-0.2-1.4-0.2-2.2s0.1-1.5,0.2-2.2c0.2-0.7,0.4-1.2,0.7-1.7\
        c0.3-0.5,0.7-0.9,1.1-1.1c0.4-0.3,0.9-0.4,1.5-0.4c0.5,0,1,0.1,1.4,0.4c0.4,0.2,0.8,0.6,1,1.1c0.3,0.5,0.5,1,0.6,1.7\
        S683.4,367.9,683.4,368.7z M682.2,368.8c0-2.9-0.7-4.4-2.2-4.4c-0.3,0-0.6,0.1-0.9,0.3s-0.5,0.5-0.7,0.9c-0.2,0.4-0.3,0.9-0.4,1.4\
        s-0.2,1.1-0.2,1.8c0,0.6,0,1.2,0.1,1.8s0.2,1,0.4,1.4c0.2,0.4,0.4,0.7,0.7,0.9c0.3,0.2,0.6,0.3,0.9,0.3c0.7,0,1.2-0.4,1.6-1.2\
        C682,371.3,682.2,370.2,682.2,368.8z M691.1,374h-6.4v-0.8l1.1-1.1c0.7-0.7,1.3-1.4,1.8-1.9c0.5-0.5,0.8-1,1.1-1.3\
        c0.7-0.9,1-1.7,1-2.5c0-1.4-0.7-2.1-2.1-2.1c-0.7,0-1.5,0.3-2.2,0.9l-0.4-0.8c0.8-0.7,1.7-1,2.8-1c0.4,0,0.9,0.1,1.2,0.2\
        c0.4,0.1,0.7,0.3,1,0.6c0.3,0.3,0.5,0.6,0.6,0.9c0.1,0.4,0.2,0.8,0.2,1.2c0,0.9-0.3,1.8-1,2.8c-0.2,0.3-0.6,0.8-1,1.3\
        c-0.4,0.5-1,1.1-1.6,1.7l-0.8,0.8v0h4.7V374z M699.4,368.7c0,1.8-0.3,3.1-0.9,4.1c-0.6,0.9-1.5,1.4-2.6,1.4c-0.5,0-1-0.1-1.4-0.4\
        c-0.4-0.3-0.8-0.6-1-1.1c-0.3-0.5-0.5-1-0.7-1.7s-0.2-1.4-0.2-2.2s0.1-1.5,0.2-2.2c0.2-0.7,0.4-1.2,0.7-1.7c0.3-0.5,0.7-0.9,1.1-1.1\
        c0.4-0.3,0.9-0.4,1.5-0.4c0.5,0,1,0.1,1.4,0.4c0.4,0.2,0.8,0.6,1,1.1c0.3,0.5,0.5,1,0.6,1.7C699.3,367.1,699.4,367.9,699.4,368.7z\
        M698.1,368.8c0-2.9-0.7-4.4-2.2-4.4c-0.3,0-0.6,0.1-0.9,0.3s-0.5,0.5-0.7,0.9c-0.2,0.4-0.3,0.9-0.4,1.4s-0.2,1.1-0.2,1.8\
        c0,0.6,0,1.2,0.1,1.8s0.2,1,0.4,1.4s0.4,0.7,0.7,0.9c0.3,0.2,0.6,0.3,0.9,0.3c0.7,0,1.2-0.4,1.6-1.2S698.1,370.2,698.1,368.8z')
        path#line.st1(d='M18,336h748')
        path#line_1_.st1(d='M0,295.5h784')
        path#line_2_.st1(d='M40,254h704')
        path#line_3_.st1(d='M0,212.5h784')
        path#line_4_.st1(d='M29,172h726')
        path#line_5_.st1(d='M0,131.5h784')
        path#line_6_.st1(d='M40,90h704')
        path#line_7_.st1(d='M0,49.5h784')
        path#line_8_.st1(d='M29,8h726')
        path#_x32_-_x24_.st0(d='M0.7,12v-0.5l1-1C2.4,9.8,3,9.2,3.5,8.7C4,8.1,4.4,7.6,4.7,7.1s0.6-0.9,0.8-1.4\
        c0.2-0.4,0.2-0.9,0.2-1.3c0-0.3,0-0.6-0.1-0.9C5.6,3.3,5.5,3,5.3,2.8C5.1,2.6,4.9,2.4,4.6,2.3S4,2.1,3.5,2.1c-0.5,0-0.9,0.1-1.3,0.3\
        S1.6,2.8,1.4,3L1.1,2.4c0.3-0.3,0.7-0.5,1.1-0.7s0.9-0.3,1.5-0.3c0.5,0,1,0.1,1.3,0.3s0.7,0.4,0.9,0.7S6.3,3,6.4,3.3s0.1,0.7,0.1,1\
        c0,0.5-0.1,1-0.3,1.5c-0.2,0.5-0.4,1-0.8,1.4c-0.3,0.5-0.8,1-1.3,1.6c-0.5,0.5-1.1,1.1-1.7,1.8l-0.7,0.8v0h5V12H0.7z M14.4,13.3\
        v-1.6c-0.4,0-0.8-0.1-1.2-0.2c-0.4-0.1-0.7-0.3-1-0.5l0.3-0.6c0.3,0.2,0.6,0.4,0.9,0.5c0.4,0.1,0.7,0.2,1.1,0.2\
        c0.3,0,0.6-0.1,0.9-0.2c0.3-0.1,0.5-0.2,0.7-0.4c0.2-0.2,0.3-0.4,0.4-0.6s0.2-0.5,0.2-0.8c0-0.5-0.2-1-0.5-1.3\
        c-0.3-0.3-0.8-0.7-1.4-0.9c-0.8-0.3-1.4-0.7-1.8-1.1c-0.4-0.4-0.7-0.9-0.7-1.6c0-0.3,0.1-0.6,0.2-0.9s0.3-0.5,0.5-0.7\
        s0.4-0.4,0.7-0.5c0.3-0.1,0.6-0.2,0.9-0.3V0.2h0.7v1.6c0.4,0,0.8,0.1,1.1,0.2c0.3,0.1,0.6,0.2,0.8,0.4L16.8,3\
        c-0.1-0.1-0.4-0.2-0.7-0.3c-0.3-0.1-0.7-0.2-1.1-0.2c-0.3,0-0.6,0.1-0.8,0.2S13.7,2.8,13.5,3c-0.1,0.2-0.3,0.3-0.3,0.5\
        c-0.1,0.2-0.1,0.4-0.1,0.6c0,0.3,0,0.5,0.1,0.7c0.1,0.2,0.2,0.4,0.4,0.5s0.4,0.3,0.6,0.5c0.3,0.1,0.5,0.3,0.9,0.5\
        c0.7,0.3,1.3,0.7,1.7,1.2c0.4,0.4,0.6,1,0.6,1.7c0,0.3-0.1,0.6-0.2,0.9s-0.2,0.5-0.4,0.8s-0.4,0.4-0.7,0.6c-0.3,0.2-0.6,0.3-1,0.3\
        v1.7H14.4z')
        path#_x31__x2C_5-_x24_.st0(d='M3.7,85.4L3.7,85.4l-1.7,1l-0.2-0.6l2-1.2h0.7V95H3.7V85.4z M8.1,97\
        c0.1-0.2,0.1-0.4,0.2-0.7c0.1-0.3,0.2-0.6,0.2-0.9c0.1-0.3,0.2-0.6,0.2-1c0.1-0.3,0.1-0.6,0.2-0.9l1-0.2c-0.1,0.3-0.2,0.6-0.3,1\
        c-0.1,0.4-0.2,0.7-0.4,1c-0.1,0.3-0.2,0.6-0.3,0.9c-0.1,0.3-0.2,0.5-0.3,0.6L8.1,97z M16.8,85.3H13l-0.5,3.3c0.2,0,0.5-0.1,0.9-0.1\
        c0.4,0,0.7,0.1,1.2,0.2s0.8,0.3,1.1,0.5c0.3,0.2,0.6,0.6,0.9,1c0.2,0.4,0.3,0.9,0.3,1.5c0,0.5-0.1,1-0.3,1.4\
        c-0.2,0.4-0.4,0.8-0.7,1.1c-0.3,0.3-0.7,0.5-1.1,0.7c-0.4,0.2-0.9,0.3-1.3,0.3c-0.5,0-1-0.1-1.4-0.2c-0.4-0.1-0.7-0.3-1-0.4l0.3-0.6\
        c0.2,0.1,0.5,0.3,0.8,0.4c0.4,0.1,0.8,0.2,1.3,0.2c0.4,0,0.7-0.1,1-0.2c0.3-0.1,0.6-0.3,0.8-0.6c0.2-0.2,0.4-0.5,0.6-0.8\
        c0.1-0.3,0.2-0.7,0.2-1.1c0-0.8-0.2-1.5-0.7-2s-1.2-0.7-2.3-0.7c-0.3,0-0.6,0-0.8,0s-0.4,0.1-0.6,0.1l0.7-4.6h4.4V85.3z M24.9,96.3\
        v-1.6c-0.4,0-0.8-0.1-1.2-0.2c-0.4-0.1-0.7-0.3-1-0.5l0.3-0.6c0.3,0.2,0.6,0.4,0.9,0.5c0.4,0.1,0.7,0.2,1.1,0.2\
        c0.3,0,0.6-0.1,0.9-0.2c0.3-0.1,0.5-0.2,0.7-0.4s0.3-0.4,0.4-0.6c0.1-0.2,0.2-0.5,0.2-0.8c0-0.5-0.2-1-0.5-1.3\
        c-0.3-0.3-0.8-0.7-1.4-0.9c-0.8-0.3-1.4-0.7-1.8-1.1c-0.4-0.4-0.7-0.9-0.7-1.6c0-0.3,0.1-0.6,0.2-0.9c0.1-0.3,0.3-0.5,0.5-0.7\
        s0.4-0.4,0.7-0.5c0.3-0.1,0.6-0.2,0.9-0.3v-1.7h0.7v1.6c0.4,0,0.8,0.1,1.1,0.2c0.3,0.1,0.6,0.2,0.8,0.4L27.2,86\
        c-0.1-0.1-0.4-0.2-0.7-0.3c-0.3-0.1-0.7-0.2-1.1-0.2c-0.3,0-0.6,0.1-0.8,0.2c-0.2,0.1-0.4,0.2-0.6,0.4s-0.3,0.3-0.3,0.5\
        s-0.1,0.4-0.1,0.6c0,0.3,0,0.5,0.1,0.7c0.1,0.2,0.2,0.4,0.4,0.5c0.2,0.2,0.4,0.3,0.6,0.5c0.3,0.1,0.5,0.3,0.9,0.5\
        c0.7,0.3,1.3,0.7,1.7,1.2c0.4,0.4,0.6,1,0.6,1.7c0,0.3-0.1,0.6-0.2,0.9s-0.2,0.5-0.4,0.8c-0.2,0.2-0.4,0.4-0.7,0.6\
        c-0.3,0.2-0.6,0.3-1,0.3v1.7H24.9z')
        path#_x31_-_x24_.st0(d='M3.7,167.4L3.7,167.4l-1.7,1l-0.2-0.6l2-1.2h0.7V177H3.7V167.4z M14.4,178.3v-1.6\
        c-0.4,0-0.8-0.1-1.2-0.2s-0.7-0.3-1-0.5l0.3-0.6c0.3,0.2,0.6,0.4,0.9,0.5s0.7,0.2,1.1,0.2c0.3,0,0.6-0.1,0.9-0.2\
        c0.3-0.1,0.5-0.2,0.7-0.4c0.2-0.2,0.3-0.4,0.4-0.6s0.2-0.5,0.2-0.8c0-0.5-0.2-1-0.5-1.3c-0.3-0.3-0.8-0.7-1.4-0.9\
        c-0.8-0.3-1.4-0.7-1.8-1.1c-0.4-0.4-0.7-0.9-0.7-1.6c0-0.3,0.1-0.6,0.2-0.9s0.3-0.5,0.5-0.7c0.2-0.2,0.4-0.4,0.7-0.5\
        c0.3-0.1,0.6-0.2,0.9-0.3v-1.7h0.7v1.6c0.4,0,0.8,0.1,1.1,0.2s0.6,0.2,0.8,0.4l-0.3,0.6c-0.1-0.1-0.4-0.2-0.7-0.3\
        c-0.3-0.1-0.7-0.2-1.1-0.2c-0.3,0-0.6,0.1-0.8,0.2s-0.4,0.2-0.6,0.4c-0.1,0.2-0.3,0.3-0.3,0.5c-0.1,0.2-0.1,0.4-0.1,0.6\
        c0,0.3,0,0.5,0.1,0.7c0.1,0.2,0.2,0.4,0.4,0.5s0.4,0.3,0.6,0.5s0.5,0.3,0.9,0.5c0.7,0.3,1.3,0.7,1.7,1.2s0.6,1,0.6,1.7\
        c0,0.3-0.1,0.6-0.2,0.9s-0.2,0.5-0.4,0.8s-0.4,0.4-0.7,0.6c-0.3,0.2-0.6,0.3-1,0.3v1.7H14.4z')
        path#_x30__x2C_5-_x24_.st0(d='M0.6,252.8c0-0.9,0.1-1.8,0.3-2.4c0.2-0.7,0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1\
        c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1s0.5,1,0.7,1.6s0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2\
        s-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1s-0.5-1-0.7-1.7S0.6,253.7,0.6,252.8z M1.4,252.8c0,0.7,0,1.4,0.1,2\
        c0.1,0.6,0.3,1.1,0.5,1.5s0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6\
        c0.1-0.6,0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5s-0.5-0.7-0.8-1s-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3\
        c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5C1.4,251.4,1.4,252.1,1.4,252.8z M8.1,260c0.1-0.2,0.1-0.4,0.2-0.7\
        c0.1-0.3,0.2-0.6,0.2-0.9c0.1-0.3,0.2-0.6,0.2-1c0.1-0.3,0.1-0.6,0.2-0.9l1-0.2c-0.1,0.3-0.2,0.6-0.3,1c-0.1,0.4-0.2,0.7-0.4,1\
        c-0.1,0.3-0.2,0.6-0.3,0.9c-0.1,0.3-0.2,0.5-0.3,0.6L8.1,260z M16.8,248.3H13l-0.5,3.3c0.2,0,0.5-0.1,0.9-0.1c0.4,0,0.7,0.1,1.2,0.2\
        s0.8,0.3,1.1,0.5c0.3,0.2,0.6,0.6,0.9,1c0.2,0.4,0.3,0.9,0.3,1.5c0,0.5-0.1,1-0.3,1.4c-0.2,0.4-0.4,0.8-0.7,1.1\
        c-0.3,0.3-0.7,0.5-1.1,0.7c-0.4,0.2-0.9,0.3-1.3,0.3c-0.5,0-1-0.1-1.4-0.2c-0.4-0.1-0.7-0.3-1-0.4l0.3-0.6c0.2,0.1,0.5,0.3,0.8,0.4\
        c0.4,0.1,0.8,0.2,1.3,0.2c0.4,0,0.7-0.1,1-0.2c0.3-0.1,0.6-0.3,0.8-0.6c0.2-0.2,0.4-0.5,0.6-0.8c0.1-0.3,0.2-0.7,0.2-1.1\
        c0-0.8-0.2-1.5-0.7-2s-1.2-0.7-2.3-0.7c-0.3,0-0.6,0-0.8,0s-0.4,0.1-0.6,0.1l0.7-4.6h4.4V248.3z M24.9,259.3v-1.6\
        c-0.4,0-0.8-0.1-1.2-0.2c-0.4-0.1-0.7-0.3-1-0.5l0.3-0.6c0.3,0.2,0.6,0.4,0.9,0.5c0.4,0.1,0.7,0.2,1.1,0.2c0.3,0,0.6-0.1,0.9-0.2\
        c0.3-0.1,0.5-0.2,0.7-0.4c0.2-0.2,0.3-0.4,0.4-0.6c0.1-0.2,0.2-0.5,0.2-0.8c0-0.5-0.2-1-0.5-1.3s-0.8-0.7-1.4-0.9\
        c-0.8-0.3-1.4-0.7-1.8-1.1c-0.4-0.4-0.7-0.9-0.7-1.6c0-0.3,0.1-0.6,0.2-0.9c0.1-0.3,0.3-0.5,0.5-0.7c0.2-0.2,0.4-0.4,0.7-0.5\
        c0.3-0.1,0.6-0.2,0.9-0.3v-1.7h0.7v1.6c0.4,0,0.8,0.1,1.1,0.2c0.3,0.1,0.6,0.2,0.8,0.4l-0.3,0.6c-0.1-0.1-0.4-0.2-0.7-0.3\
        c-0.3-0.1-0.7-0.2-1.1-0.2c-0.3,0-0.6,0.1-0.8,0.2c-0.2,0.1-0.4,0.2-0.6,0.4s-0.3,0.3-0.3,0.5c-0.1,0.2-0.1,0.4-0.1,0.6\
        c0,0.3,0,0.5,0.1,0.7c0.1,0.2,0.2,0.4,0.4,0.5s0.4,0.3,0.6,0.5c0.3,0.1,0.5,0.3,0.9,0.5c0.7,0.3,1.3,0.7,1.7,1.2\
        c0.4,0.4,0.6,1,0.6,1.7c0,0.3-0.1,0.6-0.2,0.9c-0.1,0.3-0.2,0.5-0.4,0.8c-0.2,0.2-0.4,0.4-0.7,0.6s-0.6,0.3-1,0.3v1.7H24.9z')
        path#_x30_.st0(d='M0.6,334.8c0-0.9,0.1-1.8,0.3-2.4s0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1s0.8-0.3,1.3-0.3\
        c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6s0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2s-1.4,1.4-2.4,1.4\
        c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1s-0.5-1-0.7-1.7S0.6,335.7,0.6,334.8z M1.4,334.8c0,0.7,0,1.4,0.1,2s0.3,1.1,0.5,1.5\
        s0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6c0.1-0.6,0.1-1,0.1-1.5\
        c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3\
        c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5C1.4,333.4,1.4,334.1,1.4,334.8z')
        path#_x32_-_x24__1_.st0(d='M766,12v-0.5l1-1c0.7-0.7,1.3-1.3,1.8-1.8c0.5-0.5,0.9-1.1,1.3-1.5s0.6-0.9,0.8-1.4\
        c0.2-0.4,0.2-0.9,0.2-1.3c0-0.3,0-0.6-0.1-0.9s-0.2-0.5-0.4-0.7c-0.2-0.2-0.4-0.4-0.7-0.5c-0.3-0.1-0.6-0.2-1.1-0.2\
        c-0.5,0-0.9,0.1-1.3,0.3c-0.4,0.2-0.7,0.4-0.9,0.6l-0.3-0.5c0.3-0.3,0.7-0.5,1.1-0.7s0.9-0.3,1.5-0.3c0.5,0,1,0.1,1.3,0.3\
        s0.7,0.4,0.9,0.7s0.4,0.6,0.5,0.9c0.1,0.3,0.1,0.7,0.1,1c0,0.5-0.1,1-0.3,1.5c-0.2,0.5-0.4,1-0.8,1.4c-0.3,0.5-0.8,1-1.3,1.6\
        c-0.5,0.5-1.1,1.1-1.7,1.8l-0.7,0.8v0h5V12H766z M779.7,13.3v-1.6c-0.4,0-0.8-0.1-1.2-0.2c-0.4-0.1-0.7-0.3-1-0.5l0.3-0.6\
        c0.3,0.2,0.6,0.4,0.9,0.5c0.4,0.1,0.7,0.2,1.1,0.2c0.3,0,0.6-0.1,0.9-0.2c0.3-0.1,0.5-0.2,0.7-0.4s0.3-0.4,0.4-0.6s0.2-0.5,0.2-0.8\
        c0-0.5-0.2-1-0.5-1.3s-0.8-0.7-1.4-0.9c-0.8-0.3-1.4-0.7-1.8-1.1c-0.4-0.4-0.7-0.9-0.7-1.6c0-0.3,0.1-0.6,0.2-0.9s0.3-0.5,0.5-0.7\
        s0.4-0.4,0.7-0.5s0.6-0.2,0.9-0.3V0.2h0.7v1.6c0.4,0,0.8,0.1,1.1,0.2c0.3,0.1,0.6,0.2,0.8,0.4L782,3c-0.1-0.1-0.4-0.2-0.7-0.3\
        s-0.7-0.2-1.1-0.2c-0.3,0-0.6,0.1-0.8,0.2s-0.4,0.2-0.6,0.4s-0.3,0.3-0.3,0.5s-0.1,0.4-0.1,0.6c0,0.3,0,0.5,0.1,0.7\
        c0.1,0.2,0.2,0.4,0.4,0.5c0.2,0.2,0.4,0.3,0.6,0.5c0.3,0.1,0.5,0.3,0.9,0.5c0.7,0.3,1.3,0.7,1.7,1.2c0.4,0.4,0.6,1,0.6,1.7\
        c0,0.3-0.1,0.6-0.2,0.9c-0.1,0.3-0.2,0.5-0.4,0.8c-0.2,0.2-0.4,0.4-0.7,0.6s-0.6,0.3-1,0.3v1.7H779.7z')
        path#_x31__x2C_5-_x24__1_.st0(d='M758.5,85.4L758.5,85.4l-1.7,1l-0.2-0.6l2-1.2h0.7V95h-0.7V85.4z M762.9,97\
        c0.1-0.2,0.1-0.4,0.2-0.7s0.2-0.6,0.2-0.9c0.1-0.3,0.2-0.6,0.2-1c0.1-0.3,0.1-0.6,0.2-0.9l1-0.2c-0.1,0.3-0.2,0.6-0.3,1\
        c-0.1,0.4-0.2,0.7-0.4,1c-0.1,0.3-0.2,0.6-0.3,0.9c-0.1,0.3-0.2,0.5-0.3,0.6L762.9,97z M771.6,85.3h-3.8l-0.5,3.3\
        c0.2,0,0.5-0.1,0.9-0.1c0.4,0,0.7,0.1,1.2,0.2s0.8,0.3,1.1,0.5c0.3,0.2,0.6,0.6,0.9,1c0.2,0.4,0.3,0.9,0.3,1.5c0,0.5-0.1,1-0.3,1.4\
        s-0.4,0.8-0.7,1.1c-0.3,0.3-0.7,0.5-1.1,0.7c-0.4,0.2-0.9,0.3-1.3,0.3c-0.5,0-1-0.1-1.4-0.2c-0.4-0.1-0.7-0.3-1-0.4l0.3-0.6\
        c0.2,0.1,0.5,0.3,0.8,0.4c0.4,0.1,0.8,0.2,1.3,0.2c0.4,0,0.7-0.1,1-0.2s0.6-0.3,0.8-0.6c0.2-0.2,0.4-0.5,0.6-0.8\
        c0.1-0.3,0.2-0.7,0.2-1.1c0-0.8-0.2-1.5-0.7-2c-0.5-0.5-1.2-0.7-2.3-0.7c-0.3,0-0.6,0-0.8,0c-0.2,0-0.4,0.1-0.6,0.1l0.7-4.6h4.4\
        V85.3z M779.7,96.3v-1.6c-0.4,0-0.8-0.1-1.2-0.2c-0.4-0.1-0.7-0.3-1-0.5l0.3-0.6c0.3,0.2,0.6,0.4,0.9,0.5c0.4,0.1,0.7,0.2,1.1,0.2\
        c0.3,0,0.6-0.1,0.9-0.2c0.3-0.1,0.5-0.2,0.7-0.4s0.3-0.4,0.4-0.6c0.1-0.2,0.2-0.5,0.2-0.8c0-0.5-0.2-1-0.5-1.3\
        c-0.3-0.3-0.8-0.7-1.4-0.9c-0.8-0.3-1.4-0.7-1.8-1.1c-0.4-0.4-0.7-0.9-0.7-1.6c0-0.3,0.1-0.6,0.2-0.9c0.1-0.3,0.3-0.5,0.5-0.7\
        s0.4-0.4,0.7-0.5c0.3-0.1,0.6-0.2,0.9-0.3v-1.7h0.7v1.6c0.4,0,0.8,0.1,1.1,0.2c0.3,0.1,0.6,0.2,0.8,0.4L782,86\
        c-0.1-0.1-0.4-0.2-0.7-0.3c-0.3-0.1-0.7-0.2-1.1-0.2c-0.3,0-0.6,0.1-0.8,0.2s-0.4,0.2-0.6,0.4s-0.3,0.3-0.3,0.5s-0.1,0.4-0.1,0.6\
        c0,0.3,0,0.5,0.1,0.7s0.2,0.4,0.4,0.5c0.2,0.2,0.4,0.3,0.6,0.5c0.3,0.1,0.5,0.3,0.9,0.5c0.7,0.3,1.3,0.7,1.7,1.2\
        c0.4,0.4,0.6,1,0.6,1.7c0,0.3-0.1,0.6-0.2,0.9c-0.1,0.3-0.2,0.5-0.4,0.8c-0.2,0.2-0.4,0.4-0.7,0.6c-0.3,0.2-0.6,0.3-1,0.3v1.7H779.7\
        z')
        path#_x31_-_x24__1_.st0(d='M769,167.4L769,167.4l-1.7,1l-0.2-0.6l2-1.2h0.7V177H769V167.4z M779.7,178.3v-1.6\
        c-0.4,0-0.8-0.1-1.2-0.2s-0.7-0.3-1-0.5l0.3-0.6c0.3,0.2,0.6,0.4,0.9,0.5c0.4,0.1,0.7,0.2,1.1,0.2c0.3,0,0.6-0.1,0.9-0.2\
        c0.3-0.1,0.5-0.2,0.7-0.4s0.3-0.4,0.4-0.6s0.2-0.5,0.2-0.8c0-0.5-0.2-1-0.5-1.3s-0.8-0.7-1.4-0.9c-0.8-0.3-1.4-0.7-1.8-1.1\
        c-0.4-0.4-0.7-0.9-0.7-1.6c0-0.3,0.1-0.6,0.2-0.9s0.3-0.5,0.5-0.7c0.2-0.2,0.4-0.4,0.7-0.5c0.3-0.1,0.6-0.2,0.9-0.3v-1.7h0.7v1.6\
        c0.4,0,0.8,0.1,1.1,0.2c0.3,0.1,0.6,0.2,0.8,0.4L782,168c-0.1-0.1-0.4-0.2-0.7-0.3c-0.3-0.1-0.7-0.2-1.1-0.2c-0.3,0-0.6,0.1-0.8,0.2\
        s-0.4,0.2-0.6,0.4s-0.3,0.3-0.3,0.5c-0.1,0.2-0.1,0.4-0.1,0.6c0,0.3,0,0.5,0.1,0.7s0.2,0.4,0.4,0.5c0.2,0.2,0.4,0.3,0.6,0.5\
        s0.5,0.3,0.9,0.5c0.7,0.3,1.3,0.7,1.7,1.2c0.4,0.4,0.6,1,0.6,1.7c0,0.3-0.1,0.6-0.2,0.9c-0.1,0.3-0.2,0.5-0.4,0.8\
        c-0.2,0.2-0.4,0.4-0.7,0.6c-0.3,0.2-0.6,0.3-1,0.3v1.7H779.7z')
        path#_x30__x2C_5-_x24__1_.st0(d='M755.4,252.8c0-0.9,0.1-1.8,0.3-2.4c0.2-0.7,0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1\
        c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1s0.5,1,0.7,1.6s0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2\
        s-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7S755.4,253.7,755.4,252.8z M756.2,252.8\
        c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5\
        c0.3-0.3,0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6c0.1-0.6,0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5\
        s-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5\
        C756.3,251.4,756.2,252.1,756.2,252.8z M762.9,260c0.1-0.2,0.1-0.4,0.2-0.7c0.1-0.3,0.2-0.6,0.2-0.9s0.2-0.6,0.2-1\
        c0.1-0.3,0.1-0.6,0.2-0.9l1-0.2c-0.1,0.3-0.2,0.6-0.3,1s-0.2,0.7-0.4,1c-0.1,0.3-0.2,0.6-0.3,0.9c-0.1,0.3-0.2,0.5-0.3,0.6\
        L762.9,260z M771.6,248.3h-3.8l-0.5,3.3c0.2,0,0.5-0.1,0.9-0.1c0.4,0,0.7,0.1,1.2,0.2s0.8,0.3,1.1,0.5c0.3,0.2,0.6,0.6,0.9,1\
        c0.2,0.4,0.3,0.9,0.3,1.5c0,0.5-0.1,1-0.3,1.4s-0.4,0.8-0.7,1.1c-0.3,0.3-0.7,0.5-1.1,0.7c-0.4,0.2-0.9,0.3-1.3,0.3\
        c-0.5,0-1-0.1-1.4-0.2c-0.4-0.1-0.7-0.3-1-0.4l0.3-0.6c0.2,0.1,0.5,0.3,0.8,0.4c0.4,0.1,0.8,0.2,1.3,0.2c0.4,0,0.7-0.1,1-0.2\
        s0.6-0.3,0.8-0.6c0.2-0.2,0.4-0.5,0.6-0.8c0.1-0.3,0.2-0.7,0.2-1.1c0-0.8-0.2-1.5-0.7-2c-0.5-0.5-1.2-0.7-2.3-0.7\
        c-0.3,0-0.6,0-0.8,0c-0.2,0-0.4,0.1-0.6,0.1l0.7-4.6h4.4V248.3z M779.7,259.3v-1.6c-0.4,0-0.8-0.1-1.2-0.2s-0.7-0.3-1-0.5l0.3-0.6\
        c0.3,0.2,0.6,0.4,0.9,0.5c0.4,0.1,0.7,0.2,1.1,0.2c0.3,0,0.6-0.1,0.9-0.2c0.3-0.1,0.5-0.2,0.7-0.4c0.2-0.2,0.3-0.4,0.4-0.6\
        c0.1-0.2,0.2-0.5,0.2-0.8c0-0.5-0.2-1-0.5-1.3s-0.8-0.7-1.4-0.9c-0.8-0.3-1.4-0.7-1.8-1.1c-0.4-0.4-0.7-0.9-0.7-1.6\
        c0-0.3,0.1-0.6,0.2-0.9s0.3-0.5,0.5-0.7c0.2-0.2,0.4-0.4,0.7-0.5c0.3-0.1,0.6-0.2,0.9-0.3v-1.7h0.7v1.6c0.4,0,0.8,0.1,1.1,0.2\
        c0.3,0.1,0.6,0.2,0.8,0.4L782,249c-0.1-0.1-0.4-0.2-0.7-0.3c-0.3-0.1-0.7-0.2-1.1-0.2c-0.3,0-0.6,0.1-0.8,0.2s-0.4,0.2-0.6,0.4\
        s-0.3,0.3-0.3,0.5c-0.1,0.2-0.1,0.4-0.1,0.6c0,0.3,0,0.5,0.1,0.7s0.2,0.4,0.4,0.5c0.2,0.2,0.4,0.3,0.6,0.5s0.5,0.3,0.9,0.5\
        c0.7,0.3,1.3,0.7,1.7,1.2c0.4,0.4,0.6,1,0.6,1.7c0,0.3-0.1,0.6-0.2,0.9c-0.1,0.3-0.2,0.5-0.4,0.8c-0.2,0.2-0.4,0.4-0.7,0.6\
        s-0.6,0.3-1,0.3v1.7H779.7z')
        path#_x30__1_.st0(d='M776.9,334.8c0-0.9,0.1-1.8,0.3-2.4s0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1\
        c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3s0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6s0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2\
        c-0.6,0.9-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7C777,336.4,776.9,335.7,776.9,334.8z\
        M777.7,334.8c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5s0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5\
        c0.3-0.3,0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6c0.1-0.6,0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5\
        c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5\
        C777.8,333.4,777.7,334.1,777.7,334.8z')
        polygon#fill.st2(points='97.6,336 132.3,308.4 184.2,310.2 228.5,281 260,289 320,278.9 354.1,262.5 388.4,276.8 \
        388.4,336.1 ')
        polyline#path.st3(points='97.6,336 132.3,308.4 184.2,310.2 228.5,281 260,289 320,278.9 354.1,262.5 388.4,276.8 ')
        polygon#fill_1_.st4(points='388.5,276.9 439.8,224 481.5,228.8 526.3,187.4 558.1,189.1 617.9,121 658.2,107.3 \
        684,27.7 684,336 388.5,336 ')
        polyline#path_1_.st5(points='388.5,276.8 439.8,224 481.5,228.8 526.3,187.4 558.1,189.1 617.9,121 658.2,107.3 \
        684,27.7 ')
