section.documents
  .container.fsi
    h1.title Участие в междунароных выставках и признание технологии
    span.title-subtext Мы постоянно участвуем в международных выставках и получаем новых партнеров и инвесторов во всем Мире! Технология SkyWay получила большое доверие и признание во многих структурах.
  div(data-margin-left="15").carousel.slideUp.carousel_small
    a(href="#").carousel__prev
      +icon('arr_prev','')
    .carousel__wrap
      .carousel__items
        -for(j=3; j; j--)
          -for(var i=5; i; i--)
            .carousel__item
              img(src=`img/doc${i}.jpg`, alt=slide).documents__img
    a(href="#").carousel__next
      +icon('arr_prev','')
  .carousel-progress.slideUp
    .carousel-progress__progress-icon