include ./mNav
footer.footer
	.footer__top
		.container
			.footer__top__cell_left.footer__top__cell
				a(href="/").logo_link
					img(src="pictures/logo_small.png", alt="SkyWay").logo_img
				+nav('nav_footer')
			.footer__top__cell
				.contacts
					a(href="mailto:mail@skyway.capital", title="Телефон").contacts__link mail@skyway.capital
					a(href="tel:88008000000", title="Телефон").contacts__link 8(800)800-00-00
				include lk_link
	.footer__bottom
		.container
			span.footer__copy
				span.not-for-mobile Copyright 
				| &copy; 2017 
				span.not-for-mobile Rsw-systems.com, Inc.
			include socials
			a(href="#").footer__link Политика конфиденциальности 
	.footer__bottom-bottom
		.container
			span.footer__dev-link Упаковано в 
				a(href="http://nextteam.ru/", target="_blank" title="Next-team") "Next-team"
				|  в 2017 году