extends ./tabs
block header
  h1.title Динамика развития фонда
  span.title-subtext SkyWay Capital активно развивается и растет по количеству участников и объему инвестирования. Каждый год мы  увеличиваем темпы роста и совершенствуемся. Уже сейчас у нас есть представители в 100 странах мира. Более 140 000 инвесторов стали одной большой командой.
block prepend dots
  -var dots = ['УЧАСТНИКИ', "ИНВЕСТИЦИИ"]
block tabs
  ul.tabs__list.slideUp.tabs__list_vis
    li.tabs__item.tabs__item_active
      figure.tabs__figure 
        figcaption Количество регистаций
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 984 374', style='enable-background:new 0 0 984 374;', xml:space='preserve').tabs__img
          style(type='text/css').
            .st0{fill:#232323;}
            .st1{fill:none;stroke:#ECECEC;}
            .sst2{fill:none;stroke:url(#column_26_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;
            transform: rotateX(-90deg);
            transform-origin: 0 100%;
            transition: 1s;
            }
            .active .sst2{
              transform: rotateX(0);
            }
          path#_x32_015.st0(d='M94.2,373h-6.4v-0.8l1.1-1.1c0.7-0.7,1.3-1.4,1.8-1.9c0.5-0.5,0.8-1,1.1-1.3c0.7-0.9,1-1.7,1-2.5\
          c0-1.4-0.7-2.1-2.1-2.1c-0.7,0-1.5,0.3-2.2,0.9l-0.4-0.8c0.8-0.7,1.7-1,2.8-1c0.4,0,0.9,0.1,1.2,0.2c0.4,0.1,0.7,0.3,1,0.6\
          c0.3,0.3,0.5,0.6,0.6,0.9c0.1,0.4,0.2,0.8,0.2,1.2c0,0.9-0.3,1.8-1,2.8c-0.2,0.3-0.6,0.8-1,1.3c-0.4,0.5-1,1.1-1.6,1.7l-0.8,0.8v0\
          h4.7V373z M102.4,367.7c0,1.8-0.3,3.1-0.9,4.1c-0.6,0.9-1.5,1.4-2.6,1.4c-0.5,0-1-0.1-1.4-0.4c-0.4-0.3-0.8-0.6-1-1.1\
          c-0.3-0.5-0.5-1-0.7-1.7c-0.1-0.7-0.2-1.4-0.2-2.2s0.1-1.5,0.2-2.2c0.2-0.7,0.4-1.2,0.7-1.7c0.3-0.5,0.7-0.9,1.1-1.1\
          c0.4-0.3,0.9-0.4,1.5-0.4c0.5,0,1,0.1,1.4,0.4s0.8,0.6,1,1.1c0.3,0.5,0.5,1,0.6,1.7C102.4,366.1,102.4,366.9,102.4,367.7z\
          M101.2,367.8c0-2.9-0.7-4.4-2.2-4.4c-0.3,0-0.6,0.1-0.9,0.3c-0.3,0.2-0.5,0.5-0.7,0.9c-0.2,0.4-0.3,0.9-0.4,1.4s-0.2,1.1-0.2,1.8\
          c0,0.6,0,1.2,0.1,1.8s0.2,1,0.4,1.4s0.4,0.7,0.7,0.9c0.3,0.2,0.6,0.3,0.9,0.3c0.7,0,1.2-0.4,1.6-1.2S101.2,369.2,101.2,367.8z\
          M107.9,373h-1.2v-9.2l-1.8,1l-0.2-0.9l2.2-1.2h1.1V373z M117.8,369.6c0,0.5-0.1,1-0.3,1.4s-0.4,0.8-0.8,1.1s-0.7,0.6-1.2,0.7\
          c-0.5,0.2-1,0.3-1.5,0.3c-1,0-1.9-0.2-2.5-0.6l0.3-0.9c0.6,0.4,1.3,0.6,2.2,0.6c0.4,0,0.7-0.1,1-0.2s0.6-0.3,0.8-0.5\
          c0.2-0.2,0.4-0.5,0.5-0.8c0.1-0.3,0.2-0.6,0.2-1c0-1.6-1-2.4-2.9-2.4c-0.2,0-0.5,0-0.7,0c-0.2,0-0.5,0-0.7,0.1l0.7-4.9h4.8v1h-3.9\
          l-0.4,2.8c0.1,0,0.3,0,0.4,0c0.1,0,0.3,0,0.4,0c0.5,0,1,0.1,1.5,0.2c0.4,0.2,0.8,0.4,1.1,0.7c0.3,0.3,0.6,0.6,0.7,1\
          C117.7,368.7,117.8,369.1,117.8,369.6z')
          path#_x32_016.st0(d='M485.2,373h-6.4v-0.8l1.1-1.1c0.7-0.7,1.3-1.4,1.8-1.9c0.5-0.5,0.8-1,1.1-1.3\
          c0.7-0.9,1-1.7,1-2.5c0-1.4-0.7-2.1-2.1-2.1c-0.7,0-1.5,0.3-2.2,0.9l-0.4-0.8c0.8-0.7,1.7-1,2.8-1c0.4,0,0.9,0.1,1.2,0.2\
          c0.4,0.1,0.7,0.3,1,0.6c0.3,0.3,0.5,0.6,0.6,0.9c0.1,0.4,0.2,0.8,0.2,1.2c0,0.9-0.3,1.8-1,2.8c-0.2,0.3-0.6,0.8-1,1.3\
          c-0.4,0.5-1,1.1-1.6,1.7l-0.8,0.8v0h4.7V373z M493.4,367.7c0,1.8-0.3,3.1-0.9,4.1c-0.6,0.9-1.5,1.4-2.6,1.4c-0.5,0-1-0.1-1.4-0.4\
          c-0.4-0.3-0.8-0.6-1-1.1c-0.3-0.5-0.5-1-0.7-1.7s-0.2-1.4-0.2-2.2s0.1-1.5,0.2-2.2c0.2-0.7,0.4-1.2,0.7-1.7c0.3-0.5,0.7-0.9,1.1-1.1\
          c0.4-0.3,0.9-0.4,1.5-0.4c0.5,0,1,0.1,1.4,0.4c0.4,0.2,0.8,0.6,1,1.1c0.3,0.5,0.5,1,0.6,1.7C493.4,366.1,493.4,366.9,493.4,367.7z\
          M492.2,367.8c0-2.9-0.7-4.4-2.2-4.4c-0.3,0-0.6,0.1-0.9,0.3c-0.3,0.2-0.5,0.5-0.7,0.9c-0.2,0.4-0.3,0.9-0.4,1.4\
          c-0.1,0.5-0.2,1.1-0.2,1.8c0,0.6,0,1.2,0.1,1.8c0.1,0.5,0.2,1,0.4,1.4s0.4,0.7,0.7,0.9c0.3,0.2,0.6,0.3,0.9,0.3\
          c0.7,0,1.2-0.4,1.6-1.2S492.2,369.2,492.2,367.8z M498.9,373h-1.2v-9.2l-1.8,1l-0.2-0.9l2.2-1.2h1.1V373z M509.4,369.5\
          c0,0.5-0.1,1-0.2,1.4c-0.2,0.4-0.4,0.8-0.7,1.2s-0.7,0.6-1.1,0.8s-0.9,0.3-1.3,0.3c-0.5,0-1-0.1-1.4-0.3c-0.4-0.2-0.8-0.5-1.1-0.9\
          c-0.3-0.4-0.5-0.8-0.7-1.4c-0.2-0.5-0.3-1.1-0.3-1.8c0-0.9,0.1-1.7,0.4-2.5s0.6-1.4,1.1-2c0.5-0.6,1.1-1,1.8-1.4\
          c0.7-0.3,1.6-0.5,2.5-0.5l0,1h-0.2c-0.6,0-1.2,0.1-1.7,0.3c-0.5,0.2-1,0.5-1.4,0.8c-0.4,0.4-0.7,0.8-1,1.3c-0.3,0.5-0.4,1-0.5,1.6h0\
          c0.6-0.8,1.4-1.3,2.5-1.3c0.4,0,0.9,0.1,1.2,0.2s0.7,0.4,1,0.7s0.5,0.6,0.6,1.1S509.4,369,509.4,369.5z M508.1,369.6\
          c0-0.8-0.2-1.4-0.6-1.8s-0.9-0.7-1.6-0.7c-0.2,0-0.5,0-0.7,0.1s-0.5,0.2-0.7,0.4c-0.2,0.2-0.4,0.4-0.6,0.6c-0.1,0.2-0.2,0.5-0.2,0.8\
          c0,0.5,0.1,0.9,0.2,1.3c0.1,0.4,0.3,0.7,0.5,1c0.2,0.3,0.5,0.5,0.7,0.6c0.3,0.1,0.6,0.2,1,0.2c0.6,0,1.1-0.2,1.5-0.7\
          S508.1,370.4,508.1,369.6z')
          path#_x32_017.st0(d='M875.2,373h-6.4v-0.8l1.1-1.1c0.7-0.7,1.3-1.4,1.8-1.9c0.5-0.5,0.8-1,1.1-1.3\
          c0.7-0.9,1-1.7,1-2.5c0-1.4-0.7-2.1-2.1-2.1c-0.7,0-1.5,0.3-2.2,0.9l-0.4-0.8c0.8-0.7,1.7-1,2.8-1c0.4,0,0.9,0.1,1.2,0.2\
          c0.4,0.1,0.7,0.3,1,0.6c0.3,0.3,0.5,0.6,0.6,0.9c0.1,0.4,0.2,0.8,0.2,1.2c0,0.9-0.3,1.8-1,2.8c-0.2,0.3-0.6,0.8-1,1.3\
          c-0.4,0.5-1,1.1-1.6,1.7l-0.8,0.8v0h4.7V373z M883.4,367.7c0,1.8-0.3,3.1-0.9,4.1c-0.6,0.9-1.5,1.4-2.6,1.4c-0.5,0-1-0.1-1.4-0.4\
          c-0.4-0.3-0.8-0.6-1-1.1c-0.3-0.5-0.5-1-0.7-1.7c-0.1-0.7-0.2-1.4-0.2-2.2s0.1-1.5,0.2-2.2c0.2-0.7,0.4-1.2,0.7-1.7\
          c0.3-0.5,0.7-0.9,1.1-1.1c0.4-0.3,0.9-0.4,1.5-0.4c0.5,0,1,0.1,1.4,0.4c0.4,0.2,0.8,0.6,1,1.1c0.3,0.5,0.5,1,0.6,1.7\
          S883.4,366.9,883.4,367.7z M882.2,367.8c0-2.9-0.7-4.4-2.2-4.4c-0.3,0-0.6,0.1-0.9,0.3s-0.5,0.5-0.7,0.9c-0.2,0.4-0.3,0.9-0.4,1.4\
          s-0.2,1.1-0.2,1.8c0,0.6,0,1.2,0.1,1.8s0.2,1,0.4,1.4c0.2,0.4,0.4,0.7,0.7,0.9c0.3,0.2,0.6,0.3,0.9,0.3c0.7,0,1.2-0.4,1.6-1.2\
          C882,370.3,882.2,369.2,882.2,367.8z M888.9,373h-1.2v-9.2l-1.8,1l-0.2-0.9l2.2-1.2h1.1V373z M899.2,363.4l-4.5,9.6h-1.2l4.4-9.4h-5\
          v-1h6.3V363.4z')
          path#line.st1(d='M18,335h948')
          path#line_1_.st1(d='M0,294.5h984')
          path#line_2_.st1(d='M52,253h880')
          path#line_3_.st1(d='M0,211.5h984')
          path#line_4_.st1(d='M52,171h880')
          path#line_5_.st1(d='M0,130.5h984')
          path#line_6_.st1(d='M60,89h864')
          path#line_7_.st1(d='M0,48.5h984')
          path#line_8_.st1(d='M60,7h864')
          lineargradient#column_26_(gradientunits='userSpaceOnUse', x1='0', y1='311.084', x2='6.062339e-17', y2='310.0939', gradienttransform='matrix(1 0 0 -3.6124 102.5 1458.1366)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column.sst2(d='M102.5,338v-3.6')
          lineargradient#column_27_(gradientunits='userSpaceOnUse', x1='-9.094947e-13', y1='287.3148', x2='-9.094341e-13', y2='286.3248', gradienttransform='matrix(1 0 0 -276.3456 852.5 79459.8359)')
            stop(offset='0', style='stop-color:#00DCD6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_1_.sst2(d='M852.5,338V61.7')
          lineargradient#column_28_(gradientunits='userSpaceOnUse', x1='0', y1='288.0704', x2='6.062339e-17', y2='287.0804', gradienttransform='matrix(1 0 0 -81.2781 508.5 23670.5391)')
            stop(offset='0', style='stop-color:#00C3F1')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_2_.sst2(d='M508.5,338v-81.3')
          lineargradient#column_29_(gradientunits='userSpaceOnUse', x1='0', y1='287.8758', x2='6.062339e-17', y2='286.8857', gradienttransform='matrix(1 0 0 -99.3399 539.5 28836.2168)')
            stop(offset='0', style='stop-color:#00C6EE')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_3_.sst2(d='M539.5,338v-99.3')
          lineargradient#column_30_(gradientunits='userSpaceOnUse', x1='0', y1='287.7646', x2='6.062339e-17', y2='286.7745', gradienttransform='matrix(1 0 0 -113.7894 571.5 32968.7539)')
            stop(offset='0', style='stop-color:#00C7EC')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_4_.sst2(d='M571.5,338V224.2')
          lineargradient#column_31_(gradientunits='userSpaceOnUse', x1='0', y1='287.6881', x2='6.062339e-17', y2='286.6981', gradienttransform='matrix(1 0 0 -126.4326 602.5 36584.7266)')
            stop(offset='0', style='stop-color:#00C5EE')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_5_.sst2(d='M602.5,338V211.6')
          lineargradient#column_32_(gradientunits='userSpaceOnUse', x1='-9.094947e-13', y1='287.6296', x2='-9.094341e-13', y2='286.6396', gradienttransform='matrix(1 0 0 -138.1728 633.5 39942.418)')
            stop(offset='0', style='stop-color:#00CAE9')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_6_.sst2(d='M633.5,338V199.8')
          lineargradient#column_33_(gradientunits='userSpaceOnUse', x1='-9.094947e-13', y1='287.5667', x2='-9.094341e-13', y2='286.5766', gradienttransform='matrix(1 0 0 -153.5253 664.5 44333.2461)')
            stop(offset='0', style='stop-color:#00CBE8')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_7_.sst2(d='M664.5,338V184.5')
          lineargradient#column_34_(gradientunits='userSpaceOnUse', x1='-9.094947e-13', y1='287.489', x2='-9.094341e-13', y2='286.499', gradienttransform='matrix(1 0 0 -177.9088 696.5 51306.9062)')
            stop(offset='0', style='stop-color:#00CBE9')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_8_.sst2(d='M696.5,338V160.1')
          lineargradient#column_35_(gradientunits='userSpaceOnUse', x1='-9.094947e-13', y1='287.4481', x2='-9.094341e-13', y2='286.458', gradienttransform='matrix(1 0 0 -194.1644 727.5 55956.0117)')
            stop(offset='0', style='stop-color:#00CEE6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_9_.sst2(d='M727.5,338V143.8')
          lineargradient#column_36_(gradientunits='userSpaceOnUse', x1='-9.094947e-13', y1='287.4099', x2='-9.094341e-13', y2='286.4199', gradienttransform='matrix(1 0 0 -212.2262 758.5 61121.6914)')
            stop(offset='0', style='stop-color:#00D1E3')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_10_.sst2(d='M758.5,338V125.8')
          lineargradient#column_37_(gradientunits='userSpaceOnUse', x1='-9.094947e-13', y1='287.3719', x2='-9.094341e-13', y2='286.3819', gradienttransform='matrix(1 0 0 -233.9004 789.5 67320.5)')
            stop(offset='0', style='stop-color:#00D7DC')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_11_.sst2(d='M789.5,338V104.1')
          lineargradient#column_38_(gradientunits='userSpaceOnUse', x1='0', y1='288.2845', x2='6.062339e-17', y2='287.2944', gradienttransform='matrix(1 0 0 -67.7318 477.5 19796.2812)')
            stop(offset='0', style='stop-color:#00C3F1')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_12_.sst2(d='M477.5,338v-67.7')
          lineargradient#column_39_(gradientunits='userSpaceOnUse', x1='-9.094947e-13', y1='287.3478', x2='-9.094341e-13', y2='286.3577', gradienttransform='matrix(1 0 0 -250.156 821.5 71969.6094)')
            stop(offset='0', style='stop-color:#00DCD6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_13_.sst2(d='M821.5,338V87.8')
          lineargradient#column_40_(gradientunits='userSpaceOnUse', x1='0', y1='303.056', x2='6.062339e-17', y2='302.0659', gradienttransform='matrix(1 0 0 -5.4185 133.5 1974.7048)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_14_.sst2(d='M133.5,338v-5.4')
          lineargradient#column_41_(gradientunits='userSpaceOnUse', x1='0', y1='303.056', x2='6.062339e-17', y2='302.0659', gradienttransform='matrix(1 0 0 -5.4185 164.5 1974.7048)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_15_.sst2(d='M164.5,338v-5.4')
          lineargradient#column_42_(gradientunits='userSpaceOnUse', x1='0', y1='299.042', x2='6.062339e-17', y2='298.0519', gradienttransform='matrix(1 0 0 -7.2247 196.5 2491.2732)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_16_.sst2(d='M196.5,338v-7.2')
          lineargradient#column_43_(gradientunits='userSpaceOnUse', x1='0', y1='295.028', x2='6.062339e-17', y2='294.0379', gradienttransform='matrix(1 0 0 -10.8371 227.5 3524.4097)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_17_.sst2(d='M227.5,338v-10.8')
          lineargradient#column_44_(gradientunits='userSpaceOnUse', x1='0', y1='293.021', x2='6.062339e-17', y2='292.0309', gradienttransform='matrix(1 0 0 -14.4494 258.5 4557.5376)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_18_.sst2(d='M258.5,338v-14.4')
          lineargradient#column_45_(gradientunits='userSpaceOnUse', x1='0', y1='291.8168', x2='6.062339e-17', y2='290.8268', gradienttransform='matrix(1 0 0 -18.0618 289.5 5590.6743)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_19_.sst2(d='M289.5,338v-18.1')
          lineargradient#column_46_(gradientunits='userSpaceOnUse', x1='0', y1='290.4406', x2='6.062339e-17', y2='289.4505', gradienttransform='matrix(1 0 0 -25.2865 321.5 7656.9473)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_20_.sst2(d='M321.5,338v-25.3')
          lineargradient#column_47_(gradientunits='userSpaceOnUse', x1='0', y1='289.8334', x2='6.062339e-17', y2='288.8434', gradienttransform='matrix(1 0 0 -30.7051 352.5 9206.6523)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_21_.sst2(d='M352.5,338v-30.7')
          lineargradient#column_48_(gradientunits='userSpaceOnUse', x1='0', y1='289.1895', x2='6.062339e-17', y2='288.1994', gradienttransform='matrix(1 0 0 -39.736 383.5 11789.4854)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_22_.sst2(d='M383.5,338v-39.7')
          lineargradient#column_49_(gradientunits='userSpaceOnUse', x1='0', y1='288.9267', x2='6.062339e-17', y2='287.9367', gradienttransform='matrix(1 0 0 -45.1545 414.5 13339.1904)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_23_.sst2(d='M414.5,338v-45.2')
          lineargradient#column_50_(gradientunits='userSpaceOnUse', x1='0', y1='288.6328', x2='6.062339e-17', y2='287.6428', gradienttransform='matrix(1 0 0 -53.2823 446.5 15663.7432)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_24_.sst2(d='M446.5,338v-53.3')
          lineargradient#column_51_(gradientunits='userSpaceOnUse', x1='-9.094947e-13', y1='287.2992', x2='-9.094341e-13', y2='286.3091', gradienttransform='matrix(1 0 0 -290.795 883.5 83592.1797)')
            stop(offset='0', style='stop-color:#00DCD6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_25_.sst2(d='M883.5,337.8V47')
          path#_x31_40-000.st0(d='M3.7,1.4L3.7,1.4L2,2.4L1.8,1.8l2-1.2h0.7V11H3.7V1.4z M12.7,11V7.9H7.8V7.4l4.9-6.8h0.6v6.7\
          H15v0.6h-1.6V11H12.7z M12.7,7.3V3.1c0-0.5,0-1,0-1.5l0,0c-0.2,0.3-0.3,0.6-0.4,0.8L11.9,3L8.7,7.3v0H12.7z M15.9,5.8\
          c0-0.9,0.1-1.8,0.3-2.4c0.2-0.7,0.4-1.2,0.8-1.7s0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1\
          c0.3,0.4,0.5,1,0.7,1.6c0.2,0.7,0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4\
          c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7C16,7.4,15.9,6.7,15.9,5.8z M16.7,5.8c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5\
          c0.2,0.4,0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2s0.3-1,0.3-1.6c0.1-0.6,0.1-1,0.1-1.5\
          c0-0.7,0-1.3-0.1-1.9S21.2,2.8,21,2.4c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3\
          c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5C16.8,4.4,16.7,5.1,16.7,5.8z M27,5.8c0-0.9,0.1-1.8,0.3-2.4s0.4-1.2,0.8-1.7\
          c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6s0.2,1.4,0.2,2.3\
          c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7\
          S27,6.7,27,5.8z M27.8,5.8c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3\
          c0.5,0,1-0.2,1.3-0.5s0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6s0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9s-0.2-1.1-0.4-1.5\
          c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5\
          S27.8,5.1,27.8,5.8z M34.7,5.8c0-0.9,0.1-1.8,0.3-2.4s0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3\
          c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1s0.5,1,0.7,1.6c0.2,0.7,0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4\
          c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7S34.7,6.7,34.7,5.8z M35.5,5.8c0,0.7,0,1.4,0.1,2\
          c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2s0.3-1,0.3-1.6\
          c0.1-0.6,0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9S40,2.8,39.8,2.4c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3\
          c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5S35.5,5.1,35.5,5.8z M42.3,5.8c0-0.9,0.1-1.8,0.3-2.4c0.2-0.7,0.4-1.2,0.8-1.7\
          s0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6s0.2,1.4,0.2,2.3\
          c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7\
          S42.3,6.7,42.3,5.8z M43.1,5.8c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3\
          c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6s0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9s-0.2-1.1-0.4-1.5\
          c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1s-0.4,0.9-0.5,1.5\
          C43.2,4.4,43.1,5.1,43.1,5.8z')
          path#_x31_05-000.st0(d='M3.7,84.4L3.7,84.4l-1.7,1l-0.2-0.6l2-1.2h0.7V94H3.7V84.4z M8.3,88.8c0-0.9,0.1-1.8,0.3-2.4\
          s0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3s0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6\
          c0.2,0.7,0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1\
          c-0.3-0.5-0.5-1-0.7-1.7C8.3,90.4,8.3,89.7,8.3,88.8z M9,88.8c0,0.7,0,1.4,0.1,2s0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1\
          c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2s0.3-1,0.3-1.6c0.1-0.6,0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9\
          c-0.1-0.6-0.2-1.1-0.4-1.5s-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1s-0.4,0.9-0.5,1.5\
          C9.1,87.4,9,88.1,9,88.8z M21.7,84.3h-3.8l-0.5,3.3c0.2,0,0.5-0.1,0.9-0.1c0.4,0,0.7,0.1,1.2,0.2c0.4,0.1,0.8,0.3,1.1,0.5\
          c0.3,0.2,0.6,0.6,0.9,1c0.2,0.4,0.3,0.9,0.3,1.5c0,0.5-0.1,1-0.3,1.4c-0.2,0.4-0.4,0.8-0.7,1.1c-0.3,0.3-0.7,0.5-1.1,0.7\
          c-0.4,0.2-0.9,0.3-1.3,0.3c-0.5,0-1-0.1-1.4-0.2c-0.4-0.1-0.7-0.3-1-0.4l0.3-0.6c0.2,0.1,0.5,0.3,0.8,0.4c0.4,0.1,0.8,0.2,1.3,0.2\
          c0.4,0,0.7-0.1,1-0.2s0.6-0.3,0.8-0.6c0.2-0.2,0.4-0.5,0.6-0.8c0.1-0.3,0.2-0.7,0.2-1.1c0-0.8-0.2-1.5-0.7-2\
          c-0.5-0.5-1.2-0.7-2.3-0.7c-0.3,0-0.6,0-0.8,0c-0.2,0-0.4,0.1-0.6,0.1l0.7-4.6h4.4V84.3z M27,88.8c0-0.9,0.1-1.8,0.3-2.4\
          s0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6\
          c0.2,0.7,0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2s-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1\
          c-0.3-0.5-0.5-1-0.7-1.7C27.1,90.4,27,89.7,27,88.8z M27.8,88.8c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1\
          c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6s0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9\
          s-0.2-1.1-0.4-1.5c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1\
          c-0.2,0.4-0.4,0.9-0.5,1.5S27.8,88.1,27.8,88.8z M34.7,88.8c0-0.9,0.1-1.8,0.3-2.4s0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1\
          s0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3s0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6c0.2,0.7,0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2\
          s-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7C34.7,90.4,34.7,89.7,34.7,88.8z M35.5,88.8\
          c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5\
          c0.3-0.3,0.6-0.8,0.8-1.2s0.3-1,0.3-1.6c0.1-0.6,0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9s-0.2-1.1-0.4-1.5s-0.5-0.7-0.8-1\
          c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5S35.5,88.1,35.5,88.8z M42.3,88.8\
          c0-0.9,0.1-1.8,0.3-2.4c0.2-0.7,0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1s0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1\
          c0.3,0.4,0.5,1,0.7,1.6c0.2,0.7,0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4\
          c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7C42.4,90.4,42.3,89.7,42.3,88.8z M43.1,88.8c0,0.7,0,1.4,0.1,2s0.3,1.1,0.5,1.5\
          c0.2,0.4,0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6s0.1-1,0.1-1.5\
          c0-0.7,0-1.3-0.1-1.9s-0.2-1.1-0.4-1.5s-0.5-0.7-0.8-1s-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1\
          s-0.4,0.9-0.5,1.5C43.2,87.4,43.1,88.1,43.1,88.8z')
          path#_x37_0-000.st0(d='M6.9,165.6v0.5L2.3,176H1.6l4.5-9.7v0H1v-0.6H6.9z M8.3,170.8c0-0.9,0.1-1.8,0.3-2.4\
          c0.2-0.7,0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1s0.5,1,0.7,1.6\
          c0.2,0.7,0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1\
          s-0.5-1-0.7-1.7C8.3,172.4,8.3,171.7,8.3,170.8z M9,170.8c0,0.7,0,1.4,0.1,2s0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1\
          c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5s0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6c0.1-0.6,0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9\
          c-0.1-0.6-0.2-1.1-0.4-1.5s-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1\
          c-0.2,0.4-0.4,0.9-0.5,1.5C9.1,169.4,9,170.1,9,170.8z M19.3,170.8c0-0.9,0.1-1.8,0.3-2.4c0.2-0.7,0.4-1.2,0.8-1.7\
          c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6\
          c0.2,0.7,0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1\
          c-0.3-0.5-0.5-1-0.7-1.7C19.4,172.4,19.3,171.7,19.3,170.8z M20.1,170.8c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5\
          c0.2,0.4,0.5,0.7,0.8,1s0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5s0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6c0.1-0.6,0.1-1,0.1-1.5\
          c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5s-0.5-0.7-0.8-1s-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1\
          c-0.2,0.4-0.4,0.9-0.5,1.5C20.2,169.4,20.1,170.1,20.1,170.8z M27,170.8c0-0.9,0.1-1.8,0.3-2.4c0.2-0.7,0.4-1.2,0.8-1.7\
          c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6s0.2,1.4,0.2,2.3\
          c0,1.9-0.3,3.3-0.9,4.2s-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7\
          C27.1,172.4,27,171.7,27,170.8z M27.8,170.8c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1\
          c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5s0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6c0.1-0.6,0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9\
          c-0.1-0.6-0.2-1.1-0.4-1.5c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1\
          c-0.2,0.4-0.4,0.9-0.5,1.5S27.8,170.1,27.8,170.8z M34.7,170.8c0-0.9,0.1-1.8,0.3-2.4c0.2-0.7,0.4-1.2,0.8-1.7\
          c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1s0.5,1,0.7,1.6c0.2,0.7,0.2,1.4,0.2,2.3\
          c0,1.9-0.3,3.3-0.9,4.2s-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7\
          C34.7,172.4,34.7,171.7,34.7,170.8z M35.5,170.8c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1s0.6,0.3,1,0.3\
          c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6c0.1-0.6,0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9\
          c-0.1-0.6-0.2-1.1-0.4-1.5s-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1\
          c-0.2,0.4-0.4,0.9-0.5,1.5S35.5,170.1,35.5,170.8z')
          path#_x33_5-000.st0(d='M1,255.9c0.2,0.1,0.5,0.3,0.9,0.4c0.4,0.1,0.8,0.2,1.3,0.2c0.5,0,0.9-0.1,1.3-0.2\
          c0.3-0.2,0.6-0.4,0.8-0.6c0.2-0.2,0.3-0.5,0.4-0.8c0.1-0.3,0.1-0.5,0.1-0.8c0-0.4-0.1-0.8-0.3-1.1c-0.2-0.3-0.4-0.6-0.7-0.8\
          c-0.3-0.2-0.6-0.3-1-0.4c-0.4-0.1-0.7-0.1-1.1-0.1H2.1V251h0.7c0.3,0,0.6,0,0.9-0.1c0.3-0.1,0.6-0.2,0.8-0.4\
          c0.3-0.2,0.5-0.4,0.6-0.7c0.2-0.3,0.2-0.6,0.2-0.9c0-0.2,0-0.5-0.1-0.7s-0.2-0.4-0.4-0.6s-0.4-0.3-0.6-0.4s-0.6-0.2-0.9-0.2\
          c-0.4,0-0.8,0.1-1.1,0.2s-0.6,0.3-0.9,0.5l-0.3-0.6c0.2-0.2,0.6-0.4,1-0.5c0.4-0.2,0.9-0.3,1.4-0.3s0.9,0.1,1.2,0.2\
          c0.3,0.1,0.6,0.3,0.8,0.6c0.2,0.2,0.4,0.5,0.5,0.8c0.1,0.3,0.1,0.6,0.1,0.9c0,0.5-0.2,1-0.5,1.5s-0.8,0.8-1.4,1v0\
          c0.3,0.1,0.6,0.2,0.9,0.3s0.5,0.3,0.7,0.6c0.2,0.2,0.4,0.5,0.5,0.8c0.1,0.3,0.2,0.7,0.2,1c0,0.4-0.1,0.8-0.2,1.1\
          c-0.1,0.4-0.4,0.7-0.6,1s-0.6,0.5-1.1,0.7c-0.4,0.2-0.9,0.3-1.5,0.3c-0.5,0-1-0.1-1.4-0.2c-0.4-0.1-0.8-0.3-1-0.5L1,255.9z\
          M14.1,247.3h-3.8l-0.5,3.3c0.2,0,0.5-0.1,0.9-0.1c0.4,0,0.7,0.1,1.2,0.2s0.8,0.3,1.1,0.5c0.3,0.2,0.6,0.6,0.9,1\
          c0.2,0.4,0.3,0.9,0.3,1.5c0,0.5-0.1,1-0.3,1.4s-0.4,0.8-0.7,1.1c-0.3,0.3-0.7,0.5-1.1,0.7c-0.4,0.2-0.9,0.3-1.3,0.3\
          c-0.5,0-1-0.1-1.4-0.2c-0.4-0.1-0.7-0.3-1-0.4l0.3-0.6c0.2,0.1,0.5,0.3,0.8,0.4c0.4,0.1,0.8,0.2,1.3,0.2c0.4,0,0.7-0.1,1-0.2\
          c0.3-0.1,0.6-0.3,0.8-0.6c0.2-0.2,0.4-0.5,0.6-0.8c0.1-0.3,0.2-0.7,0.2-1.1c0-0.8-0.2-1.5-0.7-2s-1.2-0.7-2.3-0.7\
          c-0.3,0-0.6,0-0.8,0s-0.4,0.1-0.6,0.1l0.7-4.6h4.4V247.3z M19.3,251.8c0-0.9,0.1-1.8,0.3-2.4c0.2-0.7,0.4-1.2,0.8-1.7\
          c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6\
          c0.2,0.7,0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1\
          c-0.3-0.5-0.5-1-0.7-1.7S19.3,252.7,19.3,251.8z M20.1,251.8c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1\
          c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6c0.1-0.6,0.1-1,0.1-1.5\
          c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5s-0.5-0.7-0.8-1s-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1\
          c-0.2,0.4-0.4,0.9-0.5,1.5C20.2,250.4,20.1,251.1,20.1,251.8z M27,251.8c0-0.9,0.1-1.8,0.3-2.4c0.2-0.7,0.4-1.2,0.8-1.7\
          c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6s0.2,1.4,0.2,2.3\
          c0,1.9-0.3,3.3-0.9,4.2s-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7S27,252.7,27,251.8z\
          M27.8,251.8c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5\
          c0.3-0.3,0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6c0.1-0.6,0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5\
          c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5\
          S27.8,251.1,27.8,251.8z M34.7,251.8c0-0.9,0.1-1.8,0.3-2.4c0.2-0.7,0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3\
          c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1s0.5,1,0.7,1.6c0.2,0.7,0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2s-1.4,1.4-2.4,1.4\
          c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7S34.7,252.7,34.7,251.8z M35.5,251.8c0,0.7,0,1.4,0.1,2\
          c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2s0.3-1,0.3-1.6\
          c0.1-0.6,0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5s-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4\
          c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5S35.5,251.1,35.5,251.8z')
          path#_x30_.st0(d='M0.6,333.8c0-0.9,0.1-1.8,0.3-2.4s0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1s0.8-0.3,1.3-0.3\
          c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6s0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2s-1.4,1.4-2.4,1.4\
          c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1s-0.5-1-0.7-1.7S0.6,334.7,0.6,333.8z M1.4,333.8c0,0.7,0,1.4,0.1,2s0.3,1.1,0.5,1.5\
          s0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6c0.1-0.6,0.1-1,0.1-1.5\
          c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3\
          c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5C1.4,332.4,1.4,333.1,1.4,333.8z')
          path#_x31_40-000_1_.st0(d='M938.3,1.4L938.3,1.4l-1.7,1l-0.2-0.6l2-1.2h0.7V11h-0.7V1.4z M947.3,11V7.9h-4.8V7.4\
          l4.9-6.8h0.6v6.7h1.6v0.6H948V11H947.3z M947.3,7.3V3.1c0-0.5,0-1,0-1.5l0,0c-0.2,0.3-0.3,0.6-0.4,0.8L946.5,3l-3.1,4.3v0H947.3z\
          M950.5,5.8c0-0.9,0.1-1.8,0.3-2.4s0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3\
          c0.4,0.2,0.7,0.5,1,1s0.5,1,0.7,1.6s0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4\
          c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7S950.5,6.7,950.5,5.8z M951.3,5.8c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5\
          c0.2,0.4,0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2s0.3-1,0.3-1.6s0.1-1,0.1-1.5\
          c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3\
          c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5C951.4,4.4,951.3,5.1,951.3,5.8z M961.6,5.8c0-0.9,0.1-1.8,0.3-2.4\
          s0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6\
          s0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1\
          c-0.3-0.5-0.5-1-0.7-1.7C961.7,7.4,961.6,6.7,961.6,5.8z M962.4,5.8c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5\
          c0.2,0.4,0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5s0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6s0.1-1,0.1-1.5\
          c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3\
          c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5S962.4,5.1,962.4,5.8z M969.3,5.8c0-0.9,0.1-1.8,0.3-2.4s0.4-1.2,0.8-1.7\
          c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6s0.2,1.4,0.2,2.3\
          c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7\
          C969.3,7.4,969.3,6.7,969.3,5.8z M970,5.8c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3\
          c0.5,0,1-0.2,1.3-0.5s0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6s0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9s-0.2-1.1-0.4-1.5\
          c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5\
          S970,5.1,970,5.8z M976.9,5.8c0-0.9,0.1-1.8,0.3-2.4s0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3\
          c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6s0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4\
          c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7C977,7.4,976.9,6.7,976.9,5.8z M977.7,5.8c0,0.7,0,1.4,0.1,2\
          c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5s0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6\
          s0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9s-0.2-1.1-0.4-1.5c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3\
          c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5S977.7,5.1,977.7,5.8z')
          path#_x31_05-000_1_.st0(d='M938.3,84.4L938.3,84.4l-1.7,1l-0.2-0.6l2-1.2h0.7V94h-0.7V84.4z M942.8,88.8\
          c0-0.9,0.1-1.8,0.3-2.4c0.2-0.7,0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3s0.7,0.5,1,1\
          c0.3,0.4,0.5,1,0.7,1.6c0.2,0.7,0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2s-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4\
          c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7C942.9,90.4,942.8,89.7,942.8,88.8z M943.6,88.8c0,0.7,0,1.4,0.1,2s0.3,1.1,0.5,1.5\
          c0.2,0.4,0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2s0.3-1,0.3-1.6s0.1-1,0.1-1.5\
          c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5s-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3\
          c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5C943.7,87.4,943.6,88.1,943.6,88.8z M956.3,84.3h-3.8l-0.5,3.3\
          c0.2,0,0.5-0.1,0.9-0.1c0.4,0,0.7,0.1,1.2,0.2s0.8,0.3,1.1,0.5c0.3,0.2,0.6,0.6,0.9,1c0.2,0.4,0.3,0.9,0.3,1.5c0,0.5-0.1,1-0.3,1.4\
          s-0.4,0.8-0.7,1.1c-0.3,0.3-0.7,0.5-1.1,0.7c-0.4,0.2-0.9,0.3-1.3,0.3c-0.5,0-1-0.1-1.4-0.2c-0.4-0.1-0.7-0.3-1-0.4l0.3-0.6\
          c0.2,0.1,0.5,0.3,0.8,0.4c0.4,0.1,0.8,0.2,1.3,0.2c0.4,0,0.7-0.1,1-0.2s0.6-0.3,0.8-0.6c0.2-0.2,0.4-0.5,0.6-0.8\
          c0.1-0.3,0.2-0.7,0.2-1.1c0-0.8-0.2-1.5-0.7-2c-0.5-0.5-1.2-0.7-2.3-0.7c-0.3,0-0.6,0-0.8,0c-0.2,0-0.4,0.1-0.6,0.1l0.7-4.6h4.4\
          V84.3z M961.6,88.8c0-0.9,0.1-1.8,0.3-2.4s0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3\
          s0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6c0.2,0.7,0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4\
          c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7C961.7,90.4,961.6,89.7,961.6,88.8z M962.4,88.8\
          c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5\
          c0.3-0.3,0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6s0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5\
          c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5\
          S962.4,88.1,962.4,88.8z M969.3,88.8c0-0.9,0.1-1.8,0.3-2.4s0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3\
          c0.4,0,0.9,0.1,1.2,0.3s0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6c0.2,0.7,0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4\
          c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7C969.3,90.4,969.3,89.7,969.3,88.8z M970,88.8\
          c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5\
          c0.3-0.3,0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6s0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9s-0.2-1.1-0.4-1.5c-0.2-0.4-0.5-0.7-0.8-1\
          c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5S970,88.1,970,88.8z M976.9,88.8\
          c0-0.9,0.1-1.8,0.3-2.4s0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3s0.7,0.5,1,1\
          c0.3,0.4,0.5,1,0.7,1.6c0.2,0.7,0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4\
          c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7C977,90.4,976.9,89.7,976.9,88.8z M977.7,88.8c0,0.7,0,1.4,0.1,2\
          c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2\
          c0.2-0.5,0.3-1,0.3-1.6s0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9s-0.2-1.1-0.4-1.5s-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4\
          c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5S977.7,88.1,977.7,88.8z')
          path#_x37_0-000_1_.st0(d='M949.2,165.6v0.5l-4.6,9.9h-0.7l4.5-9.7v0h-5.2v-0.6H949.2z M950.5,170.8\
          c0-0.9,0.1-1.8,0.3-2.4c0.2-0.7,0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3\
          c0.4,0.2,0.7,0.5,1,1s0.5,1,0.7,1.6s0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2s-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4\
          c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7C950.6,172.4,950.5,171.7,950.5,170.8z M951.3,170.8c0,0.7,0,1.4,0.1,2\
          s0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1s0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6\
          c0.1-0.6,0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4\
          c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5C951.4,169.4,951.3,170.1,951.3,170.8z M961.6,170.8\
          c0-0.9,0.1-1.8,0.3-2.4c0.2-0.7,0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3\
          c0.4,0.2,0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6s0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4\
          c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7C961.7,172.4,961.6,171.7,961.6,170.8z M962.4,170.8\
          c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1s0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5s0.6-0.8,0.8-1.2\
          c0.2-0.5,0.3-1,0.3-1.6c0.1-0.6,0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5c-0.2-0.4-0.5-0.7-0.8-1\
          c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5S962.4,170.1,962.4,170.8z\
          M969.3,170.8c0-0.9,0.1-1.8,0.3-2.4c0.2-0.7,0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3\
          c0.4,0.2,0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6s0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4\
          c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7C969.3,172.4,969.3,171.7,969.3,170.8z M970,170.8\
          c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1s0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5s0.6-0.8,0.8-1.2\
          c0.2-0.5,0.3-1,0.3-1.6c0.1-0.6,0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5c-0.2-0.4-0.5-0.7-0.8-1\
          c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5S970,170.1,970,170.8z\
          M976.9,170.8c0-0.9,0.1-1.8,0.3-2.4c0.2-0.7,0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3\
          c0.4,0.2,0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6s0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4\
          c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7C977,172.4,976.9,171.7,976.9,170.8z M977.7,170.8\
          c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5c0.2,0.4,0.5,0.7,0.8,1s0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5s0.6-0.8,0.8-1.2\
          c0.2-0.5,0.3-1,0.3-1.6c0.1-0.6,0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5s-0.5-0.7-0.8-1\
          c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5S977.7,170.1,977.7,170.8z')
          path#_x33_5-000_1_.st0(d='M943.3,255.9c0.2,0.1,0.5,0.3,0.9,0.4c0.4,0.1,0.8,0.2,1.3,0.2c0.5,0,0.9-0.1,1.3-0.2\
          c0.3-0.2,0.6-0.4,0.8-0.6c0.2-0.2,0.3-0.5,0.4-0.8c0.1-0.3,0.1-0.5,0.1-0.8c0-0.4-0.1-0.8-0.3-1.1c-0.2-0.3-0.4-0.6-0.7-0.8\
          c-0.3-0.2-0.6-0.3-1-0.4c-0.4-0.1-0.7-0.1-1.1-0.1h-0.6V251h0.7c0.3,0,0.6,0,0.9-0.1c0.3-0.1,0.6-0.2,0.8-0.4s0.5-0.4,0.6-0.7\
          c0.2-0.3,0.2-0.6,0.2-0.9c0-0.2,0-0.5-0.1-0.7c-0.1-0.2-0.2-0.4-0.4-0.6c-0.2-0.2-0.4-0.3-0.6-0.4s-0.6-0.2-0.9-0.2\
          c-0.4,0-0.8,0.1-1.1,0.2s-0.6,0.3-0.9,0.5l-0.3-0.6c0.2-0.2,0.6-0.4,1-0.5c0.4-0.2,0.9-0.3,1.4-0.3c0.5,0,0.9,0.1,1.2,0.2\
          c0.3,0.1,0.6,0.3,0.8,0.6c0.2,0.2,0.4,0.5,0.5,0.8c0.1,0.3,0.1,0.6,0.1,0.9c0,0.5-0.2,1-0.5,1.5c-0.3,0.4-0.8,0.8-1.4,1v0\
          c0.3,0.1,0.6,0.2,0.9,0.3c0.3,0.2,0.5,0.3,0.7,0.6c0.2,0.2,0.4,0.5,0.5,0.8c0.1,0.3,0.2,0.7,0.2,1c0,0.4-0.1,0.8-0.2,1.1\
          c-0.1,0.4-0.4,0.7-0.6,1c-0.3,0.3-0.6,0.5-1.1,0.7c-0.4,0.2-0.9,0.3-1.5,0.3c-0.5,0-1-0.1-1.4-0.2c-0.4-0.1-0.8-0.3-1-0.5\
          L943.3,255.9z M956.3,247.3h-3.8l-0.5,3.3c0.2,0,0.5-0.1,0.9-0.1c0.4,0,0.7,0.1,1.2,0.2s0.8,0.3,1.1,0.5c0.3,0.2,0.6,0.6,0.9,1\
          c0.2,0.4,0.3,0.9,0.3,1.5c0,0.5-0.1,1-0.3,1.4s-0.4,0.8-0.7,1.1c-0.3,0.3-0.7,0.5-1.1,0.7c-0.4,0.2-0.9,0.3-1.3,0.3\
          c-0.5,0-1-0.1-1.4-0.2c-0.4-0.1-0.7-0.3-1-0.4l0.3-0.6c0.2,0.1,0.5,0.3,0.8,0.4c0.4,0.1,0.8,0.2,1.3,0.2c0.4,0,0.7-0.1,1-0.2\
          s0.6-0.3,0.8-0.6c0.2-0.2,0.4-0.5,0.6-0.8c0.1-0.3,0.2-0.7,0.2-1.1c0-0.8-0.2-1.5-0.7-2c-0.5-0.5-1.2-0.7-2.3-0.7\
          c-0.3,0-0.6,0-0.8,0c-0.2,0-0.4,0.1-0.6,0.1l0.7-4.6h4.4V247.3z M961.6,251.8c0-0.9,0.1-1.8,0.3-2.4c0.2-0.7,0.4-1.2,0.8-1.7\
          c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6s0.2,1.4,0.2,2.3\
          c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7\
          C961.7,253.4,961.6,252.7,961.6,251.8z M962.4,251.8c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5s0.5,0.7,0.8,1\
          c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6c0.1-0.6,0.1-1,0.1-1.5\
          c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3\
          c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5S962.4,251.1,962.4,251.8z M969.3,251.8c0-0.9,0.1-1.8,0.3-2.4\
          c0.2-0.7,0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1\
          c0.3,0.4,0.5,1,0.7,1.6s0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4\
          c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7C969.3,253.4,969.3,252.7,969.3,251.8z M970,251.8c0,0.7,0,1.4,0.1,2\
          c0.1,0.6,0.3,1.1,0.5,1.5s0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6\
          c0.1-0.6,0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4\
          c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5S970,251.1,970,251.8z M976.9,251.8c0-0.9,0.1-1.8,0.3-2.4\
          c0.2-0.7,0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3c0.4,0.2,0.7,0.5,1,1\
          c0.3,0.4,0.5,1,0.7,1.6s0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2c-0.6,0.9-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4\
          c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7C977,253.4,976.9,252.7,976.9,251.8z M977.7,251.8c0,0.7,0,1.4,0.1,2\
          c0.1,0.6,0.3,1.1,0.5,1.5s0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6\
          c0.1-0.6,0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5s-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4\
          c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5S977.7,251.1,977.7,251.8z')
          path#_x30__1_.st0(d='M976.9,333.8c0-0.9,0.1-1.8,0.3-2.4s0.4-1.2,0.8-1.7c0.3-0.4,0.7-0.8,1.1-1\
          c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.9,0.1,1.2,0.3s0.7,0.5,1,1c0.3,0.4,0.5,1,0.7,1.6s0.2,1.4,0.2,2.3c0,1.9-0.3,3.3-0.9,4.2\
          c-0.6,0.9-1.4,1.4-2.4,1.4c-0.4,0-0.9-0.1-1.2-0.4c-0.4-0.2-0.7-0.6-1-1c-0.3-0.5-0.5-1-0.7-1.7C977,335.4,976.9,334.7,976.9,333.8z\
          M977.7,333.8c0,0.7,0,1.4,0.1,2c0.1,0.6,0.3,1.1,0.5,1.5s0.5,0.7,0.8,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.2,1.3-0.5\
          c0.3-0.3,0.6-0.8,0.8-1.2c0.2-0.5,0.3-1,0.3-1.6c0.1-0.6,0.1-1,0.1-1.5c0-0.7,0-1.3-0.1-1.9c-0.1-0.6-0.2-1.1-0.4-1.5\
          c-0.2-0.4-0.5-0.7-0.8-1c-0.3-0.2-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.6,0.6-0.8,1c-0.2,0.4-0.4,0.9-0.5,1.5\
          C977.8,332.4,977.7,333.1,977.7,333.8z')
    li.tabs__item
      figure.tabs__figure 
        figcaption Инвестиции
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 -6 984 374' style=' enable-background:new 0 0 984 374;', xml:space='preserve').tabs__img
          style(type='text/css').
            .st0{fill:#232323;}
            .st1{fill:none;stroke:#ECECEC;}
            .st2{fill:none;stroke:url(#column_24_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st3{fill:none;stroke:url(#column_25_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st4{fill:none;stroke:url(#column_26_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st5{fill:none;stroke:url(#column_27_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st6{fill:none;stroke:url(#column_28_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st7{fill:none;stroke:url(#column_29_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st8{fill:none;stroke:url(#column_30_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st9{fill:none;stroke:url(#column_31_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st10{fill:none;stroke:url(#column_32_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st11{fill:none;stroke:url(#column_33_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st12{fill:none;stroke:url(#column_34_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st13{fill:none;stroke:url(#column_35_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st14{fill:none;stroke:url(#column_36_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st15{fill:none;stroke:url(#column_37_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st16{fill:none;stroke:url(#column_38_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st17{fill:none;stroke:url(#column_39_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st18{fill:none;stroke:url(#column_40_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st19{fill:none;stroke:url(#column_41_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st20{fill:none;stroke:url(#column_42_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st21{fill:none;stroke:url(#column_43_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st22{fill:none;stroke:url(#column_44_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st23{fill:none;stroke:url(#column_45_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st24{fill:none;stroke:url(#column_46_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
            .st25{fill:none;stroke:url(#column_47_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;}
          title graphgic
          desc Created with Sketch.
          path#_x32_015.st0(d='M94.2,367h-6.4v-0.8l1.1-1.1c0.7-0.7,1.3-1.4,1.8-1.9c0.5-0.5,0.8-1,1.1-1.3c0.7-0.9,1-1.7,1-2.5\
          c0-1.4-0.7-2.1-2.1-2.1c-0.7,0-1.5,0.3-2.2,0.9l-0.4-0.8c0.8-0.7,1.7-1,2.8-1c0.4,0,0.9,0.1,1.2,0.2c0.4,0.1,0.7,0.3,1,0.6\
          c0.3,0.3,0.5,0.6,0.6,0.9c0.1,0.4,0.2,0.8,0.2,1.2c0,0.9-0.3,1.8-1,2.8c-0.2,0.3-0.6,0.8-1,1.3c-0.4,0.5-1,1.1-1.6,1.7l-0.8,0.8v0\
          h4.7V367z M102.4,361.7c0,1.8-0.3,3.1-0.9,4.1c-0.6,0.9-1.5,1.4-2.6,1.4c-0.5,0-1-0.1-1.4-0.4c-0.4-0.3-0.8-0.6-1-1.1\
          c-0.3-0.5-0.5-1-0.7-1.7c-0.1-0.7-0.2-1.4-0.2-2.2s0.1-1.5,0.2-2.2c0.2-0.7,0.4-1.2,0.7-1.7c0.3-0.5,0.7-0.9,1.1-1.1\
          c0.4-0.3,0.9-0.4,1.5-0.4c0.5,0,1,0.1,1.4,0.4s0.8,0.6,1,1.1c0.3,0.5,0.5,1,0.6,1.7C102.4,360.1,102.4,360.9,102.4,361.7z\
          M101.2,361.8c0-2.9-0.7-4.4-2.2-4.4c-0.3,0-0.6,0.1-0.9,0.3c-0.3,0.2-0.5,0.5-0.7,0.9c-0.2,0.4-0.3,0.9-0.4,1.4s-0.2,1.1-0.2,1.8\
          c0,0.6,0,1.2,0.1,1.8s0.2,1,0.4,1.4s0.4,0.7,0.7,0.9c0.3,0.2,0.6,0.3,0.9,0.3c0.7,0,1.2-0.4,1.6-1.2S101.2,363.2,101.2,361.8z\
          M107.9,367h-1.2v-9.2l-1.8,1l-0.2-0.9l2.2-1.2h1.1V367z M117.8,363.6c0,0.5-0.1,1-0.3,1.4s-0.4,0.8-0.8,1.1s-0.7,0.6-1.2,0.7\
          c-0.5,0.2-1,0.3-1.5,0.3c-1,0-1.9-0.2-2.5-0.6l0.3-0.9c0.6,0.4,1.3,0.6,2.2,0.6c0.4,0,0.7-0.1,1-0.2s0.6-0.3,0.8-0.5\
          c0.2-0.2,0.4-0.5,0.5-0.8c0.1-0.3,0.2-0.6,0.2-1c0-1.6-1-2.4-2.9-2.4c-0.2,0-0.5,0-0.7,0c-0.2,0-0.5,0-0.7,0.1l0.7-4.9h4.8v1h-3.9\
          l-0.4,2.8c0.1,0,0.3,0,0.4,0c0.1,0,0.3,0,0.4,0c0.5,0,1,0.1,1.5,0.2c0.4,0.2,0.8,0.4,1.1,0.7c0.3,0.3,0.6,0.6,0.7,1\
          C117.7,362.7,117.8,363.1,117.8,363.6z')
          path#_x32_016.st0(d='M485.2,367h-6.4v-0.8l1.1-1.1c0.7-0.7,1.3-1.4,1.8-1.9c0.5-0.5,0.8-1,1.1-1.3\
          c0.7-0.9,1-1.7,1-2.5c0-1.4-0.7-2.1-2.1-2.1c-0.7,0-1.5,0.3-2.2,0.9l-0.4-0.8c0.8-0.7,1.7-1,2.8-1c0.4,0,0.9,0.1,1.2,0.2\
          c0.4,0.1,0.7,0.3,1,0.6c0.3,0.3,0.5,0.6,0.6,0.9c0.1,0.4,0.2,0.8,0.2,1.2c0,0.9-0.3,1.8-1,2.8c-0.2,0.3-0.6,0.8-1,1.3\
          c-0.4,0.5-1,1.1-1.6,1.7l-0.8,0.8v0h4.7V367z M493.4,361.7c0,1.8-0.3,3.1-0.9,4.1c-0.6,0.9-1.5,1.4-2.6,1.4c-0.5,0-1-0.1-1.4-0.4\
          c-0.4-0.3-0.8-0.6-1-1.1c-0.3-0.5-0.5-1-0.7-1.7s-0.2-1.4-0.2-2.2s0.1-1.5,0.2-2.2c0.2-0.7,0.4-1.2,0.7-1.7c0.3-0.5,0.7-0.9,1.1-1.1\
          c0.4-0.3,0.9-0.4,1.5-0.4c0.5,0,1,0.1,1.4,0.4c0.4,0.2,0.8,0.6,1,1.1c0.3,0.5,0.5,1,0.6,1.7C493.4,360.1,493.4,360.9,493.4,361.7z\
          M492.2,361.8c0-2.9-0.7-4.4-2.2-4.4c-0.3,0-0.6,0.1-0.9,0.3c-0.3,0.2-0.5,0.5-0.7,0.9c-0.2,0.4-0.3,0.9-0.4,1.4\
          c-0.1,0.5-0.2,1.1-0.2,1.8c0,0.6,0,1.2,0.1,1.8c0.1,0.5,0.2,1,0.4,1.4s0.4,0.7,0.7,0.9c0.3,0.2,0.6,0.3,0.9,0.3\
          c0.7,0,1.2-0.4,1.6-1.2S492.2,363.2,492.2,361.8z M498.9,367h-1.2v-9.2l-1.8,1l-0.2-0.9l2.2-1.2h1.1V367z M509.4,363.5\
          c0,0.5-0.1,1-0.2,1.4c-0.2,0.4-0.4,0.8-0.7,1.2s-0.7,0.6-1.1,0.8s-0.9,0.3-1.3,0.3c-0.5,0-1-0.1-1.4-0.3c-0.4-0.2-0.8-0.5-1.1-0.9\
          c-0.3-0.4-0.5-0.8-0.7-1.4c-0.2-0.5-0.3-1.1-0.3-1.8c0-0.9,0.1-1.7,0.4-2.5s0.6-1.4,1.1-2c0.5-0.6,1.1-1,1.8-1.4\
          c0.7-0.3,1.6-0.5,2.5-0.5l0,1h-0.2c-0.6,0-1.2,0.1-1.7,0.3c-0.5,0.2-1,0.5-1.4,0.8c-0.4,0.4-0.7,0.8-1,1.3c-0.3,0.5-0.4,1-0.5,1.6h0\
          c0.6-0.8,1.4-1.3,2.5-1.3c0.4,0,0.9,0.1,1.2,0.2s0.7,0.4,1,0.7s0.5,0.6,0.6,1.1S509.4,363,509.4,363.5z M508.1,363.6\
          c0-0.8-0.2-1.4-0.6-1.8s-0.9-0.7-1.6-0.7c-0.2,0-0.5,0-0.7,0.1s-0.5,0.2-0.7,0.4c-0.2,0.2-0.4,0.4-0.6,0.6c-0.1,0.2-0.2,0.5-0.2,0.8\
          c0,0.5,0.1,0.9,0.2,1.3c0.1,0.4,0.3,0.7,0.5,1c0.2,0.3,0.5,0.5,0.7,0.6c0.3,0.1,0.6,0.2,1,0.2c0.6,0,1.1-0.2,1.5-0.7\
          S508.1,364.4,508.1,363.6z')
          path#_x32_017.st0(d='M875.2,367h-6.4v-0.8l1.1-1.1c0.7-0.7,1.3-1.4,1.8-1.9c0.5-0.5,0.8-1,1.1-1.3\
          c0.7-0.9,1-1.7,1-2.5c0-1.4-0.7-2.1-2.1-2.1c-0.7,0-1.5,0.3-2.2,0.9l-0.4-0.8c0.8-0.7,1.7-1,2.8-1c0.4,0,0.9,0.1,1.2,0.2\
          c0.4,0.1,0.7,0.3,1,0.6c0.3,0.3,0.5,0.6,0.6,0.9c0.1,0.4,0.2,0.8,0.2,1.2c0,0.9-0.3,1.8-1,2.8c-0.2,0.3-0.6,0.8-1,1.3\
          c-0.4,0.5-1,1.1-1.6,1.7l-0.8,0.8v0h4.7V367z M883.4,361.7c0,1.8-0.3,3.1-0.9,4.1c-0.6,0.9-1.5,1.4-2.6,1.4c-0.5,0-1-0.1-1.4-0.4\
          c-0.4-0.3-0.8-0.6-1-1.1c-0.3-0.5-0.5-1-0.7-1.7c-0.1-0.7-0.2-1.4-0.2-2.2s0.1-1.5,0.2-2.2c0.2-0.7,0.4-1.2,0.7-1.7\
          c0.3-0.5,0.7-0.9,1.1-1.1c0.4-0.3,0.9-0.4,1.5-0.4c0.5,0,1,0.1,1.4,0.4c0.4,0.2,0.8,0.6,1,1.1c0.3,0.5,0.5,1,0.6,1.7\
          S883.4,360.9,883.4,361.7z M882.2,361.8c0-2.9-0.7-4.4-2.2-4.4c-0.3,0-0.6,0.1-0.9,0.3s-0.5,0.5-0.7,0.9c-0.2,0.4-0.3,0.9-0.4,1.4\
          s-0.2,1.1-0.2,1.8c0,0.6,0,1.2,0.1,1.8s0.2,1,0.4,1.4c0.2,0.4,0.4,0.7,0.7,0.9c0.3,0.2,0.6,0.3,0.9,0.3c0.7,0,1.2-0.4,1.6-1.2\
          C882,364.3,882.2,363.2,882.2,361.8z M888.9,367h-1.2v-9.2l-1.8,1l-0.2-0.9l2.2-1.2h1.1V367z M899.2,357.4l-4.5,9.6h-1.2l4.4-9.4h-5\
          v-1h6.3V357.4z')
          path#line.st1(d='M18,329h948')
          path#line_1_.st1(d='M0,288.5h984')
          path#line_2_.st1(d='M45,247h894')
          path#line_3_.st1(d='M0,205.5h984')
          path#line_4_.st1(d='M45,165h894')
          path#line_5_.st1(d='M0,124.5h984')
          path#line_6_.st1(d='M45,83h894')
          path#line_7_.st1(d='M0,42.5h984')
          path#line_8_.st1(d='M45,1h894')
          lineargradient#column_24_(gradientunits='userSpaceOnUse', x1='-9.094947e-13', y1='284.2804', x2='-9.094341e-13', y2='283.2903', gradienttransform='matrix(1 0 0 -299.5801 853.5 85197.2578)')
            stop(offset='0', style='stop-color:#00DCD6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column.st4(d='M853.5,332.1V32.5')
          lineargradient#column_25_(gradientunits='userSpaceOnUse', x1='0', y1='285.4734', x2='6.062339e-17', y2='284.4834', gradienttransform='matrix(1 0 0 -57.0099 509.5 16549.8672)')
            stop(offset='0', style='stop-color:#00C3F1')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_1_.st4(d='M509.5,332.1v-57')
          lineargradient#column_26_(gradientunits='userSpaceOnUse', x1='0', y1='284.8864', x2='6.062339e-17', y2='283.8963', gradienttransform='matrix(1 0 0 -94.7686 540.5 27235.5879)')
            stop(offset='0', style='stop-color:#00C6EE')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_2_.st4(d='M540.5,332.1v-94.8')
          lineargradient#column_27_(gradientunits='userSpaceOnUse', x1='0', y1='284.9569', x2='6.062339e-17', y2='283.9668', gradienttransform='matrix(1 0 0 -87.7838 572.5 25258.8809)')
            stop(offset='0', style='stop-color:#00C7EC')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_3_.st5(d='M572.5,332.1v-87.8')
          lineargradient#column_28_(gradientunits='userSpaceOnUse', x1='0', y1='285.5678', x2='6.062339e-17', y2='284.5777', gradienttransform='matrix(1 0 0 -53.5785 603.5 15578.7832)')
            stop(offset='0', style='stop-color:#00C5EE')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_4_.st6(d='M603.5,332.1v-53.6')
          lineargradient#column_29_(gradientunits='userSpaceOnUse', x1='0', y1='285.0956', x2='6.062339e-17', y2='284.1056', gradienttransform='matrix(1 0 0 -76.6671 634.5 22112.8672)')
            stop(offset='0', style='stop-color:#00CAE9')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_5_.st7(d='M634.5,332.1v-76.7')
          lineargradient#column_30_(gradientunits='userSpaceOnUse', x1='0', y1='284.788', x2='6.062339e-17', y2='283.7979', gradienttransform='matrix(1 0 0 -106.5972 665.5 30583.0938)')
            stop(offset='0', style='stop-color:#00CBE8')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_6_.st8(d='M665.5,332.1V225.5')
          lineargradient#column_31_(gradientunits='userSpaceOnUse', x1='-9.094947e-13', y1='284.4576', x2='-9.094341e-13', y2='283.4675', gradienttransform='matrix(1 0 0 -183.5785 697.5 52368.7812)')
            stop(offset='0', style='stop-color:#00CBE9')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_7_.st9(d='M697.5,332.1V148.5')
          lineargradient#column_32_(gradientunits='userSpaceOnUse', x1='0', y1='284.8032', x2='6.062339e-17', y2='283.8132', gradienttransform='matrix(1 0 0 -104.5785 728.5 30011.7832)')
            stop(offset='0', style='stop-color:#00CEE6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_8_.st10(d='M728.5,332.1V227.5')
          lineargradient#column_33_(gradientunits='userSpaceOnUse', x1='0', y1='284.6582', x2='6.062339e-17', y2='283.6682', gradienttransform='matrix(1 0 0 -127.6137 759.5 36530.7617)')
            stop(offset='0', style='stop-color:#00D1E3')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_9_.st11(d='M759.5,332.1V204.5')
          lineargradient#column_34_(gradientunits='userSpaceOnUse', x1='-9.094947e-13', y1='284.4626', x2='-9.094341e-13', y2='283.4725', gradienttransform='matrix(1 0 0 -181.5812 790.5 51803.5586)')
            stop(offset='0', style='stop-color:#00D7DC')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_10_.st12(d='M790.5,332.1V150.5')
          lineargradient#column_35_(gradientunits='userSpaceOnUse', x1='0', y1='286.484', x2='6.062339e-17', y2='285.494', gradienttransform='matrix(1 0 0 -33.8159 478.5 9985.9658)')
            stop(offset='0', style='stop-color:#00C3F1')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_11_.st13(d='M478.5,332.1v-33.8')
          lineargradient#column_36_(gradientunits='userSpaceOnUse', x1='-9.094947e-13', y1='284.4551', x2='-9.094341e-13', y2='283.465', gradienttransform='matrix(1 0 0 -184.5785 822.5 52651.7812)')
            stop(offset='0', style='stop-color:#00DCD6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_12_.st14(d='M822.5,332.1V147.5')
          lineargradient#column_37_(gradientunits='userSpaceOnUse', x1='0', y1='301.0909', x2='6.062339e-17', y2='300.1009', gradienttransform='matrix(1 0 0 -4.9149 164.5 1806.9913)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_13_.st15(d='M164.5,332.1v-4.9')
          lineargradient#column_38_(gradientunits='userSpaceOnUse', x1='0', y1='307.1519', x2='6.062339e-17', y2='306.1619', gradienttransform='matrix(1 0 0 -3.6282 197.5 1442.8604)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_14_.st16(d='M197.5,332.1v-3.6')
          lineargradient#column_39_(gradientunits='userSpaceOnUse', x1='0', y1='307.1519', x2='6.062339e-17', y2='306.1619', gradienttransform='matrix(1 0 0 -3.6282 228.5 1442.8604)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_15_.st17(d='M228.5,332.1v-3.6')
          lineargradient#column_40_(gradientunits='userSpaceOnUse', x1='0', y1='297.2297', x2='6.062339e-17', y2='296.2397', gradienttransform='matrix(1 0 0 -6.3493 259.5 2212.9402)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_16_.st18(d='M259.5,332.1v-6.3')
          lineargradient#column_41_(gradientunits='userSpaceOnUse', x1='0', y1='297.2297', x2='6.062339e-17', y2='296.2397', gradienttransform='matrix(1 0 0 -6.3493 290.5 2212.9402)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_17_.st19(d='M290.5,332.1v-6.3')
          lineargradient#column_42_(gradientunits='userSpaceOnUse', x1='0', y1='299.0579', x2='6.062339e-17', y2='298.0679', gradienttransform='matrix(1 0 0 -5.5785 322.5 1994.7828)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_18_.st20(d='M322.5,332.1v-5.6')
          lineargradient#column_43_(gradientunits='userSpaceOnUse', x1='0', y1='299.0579', x2='6.062339e-17', y2='298.0679', gradienttransform='matrix(1 0 0 -5.5785 353.5 1994.7828)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_19_.st21(d='M353.5,332.1v-5.6')
          lineargradient#column_44_(gradientunits='userSpaceOnUse', x1='0', y1='294.2898', x2='6.062339e-17', y2='293.2997', gradienttransform='matrix(1 0 0 -8.1635 384.5 2726.3354)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_20_.st22(d='M384.5,332.1v-8.2')
          lineargradient#column_45_(gradientunits='userSpaceOnUse', x1='0', y1='294.2898', x2='6.062339e-17', y2='293.2997', gradienttransform='matrix(1 0 0 -8.1635 415.5 2726.3354)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_21_.st23(d='M415.5,332.1v-8.2')
          lineargradient#column_46_(gradientunits='userSpaceOnUse', x1='0', y1='289.7484', x2='6.062339e-17', y2='288.7584', gradienttransform='matrix(1 0 0 -14.6127 447.5 4551.4814)')
            stop(offset='0', style='stop-color:#00BEF6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_22_.st24(d='M447.5,332.1v-14.6')
          lineargradient#column_47_(gradientunits='userSpaceOnUse', x1='-9.094947e-13', y1='284.4435', x2='-9.094341e-13', y2='283.4534', gradienttransform='matrix(1 0 0 -189.4031 884.5 54016.9727)')
            stop(offset='0', style='stop-color:#00DCD6')
            stop(offset='1', style='stop-color:#00B6FF')
          path#column_23_.st25(d='M884.5,331.9V142.5')
