include ../common/mixins
include ./mNav
header.header
	.container
		a(href="/").header__logo 
			img(src="pictures/logo.png", alt="SkyWay")
		+nav('')
		include lk_link
		.localization__item.localization__item_active
			a(href="#").localization__link 
				.flag.flag-ru
				span.localization__text RU
	.localization
		.container
			- 
				var items = {
					'EN': 'en',
					'DE': 'de',
					'RU': 'ru',
					'LT': 'lt',
					'CZ': 'cz',
					'FR': 'fr',
					'HU': 'hu',
					'SK': 'sk',
					'PL': 'pl',
					'ET': 'et',
					'ES': 'es',
					'LV': 'lv'
				}
			ul.localization__list
				each icon, title in items
					li.localization__item
						a(href="#").localization__link 
							i(class=`flag-${icon}`).flag.
							|#{title}