head
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	meta(charset='UTF-8')
	title SkyWay
	//- link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic" rel="stylesheet")
	link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500&amp;subset=cyrillic")
	link(rel='stylesheet' href="css/main.css")
	link(rel="icon" href="pictures/favicon.ico")
