section.how-it-works
  .container
    h1.title.how-it-works__title Как работает фонд
    span.title-subtext Фонд работает с большим количеством частных инфесторов с минимальными вложениями от 15$
  .how-it-works__wrap
    img(src="pictures/heads_big.gif" alt="Инвесторы").how-it-works__img
    img(src="pictures/heads_small.gif" alt="Как работают инвестиции").how-it-works__img.how-it-works__img_rotate
    .how-it-works__img-wrap_center
      img(src="pictures/logo_blue.png" alt="SkyWay")
