section.last.last_webinar
  .container
    .fi
      h1.title.last__title Ближайший вебинар
      span.title-subtext.title-subtext_white 11 апреля в 10:00 MСК
    .last__img-wrap.fi
      img(src="img/webinar_speeker.jpg", alt="Имя спикера")
    .fi
      .last__text
        p Онлайн вебинар на тему инвестиций в прект SkyWay. Будет выступать Евгений Петров - главный партнер в Москве. На мероприятии мы рассмотрим модель работы инвестиций. Приходите!
      a(href="#").last__link.link-button.slide-hover  
        span УЧАСТВОВАТЬ
        .hover
      br
      a(href="#").last__link_sublink СМОТРЕТЬ ВСЕ ВЕБИНАРЫ