section.map
  .container
    .fsi
      h1.title.map__title=title
      span.title-subtext=subtext
    div(data-points='[[48.8543141,2.3643445],[48.428679, 35.038826]]').gmap#gmap.slideUp
  script.
    var initMap = function (){
      var uluru = {lat: 45, lng: 35};
      var map = new google.maps.Map(document.getElementById('gmap'), {
        zoom: 2,
        center: uluru,
        scrollwheel: false
      });
      let arr = JSON.parse(document.getElementById('gmap').getAttribute('data-points'));
      var icon = new google.maps.MarkerImage(
              'pictures/mark.svg',
              null,
              new google.maps.Point(0, 0),
              new google.maps.Point(10, 10)
          );
      arr.forEach(function (el, index, arr) {
        let position = { lat: el[0], lng: el[1] };
        new google.maps.Marker({
          position: position,
          map: map,
          icon: icon
        }) 
      });
    }
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0n25qwRMEPwzCHfjG2UyqdL4rnl3sedU&callback=initMap")
