mixin nav(mod)
  nav(class=mod).nav
    .nav__burger-link
      -for(var i = 0; i< 3; i++)
        i.nav__burger-link__icon
    .nav__cover
    ul.nav__list
      -
        var items = [
          ['about.html','О компании'],
          ['technology.html','Технология'],
          ['for_investors.html','Инвесторам'],
          ['for_partners.html','Партнерам'],
          ['news.html','Новости'],
          ['contacts.html','Контакты']
        ]
      each item in items
        li.nav__item
          a(href=`${item[0]}`).nav__link= item[1]