mixin pageTitle(titleText, titleSubtext, mod)
  section(class= mod === ''? '': `page-title_${mod}`).page-title
    h1.title.page-title__title= titleText
    if titleSubtext 
      span.title-subtext=titleSubtext