div.named-icons
  ul.named-icons__list
    - var items = [['briefcase','140 000','инветоров'],['hands','5000','активных партнеров'],['earth','100 стран','7000 городов']]
    each item in items
      li.named-icons__item
        +icon(item[0],'')
        span=item[1]
        span=item[2]