section.news
  .container
    .fsi
      h1.news__title.title Новости SkyWay
    .news__articles.slideUp
      -for(var i=2; i; i--)
        article.news__article.news__article_big
          a(href="article.html").news__link
            .news__img-wrap
              img(src="img/news1.jpg", alt="Event title").news__img
              .news__img-cover
                +icon('play','')
            .news__data
              h1 Заголoвок новости
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam facilis dolorum debitis, repellendus veniam? Cupiditate, dignissimos recusandae sint vel cum.
              p Lorem ipsum dolor sit amet.
            .news__article__footer
              .news__article__footer__left
                span 13.03.17
              .news__article__footer__right
                ul.news__article__attrs
                  -var data = ['star','start_stop','calendar','tooltip']
                  each item in data
                    li.news__article__attr
                      +icon(item,'')
  .carousel.slideUp
    a(href="#").carousel__prev
      +icon('arr_prev','')
    .carousel__wrap
      .carousel__items
        -for(var i=6; i; i--)
          article.news__article.carousel__item.news__article_small
            a(href="article.html").news__link
              .news__img-wrap
                img(src="img/news1.jpg", alt="Event title").news__img
                .news__img-cover
                  +icon('play','')
              .news__data
                h1 Заголoвок новости
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam facilis dolorum debitis, repellendus veniam? Cupiditate, dignissimos recusandae sint vel cum.
                p Lorem ipsum dolor sit amet.
              .news__article__footer
                .news__article__footer__left
                  span 13.03.17
                .news__article__footer__right
                  ul.news__article__attrs
                    -var data = ['star','start_stop','calendar','tooltip']
                    each item in data
                      li.news__article__attr
                        +icon(item,'')
    a(href="#").carousel__next
      +icon('arr_prev','')