section.news.news_small
  h1.title Новостные выпуски SkyWay Capital
  .news__articles
    -for(var i=4; i; i--)
      article.news__article_small.news__article.slideUp
        a(href="article.html").news__link 
          .news__img-wrap
            img(src="img/news1.jpg", alt="Event title").news__img
            .news__img-cover
              +icon('play','')
          .news__data
            h1 Заголoвок новости
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam facilis dolorum debitis, repellendus veniam? Cupiditate, dignissimos recusandae sint vel cum.
            p Lorem ipsum dolor sit amet.
          .news__article__footer
            .news__article__footer__left
              span 13.03.17
            .news__article__footer__right
              ul.news__article__attrs
                -var data = ['star','start_stop','calendar','tooltip']
                each item in data
                  li.news__article__attr
                    +icon(item,'')