//- .page-preloader#pagePreloader
//-   style.
//-     .page-preloader{
//-       width: 100vw;
//-       height: 100vh;
//-       position: fixed;
//-       z-index: 1000;
//-       top: 0; 
//-       bottom: 0;
//-       background: rgba(255,255,255,1);
//-       display: flex;
//-       align-items: center;
//-       justify-content: center;
//-     }

//-   img(src="pictures/preloader.gif", alt="").page-preloader__img