section.park
  h1.title Экотехнопарк
  span.title-subtext Строительство парка ведётся в Беларуси на участке площадью 35 гектаров рядом с городом Марьина Горка. SkyWay — это способ передвижения, соответствующий стандартам 21 века, призванный сделать мир чище и безопаснее.
  .park__wrap
    img(src="pictures/techpark.jpg", alt="Экотехнопарк").park__img
    ul.park__list
      -for(i=7; i; i--)
        li.park__item
          +icon('mark','')
          +icon('tooltipArr','')
          .park__tooltip
            img(src="img/tooltip_img.jpg", alt="Подпись").park__tooltip__img
            span.park__tooltip__text Подпись
  a(href="#", title="title").park__link.link-button.link-button_blue.slide-hover 
    span СМОТРЕТЬ ВИДЕО
    .hover