section.products
	.container
		.fsi
			h1.products__title.title=title
			if subtext
				span.title-subtext=subtext
	.slider.products__slider
		.products__slider__wrap.slideUp
			a(href="#").slider__prev 
				+icon('arr_prev','')
			div.slider__slides
				-for(i=0; i<4; i++)
					div(class= i===0? 'slider__slide_active': '').products__slider__slide.slider__slide
						.products__product
							img(src=`img/product${i+1}.png`, alt="SkyWay").products__slider__img
							.products__slide__right
								ul.products__slide__attr-list
									-
										var items = [
											['Скорость','до 150 километров в час'],
											['Производительность','более 25 000 пассажиров в час'],
											['Максимальный уклон','45%']
										]
									each item in items
											li.products__slide__attr-item
												span.products__slide__attr-title=item[0]
												span.products__slide__attr-val=item[1]
								.gallery
									ul.gallery__list
											-for(var j=1;j<4;j++)
												li.gallery__item
													img(src=`img/0${i+1}-0${j}_thumb.jpg`, data-src=`img/0${i+1}-0${j}.jpg` alt="SkyWay")
			a(href="#").slider__next 
				+icon('arr_prev','')
		ul.slider__dots-list.products__slider__dots-list.slideUp
				-var items = ['НАВЕСНОЙ',"ПОДВЕСНОЙ","ГРУЗОВОЙ","ВЫСОКОСКОРОСТНОЙ"]
				each item in items
						li.products__slider__dots-item
							a(href="#").products__slider__dots-link.slider__dots-link.slide-hover
								span= item
								.hover &nbsp;