section.progress
		.conteiner
			.fsi
				h1.progress__title.title  Этапы готовности SkyWay
				span.title-subtext
						| Мы разделили проект на 15 этапов: от подготовки документации до первых государственных и 
						| частных заказов. Сейчас проект находится на 9 этапе.
		.slider.slider_default
			.container
					.progress__progress-bar.slideUp
							.progress__legeng
									i.time-line
									.progress__legend__top
											span Разработка технологии
											span Строительство Экотехнопарка
											span Внедрение и продажа 
									.progress__legend__bottom
											span 1997
											span 2014
											span 2018 
							.progress__items
									ul.progress__list
											li.progress__bar__item.progress__bar__item_big
											-for(var i=1;i<16;i++)
													li.progress__bar__item=i
											li.progress__bar__item.progress__bar__item_big
			.slider__wrap.slideUp
				a(href="#").slider__prev 
					+icon('arr_prev','')
				div.slider__slides
					-for(var i=0; i < 17; i++)
						div.slider__slide.progress__slide.slider__slide_active
							img(src=`img/${i}-min.png`, alt="Стадия развития технологии SkyWay").progress__img
							.progress__text
								h2=`${i} Демонстрация транспорта`
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias eveniet, dignissimos corporis! A molestiae ullam esse, nihil quaerat, tempore, fugit laborum hic magnam totam autem illum maxime excepturi eum aliquam earum veniam similique. Cumque ullam obcaecati cum quis, atque libero. Distinctio, nihil libero, dignissimos adipisci quasi iure quae sunt corporis officia exercitationem temporibus omnis est harum id fugit nemo velit nesciunt sapiente? Dolorum omnis, soluta obcaecati esse magni vitae quae quasi non iste veritatis, veniam enim voluptatibus sint nam. Corporis consequatur accusamus, aspernatur obcaecati itaque quo! Minima iste culpa, officiis hic soluta id reiciendis possimus est numquam ab. Est, obcaecati!
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab non vitae ratione ex consectetur illo, inventore. Doloribus animi rerum error facere id eos nisi similique perspiciatis vero, architecto dicta atque aliquid, quos exercitationem enim recusandae deleniti? Numquam at quis commodi dicta necessitatibus quam aliquid inventore, delectus, aliquam esse excepturi! Ad!
				a(href="#").slider__next 
					+icon('arr_prev','')