extends tabs 
block header
  h1.title Представители в разных странах
block dots
  .dots.dots_countrys
    ul.dots__list
      -
        var items = {
          'EN': 'en',
          'DE': 'de',
          'RU': 'ru',
          'LT': 'lt',
          'CZ': 'cz',
          'FR': 'fr',
          'HU': 'hu',
          'SK': 'sk',
          'PL': 'pl',
          'ET': 'et',
          'ES': 'es',
          'LV': 'lv'
        }
      each icon,title in items
        li.dots__item
          a(href="#").dots__link
            i(class=`flag-${icon}`).flag
            span= title
block tabs
  ul.tabs__list
    li.tabs__item.tabs__item_active
      .container.representatives
        ul.representatives__list
          -for(var i = 12; i; i--)
            li.representatives__item
              .representatives__img-wrap
                img(src="img/team1.jpg", alt="name").representatives__img
              .representatives__item__data
                span.representatives__item__title Алексей Романов
                span.representatives__item__text_small Региональный лидер
                span Страна: Россия
                span Регион: Казань, Татарстан
                span Skype: 
                  a(href="call:ralex.m", title="title").representatives__link ralex.m
                span E-mail: 
                  a(href="mailto:rswsystems.kzn@gmail.com", title="title").representatives__link rswsystems.kzn@gmail.com
                span Тел.: 
                  a(href="tel:79872900371", title="title").representatives__link +7 987 290 03 71
      li.tabs__item.tabs__item_active
        .container.representatives
          ul.representatives__list
            -for(var i = 4; i; i--)
              li.representatives__item
                .representatives__img-wrap
                  img(src="img/team1.jpg", alt="name").representatives__img
                .representatives__item__data
                  span.representatives__item__title Алексей Романов
                  span.representatives__item__text_small Региональный лидер
                  span Страна: Россия
                  span Регион: Казань, Татарстан
                  span Skype: 
                    a(href="call:ralex.m", title="title").representatives__link ralex.m
                  span E-mail: 
                    a(href="mailto:rswsystems.kzn@gmail.com", title="title").representatives__link rswsystems.kzn@gmail.com
                  span Тел.: 
                    a(href="tel:79872900371", title="title").representatives__link +7 987 290 03 71
  .preloader
    img(src="pictures/preloader.gif", alt="loading...")