.tabs
  .fsi
    block header
      h1.tabs__title.title Tabs title
      span.title-subtext
  block dots
    ul.dots__list.slideUp
      each item in dots 
        li.dots__item
          a(href="#").dots__link.slide-hover=item
            .hover
  block tabs  
    ul.tabs__list
      block items
        li.tabs__item