section.team
  .container
    .fsi
      h1.title.team__title Команда SkyWay Capital
      span.title-subtext Ключевые лица нашего фонда
    ul(data-show-start='6').team__list.show-more-container
      -for(var i=15; i--; i)
        li.team__item.slideUp
          figure.team__figure
            .team__img-wrap
              img(src="img/team1.jpg" alt="Our Team!").team__img 
            figcaption.team__name Евгений Кудряшов
            span.team__position Директор инвестиционной компании SkyWay Capital
    button(data-opened-text="СКРЫТЬ" data-closed-text="ПОКАЗАТЬ ЕЩЕ").team__more-button.show-more-button ПОКАЗАТЬ ЕЩЕ