.tooltips
  h1.title.fsi Что такое SkyWay
  .dots
    ul.dots__list.slideUp
      - var items = ['ПУТЕВАЯ СТРУКТУРА',"ПОДВИЖНОЙ СОСТАВ","ИНФРАСТРУКТУРА"]
      each item in items 
        li.dots__item
          a(href="#").dots__link.slide-hover
            span=item
            .hover
    .tooltips__wrap.slideUp
      img(src="pictures/tooltips1.png", alt="Схема SkyWay").tooltips__img
      ul.tooltips__list
        li.tooltips__item
          +icon('mark','')
          +icon('tooltipArr','')
          .tooltips__tooltip
            h2 Путевая структуpа
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor accusantium laboriosam quos similique maiores, quis adipisci tempora aut expedita voluptas necessitatibus pariatur alias! Qui odio incidunt fuga ut, voluptates aliquid temporibus eius iusto ullam atque laudantium, expedita quam perferendis quos!
        li.tooltips__item
          +icon('mark','')
          +icon('tooltipArr','')
          .tooltips__tooltip
            h2 Подвижной состав
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor accusantium laboriosam quos similique maiores, quis adipisci tempora aut expedita voluptas necessitatibus pariatur alias! Qui odio incidunt fuga ut, voluptates aliquid temporibus eius iusto ullam atque laudantium, expedita quam perferendis quos!
        li.tooltips__item
          +icon('mark','')
          +icon('tooltipArr','')
          .tooltips__tooltip
            h2 Инфраструктура
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor accusantium laboriosam quos similique maiores, quis adipisci tempora aut expedita voluptas necessitatibus pariatur alias! Qui odio incidunt fuga ut, voluptates aliquid temporibus eius iusto ullam atque laudantium, expedita quam perferendis quos!\
