include ../common/mixins
section.video
    .container
        .fsi
            h1.video__title.title Видео о SkyWay
            span.title-subtext Короткое описание видео, чтобы заинтересовать пользователя. 
                | Приглашение к просмотру. Всего несколько строк.
            a(href="#").video__link.slide-hover 
                span ПОДРОБНЕЕ О ТЕХНОЛОГИИ
                .hover &nbsp;
        .video__wrap.slideUp
            div(data-width="1280" data-height="720" data-key="JSqGUtbBosc").iframe#frame   
            .video__cover